input[type="text"] {
    border-radius: 3px;
    border: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.callback-form-bg {
    background-color: #ffc63d;
    border-radius: 10px;
    padding: 36px;
    background-image: -moz-linear-gradient(
        105deg,
        rgb(255, 176, 62) 0%,
        rgb(255, 201, 56) 100%
    );
    background-image: -webkit-linear-gradient(
        105deg,
        rgb(255, 176, 62) 0%,
        rgb(255, 201, 56) 100%
    );
    background-image: -ms-linear-gradient(
        105deg,
        rgb(255, 176, 62) 0%,
        rgb(255, 201, 56) 100%
    );
    box-shadow: 0px 13px 24px 0px rgba(203, 81, 0, 0.28);
}

.callback-form {
    color: #fff;

    .title {
        font-size: 25px;
        font-weight: bold;
    }

    .subtitle {
        font-size: 14px;
    }

    input,
    .btn {
        display: block;
        width: 100%;
    }
}
