body {
    font-family: "Gotham Pro";
    font-size: 14px;
    line-height: 1.2;
    color: #222222;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    &:hover {
        text-decoration: none;
    }
}

@include media-breakpoint-up(xl) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.blue-bg {
    background: #e9fafb;
}

.dark-bg {
    background: #f9f9f9;
}

h1 {
}

h3,
.h3 {
    font-weight: bold;
    font-size: 44px;
}

h4,
.h4 {
    font-size: 24px;
    font-weight: 300;
}

.text-center {
    text-align: center;
}

@include media-breakpoint-up(lg) {
    .dark-bg {
        background: #fff;
    }
}

@include media-breakpoint-down(md) {
    .blue-bg {
        background: #fff;
    }
}
