.discount-page {
    .discount-page-title {
        padding-top: 20px;
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 20px;
    }
    .discount-page-phone {
        color: #ffc938;
        padding-top: 20px;
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 20px;
    }
}
