.footer {
    background: #0f1d25;
    a {
        color: #fff;
    }
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.subfooter {
    color: #6b6b6b;
    background: #091217;

    span {
        display: inline-block;
        margin-right: 10px;
    }
}
