.material {
    padding-top: 50px;
    padding-bottom: 50px;

    .row {
        padding-bottom: 10px;
        .image {
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: block;
            }
        }
        .title {
            padding-bottom: 20px;
            font-weight: bold;
            font-size: 24px;
        }
        .text {
            font-size: 18px;
        }
        .size-price {
            padding-top: 20px;
            font-size: 18px;
            padding-bottom: 10px;
        }
        .properties {
            //width: 280px;
            padding-left: 30px;
            background: #e9fafb;
            line-height: 35px;
            font-size: 14px;
        }
    }
}
.material-plus {
    background: #f9f9f9;
    .material-plus-name {
        .item {
            border: #e4e4e4 solid 1px;
            border-radius: 10px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 10px;
            margin-right: 10px;
            background: #fff;
            height: 400px;

            .image {
                height: 130px;
                padding-top: 20px;
                padding-bottom: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    display: block;
                }
            }

            .title {
                height: 50px;
                font-weight: bold;
            }
            .price {
                color: #fec340;
                padding-top: 20px;
            }
        }
    }
}
.delivery {
    background-image: url(/assets/theme/images/delivery.png);
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    //background: #e9fafb;
    .irkutsk {
        font-weight: bold;
        padding-bottom: 10px;
        font-size: 24px;
    }
    .irkutsk-price {
        font-weight: normal;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .russia {
        font-weight: bold;
        padding-bottom: 10px;
        font-size: 24px;
    }
    .russia-price {
        font-weight: normal;
        padding-bottom: 10px;
        font-size: 18px;
    }
}
