.materialy-dla-restavracii {
    .podpis {
        font-size: 18px;
        width: 520px;
        padding-bottom: 20px;
    }
    .button-block {
        .btn-dark-outline {
            color: #222222;
            background: #ececec;
        }
    }
}
