$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1230px
) !default;

$blue: #37cfd8;
$bg-gray: #f3f3f3;

@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import url("/assets/theme/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css");
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/cocoen/dist/css/cocoen.min.css";
@import "node_modules/responsive-tabs/css/responsive-tabs.css";
@import "node_modules/sass-burger/burger";

@import url("/assets/theme/fonts/stylesheet.css");

*:focus {
    outline: none !important;
}

@mixin opensans() {
    font-family: "Open Sans", sans-serif;
}

@import "styles/common";
@import "styles/btns";
@import "styles/header";
@import "styles/footer";

@import "styles/index/index-header";
@import "styles/index/services";
@import "styles/index/results";
@import "styles/index/reviews";
@import "styles/index/about";
@import "styles/index/steps";
@import "styles/index/questions";
@import "styles/index/products.scss";
@import "styles/index/new-wanna.scss";
@import "styles/index/diplomas.scss";
@import "styles/index/index-map.scss";
@import "styles/discount-page.scss";
@import "styles/index/blog-o-restavracii.scss";
@import "styles/material.scss";
@import "styles/callback-form";
@import "styles/restavracia-vann-stakrilom.scss";
@import "styles/index/ekrany-pod-wannu.scss";
@import "styles/materialy-dla-restavracii.scss";
@import "styles/price.scss";
@import "styles/statja.scss";
@import "styles/otziv.scss";
@import "styles/cart.scss";
@import "styles/contacts.scss";
@import "styles/modals.scss";
