.about {
    padding-top: 55px;
    font-size: 18px;
    padding-bottom: 50px;
    .h3 {
        margin-bottom: 45px;
    }
    .h5 {
        font-weight: bold;
        padding-bottom: 30px;
        font-size: 24px;
    }
    .item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .caption {
        padding-top: 10px;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 1.4em;
            position: relative;
            &:before {
                display: block;
                content: "";
                position: absolute;
                background: #ffc938;
                width: 16px;
                height: 4px;
                border-radius: 2px;
                top: 8px;
                left: -40px;
            }
        }
    }
}

.about-images-col {
    padding-left: 27px;
    padding-top: 2px;
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 80px;
        margin-bottom: 10px;
        &:before {
            display: block;
            position: absolute;
            content: "";
            border-radius: 50%;
            background: #ffffff;
            width: 70px;
            height: 70px;
            left: 50%;
            bottom: -10px;
        }
        img {
            position: relative;
            z-index: 1;
        }
    }
    .caption {
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
    }
    .item {
        margin-bottom: 25px;
    }
}

.about-item-1 {
    margin-left: -80px;
}

.about-item-2 {
    margin-left: 20px;
}

.about-item-3 {
    margin-left: -40px;
}

.about-item-4 {
    margin-left: 30px;
}

@include media-breakpoint-down(lg) {
    .about {
        font-size: 16px;
    }
}
