.blog {
    padding-left: 370px;
    padding-right: 370px;
    .row {
        .item {
            width: 370px;
            border: #e90f0f solid 1px;
            border-radius: 10px;
            padding-bottom: 10px;
            .title {
                padding-top: 10px;
                font-weight: bold;
            }
        }
    }
}
