.diplomas {
    margin-top: -210px;
    padding-bottom: 100px;
    .h3 {
        margin-bottom: 50px;
    }
}

.diplomas-slider {
    overflow: hidden;
    .slick-slide {
        min-height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 400px;
            border: #fff solid 6px;
            transition: all 300ms ease;
        }
    }
    .slick-arrow {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        height: 75px;
        width: 75px;
        margin-top: -47px;
        border-radius: 50%;
        background-color: #fff;
        background-image: url(/assets/theme/images/results-arr.png);
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -9999px;
        border: none;
        cursor: pointer;
    }
    .slick-prev {
        margin-left: -220px;
    }
    .slick-next {
        margin-left: 140px;
        transform: scale(-1);
    }
    .slick-slide.slick-current {
        img {
            transform: scale(1.2);
            border: #37cfd8 solid 3px;
        }
    }
    .diplomas-item {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@include media-breakpoint-down(lg) {
    .diplomas {
        margin-top: -230px;
    }
    .diplomas-slider .diplomas-item {
        min-height: 280px;
    }
    .diplomas-slider .slick-slide img {
        height: 230px;
    }
    .diplomas-slider .slick-prev {
        margin-left: -150px;
    }
    .diplomas-slider .slick-next {
        margin-left: 70px;
    }
}

@include media-breakpoint-down(md) {
    .diplomas {
        padding-top: 30px;
        margin-top: 0;
    }
}
