.ekrany-varianty {
    background: #f9f9f9;
    .title-bold {
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
    }
    .title-cursive {
        display: inline-block;
        font-size: 18px;
        font-style: italic;
    }
}
.ekrany-slider {
    padding-top: 20px;
    padding-bottom: 20px;
    .item {
        width: 130px;
        height: 140px;
        border: #e4e4e4 solid 1px;
        border-radius: 10px;
        .title {
            font-size: 12px;
            padding-top: 10px;
        }
    }
}
.ekrany {
    .row {
        .text-right-1 {
            font-size: 18px;
            padding: 25px 0 25px 20px;
        }
        .text-right-2 {
            font-weight: normal;
            font-size: 18px;
            padding: 25px 0 25px 20px;
        }
    }
    .callback-form {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.ekrany-text-1 {
    font-size: 18px;
    padding-bottom: 10px;
}
.ekrany-text-2 {
    font-size: 18px;
    padding-bottom: 10px;
}
