.map-form {
    display: flex;
    .map {
        width: 50%;
    }
    .form-container {
        width: 50%;
        background-image: url(/assets/theme/images/map-form-bg.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        .form {
            background: #fff;
            width: 420px;
            margin-left: 100px;
            margin-top: 80px;
            text-align: center;
            border-radius: 5px;
            padding-top: 45px;
            padding-bottom: 35px;
        }
    }
    .title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .subtitle {
        font-weight: bold;
        font-size: 24px;
        color: #fec340;
        margin-bottom: 13px;
    }
    .caption {
        padding: 0 50px;
        margin-bottom: 33px;
    }
    .input-group {
        input {
            background: #f7f7f7;
            margin-bottom: 20px;
            height: 40px;
            border-radius: 3px;
            width: 290px;
            padding: 0 25px;
        }
    }
    .form-btn {
        padding-top: 8px;
        .btn {
            border: none;
            padding-top: 15px;
            padding-bottom: 18px;
        }
    }
    .subtext {
        color: #959595;
        font-size: 12px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 35px;
    }
}

@include media-breakpoint-down(md) {
    .map-form .form-container .form {
        width: 100%;
        margin-left: 0;
    }
    .map-form .input-group input {
        max-width: 100%;
    }
}
