.new-bath {
    margin-top: 285px;
    .container {
        width: 1000px;
        top: -288px;
        border: #feb03e solid 10px;
        border-radius: 20px;
        background: #fff;
        font-size: 18px;
        line-height: 1.25;

        padding: 50px 260px 10px 90px;
        position: relative;

        .h3 {
            margin-bottom: 45px;
        }

        p {
            margin-bottom: 28px;
        }

        .new-bath-image {
            background-image: url(/assets/theme/images/new-bath.png);
            width: 464px;
            height: 751px;
            .green {
                color: #fff;
                background: #21df8c;
                width: 335px;
                border: #21df8c solid 3px;
                border-radius: 5px;
                padding: 9px;
                margin: 0 auto;
                margin-top: 170px;
                text-align: center;
                font-weight: bold;
                font-size: 22px;
                letter-spacing: -0.02em;
            }
            .red {
                color: #fff;
                background: #f94242;
                width: 335px;
                border: #f94242 solid 3px;
                border-radius: 5px;
                padding: 9px;
                margin: 0 auto;
                text-align: center;
                font-weight: bold;
                font-size: 22px;
                letter-spacing: -0.02em;
                margin-top: 213px;
            }
            position: absolute;
            right: -245px;
            top: -40px;
        }
    }
}

@media (max-width: 1400px) {
    .new-bath {
        .container {
            width: 900px;
            padding: 50px 210px 10px 40px;
        }
    }
}

@media (max-width: 1300px) {
    .new-bath .container .new-bath-image {
        right: -225px;
    }
}

@include media-breakpoint-down(lg) {
    .new-bath {
        .container {
            width: 750px;
            padding: 50px 160px 10px 20px;
            font-size: 16px;
            .h3 {
                font-size: 40px;
            }
            .new-bath-image {
                transform: scale(0.8);
                right: -210px;
                top: -45px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .new-bath {
        margin-top: 0;
        .container {
            top: 0;
            border: none;
            width: 100%;
            padding: 50px 15px;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            .h3 {
                font-size: 40px;
            }
            .new-bath-image {
                max-width: 100%;
                position: relative;
                order: -1;
                margin: 0 auto;
                transform: none;
                right: 0;
                top: -10px;
            }
        }
    }
}
