.products {
    margin-top: 5px;
    padding-top: 90px;
    padding-bottom: 126px;
    .h3 {
        font-size: 35px;
        letter-spacing: 0.02em;
        margin-bottom: 40px;
    }
    .row > div {
        position: relative;
    }
    .product {
        padding-left: 10px;
        padding-right: 10px;
        .item {
            border: #dfdfdf solid 1px;
            padding: 30px;
        }
        &.hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            box-shadow: 0px 29px 57px 0px rgba(33, 110, 115, 0.8);
        }
        .image {
            margin-top: 50px;
            text-align: center;
            padding-bottom: 30px;
            img {
                display: inline-block;
            }
        }
        .title {
            font-weight: bold;
            padding-bottom: 10px;
            font-size: 20px;
        }
        .price {
            font-size: 30px;
            font-weight: bold;
            color: #ffc938;
            padding-bottom: 10px;
            text-align: center;
        }
        .product-buy-btn {
            text-align: center;
        }
        .product-more {
            text-align: center;
            margin-top: 22px;
            a {
                color: #ffb03e;
                display: inline-block;
                margin-right: 10px;
                font-size: 18px;
                font-weight: 300;
                position: relative;
                &:after {
                    display: block;
                    position: absolute;
                    content: "";
                    height: 1px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #ffb03e;
                    opacity: 1;
                    transition: opacity 300ms ease;
                }
                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    background-image: url(/assets/theme/images/products-more-arr.png);
                    width: 5px;
                    height: 9px;
                    right: -15px;
                    top: 7px;
                }
                &:hover {
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }
        .caption {
            padding-bottom: 5px;
        }
        .circs {
            padding-bottom: 10px;
        }
    }
}

.products-slider-btns {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    .slick-arrow {
        text-indent: -9999px;
        width: 48px;
        height: 48px;
        background: #ffb03e;
        border: none;
        border-radius: 50%;
        margin: 0 7px;
        padding: 0;
        background-image: url(/assets/theme/images/products-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .slick-prev {
        margin-left: 20px;
    }
    .slick-next {
        transform: scale(-1);
    }
}

.products-slider-more {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    float: right;
    padding-top: 15px;
    a {
        color: #ffb03e;
        display: inline-block;
        margin-right: 10px;
        position: relative;
        &:after {
            display: block;
            position: absolute;
            content: "";
            height: 1px;
            left: 0;
            right: 0;
            bottom: 0;
            background: #ffb03e;
            opacity: 1;
            transition: opacity 300ms ease;
        }
        &:before {
            display: block;
            position: absolute;
            content: "";
            background-image: url(/assets/theme/images/products-more-arr.png);
            width: 5px;
            height: 9px;
            right: -15px;
            top: 7px;
        }
        &:hover {
            &:after {
                opacity: 0;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .products {
        .product .item {
            background: #fff;
            border: none;
            border-radius: 10px;
        }
        .h3 {
            font-size: 34px;
        }
    }
    .products-slider-btns .slick-prev {
        margin-left: 15px;
    }
    .products .product .item {
        padding: 20px;
    }
}
