.questions {
    padding-top: 85px;
    padding-bottom: 120px;
    .h3 {
        padding-bottom: 50px;
    }
}

.questions-list {
    a {
        display: block;
        color: inherit;
        font-weight: normal;
        font-size: 22px;
        padding: 30px 40px;
        border-bottom: 2px solid #efefef;
        transition: all 300ms ease;
        &:last-child {
            border-bottom: none;
        }
        &.active {
            color: #fff;
            font-weight: bold;
            background: #37cfd8;
            border-bottom-width: 0;
        }
    }
}

.questions-texts {
    font-size: 18px;
    color: #606060;
    .item {
        display: none;
        &.active {
            display: block;
        }
    }
}
