.results {
    padding-top: 65px;
    overflow: hidden;
}

.results-slider {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    .slick-next,
    .slick-prev {
        display: block;
        position: absolute;
        top: 50%;
        z-index: 2;
        height: 75px;
        width: 75px;
        margin-top: -107px;
        border-radius: 50%;
        background-color: #fff;
        background-image: url(/assets/theme/images/results-arr.png);
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -9999px;
        border: none;
        cursor: pointer;
    }
    .slick-next {
        right: 0;
        margin-right: -37px;
        transform: scale(-1);
    }
    .slick-prev {
        margin-left: -37px;
        left: 0;
    }
}

.results-slide {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    padding-bottom: 50px;

    img {
        width: 100%;
    }
    .cocoen-drag {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        background: #37cfd8;
        width: 3px;
        margin-left: 0px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            border: none;
            background-image: url(/assets/theme/images/changer-arrows.png);
            width: 46px;
            height: 46px;
            margin-top: -23px;
            left: 50%;
            margin-left: -24px;
        }
    }
    .title,
    .subtitle {
        padding-left: 30px;
    }
    .title {
        font-size: 18px;
        font-weight: bold;
        padding-top: 28px;
        margin-bottom: 5px;
    }
    .result-btn {
        position: absolute;
        bottom: 50px;
        right: 30px;
        .btn {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}
