.services {
    margin-top: 40px;
    padding-bottom: 60px;
    height: 100%;
    .h3 {
        margin-bottom: 51px;
    }

    .row > div {
        position: relative;
    }
    .service {
        border: #dfdfdf solid 1px;
        border-radius: 10px;
        &.hover {
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
            box-shadow: 0px 29px 57px 0px rgba(33, 110, 115, 0.8);
            background: #fff;
        }
    }
    .image {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 160px;
        padding-bottom: 30px;
    }
    .title {
        font-weight: bold;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .price {
        font-size: 24px;
        font-weight: bold;
        color: #ffc938;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 13px;
    }
    .caption {
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        padding-top: 10px;
    }
    .features {
        list-style: none;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        padding-top: 20px;
        margin-bottom: 40px;
        li {
            margin-bottom: 1.2em;
            padding-left: 20px;
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                background-image: url(/assets/theme/images/check.png);
                width: 16px;
                height: 13px;
                left: -2px;
                top: 3px;
            }
        }
    }
    .circs {
        display: none;
        padding: 0 30px;
    }
    .service-btns {
        padding: 0 30px;
        text-align: center;
        margin-bottom: 25px;
        .btn {
            padding-top: 13px;
            padding-bottom: 14px;
        }
    }
    .service-video-link {
        color: #ffa438;
        text-decoration: underline;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 30px;
        a {
            color: inherit;
        }
    }
}

@include media-breakpoint-down(lg) {
    .services {
        .service.hover {
            left: 7px;
            right: 7px;
        }
        .row {
            margin-left: -7px;
            margin-right: -7px;
        }
        .row > div {
            padding-right: 7px;
            padding-left: 7px;
        }
        .title,
        .price,
        .caption,
        .features,
        .circs,
        .service-btns {
            padding-left: 10px;
            padding-right: 10px;
        }
        .services .features li:before {
            left: 0px;
            top: 4px;
        }
    }
}

@include media-breakpoint-down(md) {
    .services {
        background: $bg-gray;
        .row {
            flex-wrap: wrap;
        }
        .service {
            background: #fff;
            margin-bottom: 10px;
        }
    }
}
