.btn,
a.btn {
    display: inline-block;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

.btn.btn-lg,
a.btn.btn-lg {
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 45px;
    padding-right: 45px;
}

.btn-white,
a.btn-white {
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
}

.btn-dark,
a.btn-dark {
    color: #fff;
    background-color: #fec440;
    background-image: -moz-linear-gradient(
        105deg,
        rgb(255, 176, 62) 0%,
        rgb(255, 201, 56) 100%
    );
    background-image: -webkit-linear-gradient(
        105deg,
        rgb(255, 176, 62) 0%,
        rgb(255, 201, 56) 100%
    );
    background-image: -ms-linear-gradient(
        105deg,
        rgb(255, 176, 62) 0%,
        rgb(255, 201, 56) 100%
    );
    box-shadow: 0px 15px 25px 0px rgba(255, 122, 56, 0.28);
}

.btn-dark-outline,
a.btn-dark-outline {
    color: #ffc938;
    //background: transparent;
    background: #fff;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        background: transparent;
        border: 3px #ffc938 solid;
    }
}

@include media-breakpoint-down(sm) {
    .btn-dark-outline,
    a.btn-dark-outline {
        &:after {
            border-width: 1px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .btn.btn-lg,
    a.btn.btn-lg {
        font-size: 11px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 25px;
        padding-right: 25px;
    }
}
