input[type="text"] {
    border-radius: 3px;
    border: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.callback-form-bg {
    background-color: #ffc63d;
    border-radius: 10px;
    padding: 36px;
    padding-bottom: 21px;
    background-image: -moz-linear-gradient(
        105deg,
        rgb(255, 176, 62) 0%,
        rgb(255, 201, 56) 100%
    );
    background-image: -webkit-linear-gradient(
        105deg,
        rgb(255, 176, 62) 0%,
        rgb(255, 201, 56) 100%
    );
    background-image: -ms-linear-gradient(
        105deg,
        rgb(255, 176, 62) 0%,
        rgb(255, 201, 56) 100%
    );
    box-shadow: 0px 13px 24px 0px rgba(203, 81, 0, 0.28);
}

.callback-form {
    color: #fff;

    &.last-on-page {
        margin-bottom: 70px;
    }

    .title {
        font-size: 25px;
        font-weight: bold;
        padding-left: 7px;
    }

    .subtitle {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 24px;
        padding-left: 7px;
    }

    input,
    .btn {
        display: block;
        width: 100%;
    }

    input {
        height: 51px;
        padding-left: 19px;
        font-size: 18px;
        font-weight: 300;
        padding-top: 8px;
    }
    .btn {
        position: relative;
        top: -2px;
        padding-top: 11px;
        padding-bottom: 13px;
    }

    .disclaimer {
        padding-left: 5px;
        font-size: 12px;
        font-weight: 300;
        margin-top: 15px;
    }

    .input-col {
        width: 318px;
        flex-basis: auto;
        flex-grow: 0;
        margin-right: 13px;
    }

    .btn-col {
        width: 303px;
        flex-basis: auto;
        flex-grow: 0;
    }
}

@include media-breakpoint-only(lg) {
    .callback-form {
        .input-col {
            width: 278px;
            margin-right: 13px;
        }
    }
}

@include media-breakpoint-down(md) {
    .callback-form-bg {
        width: 100%;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        padding-top: 40px;
        box-shadow: 0px 36px 95px 0px rgba(0, 110, 117, 0.3);
        background: #fff;
        color: #222;
        padding-bottom: 35px;
        text-align: center;

        .title {
            font-size: 26px;
            font-weight: 300;
            padding-left: 0;
            span {
                display: block;
                font-weight: bold;
                color: #fec340;
                margin-bottom: 11px;
                font-size: 20px;
                margin-top: 5px;
            }
        }
        .subtitle {
            font-size: 12px;
            margin-bottom: 27px;
            padding-left: 0;
        }
        .form-btn .btn {
            font-weight: normal;
            font-size: 14px;
            padding-top: 14px;
            padding-bottom: 14px;
        }
        .subtext {
            font-size: 10px;
            padding-top: 30px;
        }
        .input-col {
            width: 100%;
            margin-right: 0;
            padding: 0 40px;
        }
        .input-col input {
            max-width: 100%;
            height: 33px;
            margin-bottom: 16px;
            background: #f7f7f7;
            border-radius: 3px;
            padding: 0 12px;
            font-size: 16px;
        }
        .btn-col {
            padding-top: 10px;
        }
        .btn-col .btn.btn-white {
            display: inline-block;
            width: auto;
            color: #fff;
            background-color: #fec440;
            border: none;
            top: 0;
            font-size: 15px;
            padding-top: 14px;
            padding-bottom: 12px;
            font-weight: 300;
            background-image: -moz-linear-gradient(
                105deg,
                rgb(255, 176, 62) 0%,
                rgb(255, 201, 56) 100%
            );
            background-image: -webkit-linear-gradient(
                105deg,
                rgb(255, 176, 62) 0%,
                rgb(255, 201, 56) 100%
            );
            background-image: -ms-linear-gradient(
                105deg,
                rgb(255, 176, 62) 0%,
                rgb(255, 201, 56) 100%
            );
            box-shadow: 0px 15px 25px 0px rgba(255, 122, 56, 0.28);
        }
        .disclaimer {
            font-size: 10px;
            margin-top: 35px;
            padding: 0 40px;
        }
    }
}
