.minus,
.plus {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    vertical-align: middle;
    transition: opacity 300ms ease;
    border-radius: 50%;
    background: #fec340;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    line-height: 24px;
    &:hover,
    &:active,
    &:focus {
        opacity: 0.7;
    }
}

.cart {
    font-size: 18px;
    margin-bottom: 100px;
    .table {
        width: 100%;
        @include media-breakpoint-down(md) {
            display: block;
        }
        th {
            font-weight: normal;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        tr {
            border: solid 5px #f9f9f9;
            height: 118px;
            @include media-breakpoint-down(md) {
                display: block;
                height: auto;
            }
            &.header {
                border: none;
                height: auto;
                th {
                    color: #222222;
                    padding-bottom: 13px;
                    font-weight: normal;
                }
            }
        }
        td {
            vertical-align: middle;
            @include media-breakpoint-down(md) {
                display: block;
                width: 100% !important;
            }
        }
        td.image {
            width: 17%;
        }
        td.title {
            width: 27%;
            a {
                color: #000;
                font-weight: bold;
            }
        }
        .count {
            .btn {
                display: none;
            }
            input {
                background: #f7f7f7;
                height: 42px;
                border-radius: 10px;
                width: 45px;
                padding: 0 5px;
                text-align: center;
                border: none;
            }
        }
        .price {
        }
        .cost {
            color: #fec340;
            font-weight: bold;
        }
        .remove {
            .btn {
                background-color: transparent;
                border: none;
            }
        }
    }
    .cart-footer {
        display: flex;
        justify-content: flex-end;
        padding-top: 34px;
        padding-bottom: 66px;
        align-items: center;
        .cart-btn {
            margin-left: 48px;
        }
        .cart-total {
            font-size: 24px;
            font-weight: bold;
            span {
                color: #fec340;
            }
        }
    }
}

.order {
    margin-bottom: 100px;
    .form-group {
        margin-bottom: 1em;
    }
    input[type="text"] {
        background: #f7f7f7;
        height: 42px;
        border-radius: 10px;
        width: 100%;
        padding: 0 15px;
        text-align: left;
        border: none;
    }
    textarea {
        background: #f7f7f7;
        height: 3em;
        border-radius: 10px;
        width: 100%;
        padding: 0 15px;
        text-align: left;
        border: none;
    }
    .cart-total {
        font-size: 24px;
        font-weight: bold;
        margin-right: 20px;
        span {
            color: #fec340;
        }
    }
    button {
        border: none;
    }
}
