body {
    font-family: "Gotham Pro";
    font-size: 14px;
    line-height: 1.2;
    color: #222222;
    overflow-x: hidden;
}

.bold {
    font-weight: bold;
}

img {
    max-width: 100%;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.mb-60 {
    margin-bottom: 60px;
}

@include media-breakpoint-down(md) {
    .mb-60 {
        margin-bottom: 40px;
    }
}

@include media-breakpoint-down(sm) {
    .mb-60 {
        margin-bottom: 30px;
    }
}

@include media-breakpoint-down(xs) {
    .mb-60 {
        margin-bottom: 20px;
    }
}

@include media-breakpoint-up(xl) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.blue-bg {
    background: #e9fafb;
}

.dark-bg {
    background: #f9f9f9;
}

h1 {
}

h3,
.h3 {
    font-weight: bold;
    font-size: 44px;
}

h3,
.h3 {
    font-weight: bold;
    font-size: 44px;
    &.pagetitle {
        font-size: 34px;
        margin-bottom: 14px;
    }
}

h4,
.h4 {
    font-size: 24px;
    font-weight: 300;
}

@include media-breakpoint-down(md) {
    h3,
    .h3 {
        font-weight: bold;
        font-size: 36px;
        &.pagetitle {
            font-size: 24px;
            margin-bottom: 14px;
        }
    }

    h4,
    .h4 {
        font-size: 20px;
        font-weight: 300;
    }
}

@include media-breakpoint-down(sm) {
    h3,
    .h3 {
        font-weight: bold;
        font-size: 25px;
        &.pagetitle {
            font-size: 20px;
            margin-bottom: 14px;
        }
    }

    h4,
    .h4 {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.1;
    }
}

.text-center {
    text-align: center;
}

@include media-breakpoint-up(lg) {
    .dark-bg {
        background: #fff;
    }
}

@include media-breakpoint-down(md) {
    .blue-bg {
        background: #fff;
    }
}

@include media-breakpoint-only(xs) {
    .container {
        padding-left: 34px;
        padding-right: 34px;
    }
}

@media (max-width: 410px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.breadcrumbs {
    font-size: 13px;
    font-weight: 300;
    margin-top: 28px;
    margin-bottom: 36px;
    ol.breadcrumb {
        list-style: none;
        padding-left: 0;
        li.breadcrumb-item {
            display: inline-block;
            position: relative;
            &:first-child {
                padding-left: 29px;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 4px;
                    top: 0px;
                    background-image: url(/assets/theme/images/breadcrumbs-home.png);
                    width: 15px;
                    height: 14px;
                }
            }
            &:not(:first-child) {
                padding-left: 21px;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    left: 7px;
                    top: 7px;
                    background: #757575;
                    border-radius: 50%;
                }
            }
            a {
                color: #757575;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .breadcrumbs {
        display: none;
    }
}
