.contacts-text {
    font-size: 18px;
    & > div {
        &:last-child {
            padding-left: 85px;
        }
    }
}

.contacts-address {
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 35px;
    position: relative;
    &:before {
        display: block;
        position: absolute;
        content: "";
        background-image: url(/assets/theme/images/address-icon.png);
        width: 16px;
        height: 24px;
        left: 0;
        top: 8px;
    }
}

.contacts-phone {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 35px;
    position: relative;
    font-weight: bold;
    &:before {
        display: block;
        position: absolute;
        content: "";
        background-image: url(/assets/theme/images/phone-icon.png);
        width: 15px;
        height: 15px;
        left: 3px;
        top: 10px;
    }
}

.contacts-time {
    padding-top: 5px;
    padding-bottom: 8px;
}

.contacts-mail a {
    color: inherit;
    display: inline-block;
    padding-left: 40px;
    position: relative;
    &:before {
        display: block;
        position: absolute;
        content: "";
        background-image: url(/assets/theme/images/mail-icon.png);
        width: 23px;
        height: 15px;
        left: 3px;
        top: 4px;
    }
}

.contacts-inn {
    padding-top: 13px;
}

.contacts-map {
    margin-bottom: 40px;
    margin-top: 23px;
    position: relative;
}

.contacts-maps {
    height: 550px;
    & > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

#angarsk-map {
    opacity: 0;
}

.contacts-map-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-image: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.33));
}

.contacts-map-controls {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 20px 40px;
    a.btn {
        padding-top: 16px;
        padding-bottom: 15px;
        padding-left: 33px;
        padding-right: 33px;
        margin-right: 10px;
        border: none;
        background: #fff;
        color: #fec340;
        transition: all 300ms ease;
        &.active {
            background: #fec340;
            color: #fff;
        }
    }
}

.map-form {
    .contacts-map {
        margin: 0;
    }
    .contacts-maps {
        height: 630px;
    }
}
