.discount-page {
    .pagetitle {
        font-weight: bold;
        font-size: 34px;
        padding-bottom: 10px;
    }
    .discount-page-text {
        padding-top: 8px;
        font-weight: normal;
        font-size: 18px;
        padding-bottom: 20px;
        span {
            font-weight: bold;
        }
    }
    .discount-page-phone {
        color: #ffc938;
        padding-top: 0px;
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 20px;
    }
    .visual {
        display: flex;
        .discount-page-image {
            padding-top: 60px;
        }
        .discount-page-strelka {
            padding-top: 220px;
            padding-bottom: 100px;
        }
        .discount-page-btns {
            line-height: 40px;

            padding-left: 10px;
            padding-top: 130px;
            .btn {
                padding-left: 48px;
                padding-right: 48px;
                white-space: nowrap;
            }
        }
    }
}
@include media-breakpoint-only(lg) {
    .discount-page .visual .discount-page-strelka {
        padding-top: 190px;
        padding-bottom: 100px;
    }
}
@include media-breakpoint-down(md) {
    .discount-page .visual .discount-page-strelka {
        display: none;
    }
    .discount-page .visual {
        flex-direction: column;
        align-items: center;
        .discount-page-btns {
            padding-top: 0px;
            padding-bottom: 50px;
        }
    }
}
@include media-breakpoint-down(xs) {
    .discount-page {
        .pagetitle {
            font-weight: bold;
            font-size: 24px;
            padding-bottom: 0px;
            padding-top: 33px;
        }
        .discount-page-text {
            padding-top: 0px;
            font-weight: normal;
            font-size: 14px;
            padding-bottom: 20px;
            span {
                font-weight: bold;
            }
        }
        .discount-page-phone {
            color: #ffc938;
            padding-top: 10px;
            font-weight: bold;
            font-size: 14px;
            padding-bottom: 20px;
        }
    }
    .discount-page .visual .discount-page-strelka {
        display: none;
    }
    .discount-page .visual {
        flex-direction: column;
        align-items: center;
        .discount-page-image {
            padding-top: 25px;
        }
        .discount-page-btns {
            padding-top: 30px;
            padding-bottom: 50px;
            line-height: 30px;
            .btn {
                font-size: 16px;
            }
        }
    }
}
