.footer {
    background: #0f1d25;
    color: #fff;
    padding-top: 30px;
    font-size: 12px;
    a {
        color: #fff;
    }
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-logo-col {
    .subtext {
        color: #757575;
        font-weight: 300;
        margin-top: 5px;
        letter-spacing: 0.01em;
        padding-left: 2px;
    }
}

.footer-menu {
    font-weight: 300;
    padding-left: 2px;
    padding-top: 12px;
    a {
        display: inline-block;
        margin-right: 19px;
    }
}

.footer-address-col {
    width: 280px;
    padding-right: 40px;
    padding-top: 8px;
    margin-left: 55px;
    margin-right: 0;
    & > div {
        margin-bottom: 22px;
        padding-left: 20px;
        position: relative;
        &:before {
            display: block;
            position: absolute;
            content: "";
            background-image: url(/assets/theme/images/footer-address.png);
            width: 11px;
            height: 15px;
            left: 0;
            top: 1px;
        }
    }
}

.footer-mail-col {
    margin-left: 0;
    margin-right: 70px;
    padding-top: 9px;
    a {
        display: block;
        position: relative;
        padding-left: 22px;
        &:before {
            display: block;
            position: absolute;
            content: "";
            background-image: url(/assets/theme/images/footer-mail.png);
            width: 14px;
            height: 10px;
            left: 1px;
            top: 3px;
        }
    }
}

.footer-socials-col {
    margin-left: 0;
    margin-right: auto;
    padding-top: 7px;
    white-space: nowrap;
    a {
        display: inline-block;
        margin: 0 4px;
    }
}

.footer-callback-col {
    padding-top: 5px;
}

.footer-phone {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    white-space: nowrap;
}
.footer-callback {
    text-align: right;
    font-size: 16px;
    font-weight: normal;
    padding-right: 4px;
    margin-top: 10px;
    a {
        white-space: nowrap;
        display: inline-block;
        color: #ffbe3b;
        position: relative;
        padding-bottom: 2px;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: -1px;
            height: 1px;
            bottom: 0;
            opacity: 1;
            transition: opacity 300ms ease;
            background-image: linear-gradient(
                to right,
                #ffbe3b 50%,
                rgba(255, 255, 255, 0) 0%
            );
            background-position: bottom;
            background-size: 4px 2px;
            background-repeat: repeat-x;
        }

        &:hover,
        &:active,
        &:focus {
            &:after {
                opacity: 0;
            }
        }
    }
}

.subfooter {
    color: #6b6b6b;
    background: #091217;
    font-weight: 300;
    font-size: 12px;
    padding-top: 18px;
    padding-bottom: 17px;
    margin-top: 18px;

    span {
        display: inline-block;
        margin-right: 10px;
    }
}

@include media-breakpoint-down(lg) {
    .footer-address-col {
        margin: 0 auto;
        padding-right: 0;
        width: auto;
        width: 190px;
    }
    .footer-mail-col {
        margin: 0 auto;
    }
}

@include media-breakpoint-down(md) {
    .footer {
        padding-top: 28px;
    }
    .footer-row {
        flex-direction: column;
    }
    .footer-logo-col {
        margin-bottom: 26px;
    }
    .footer-address-col {
        margin-left: 0;
        width: 250px;
        margin-bottom: -17px;
        & > div {
            margin-bottom: 20px;
            padding-left: 23px;
        }
    }
    .footer-mail-col {
        margin-left: 0;
        font-weight: 300;
        a {
            padding-left: 23px;
        }
    }
    .footer-callback {
        text-align: left;
        font-size: 20px;
        font-weight: 300;
    }
    .footer-socials-col {
        order: 10;
        padding-top: 37px;
        a {
            margin-right: 9px;
            transform: scale(1.1);
        }
    }
    .footer-callback-col {
        padding-top: 30px;
    }
    .footer-menu {
        font-size: 16px;
        a {
            margin-right: 28px;
        }
    }
    .footer-phone {
        font-size: 22px;
    }
    .subfooter {
        margin-top: 34px;
    }
}
