.header {
}

.header-logo {
    padding-top: 24px;
    a {
        display: block;
    }
}

.header-col-2 {
    font-size: 12px;
    margin-left: 25px;
    padding-top: 25px;
    line-height: 1.2;
}

.header-col-3 {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    margin-left: 80px;
    margin-top: 17px;
    padding-top: 4px;
    padding-left: 54px;
    margin-right: auto;
    line-height: 1.2;
    border-left: #e3e3e3 solid 1px;
    margin-bottom: 14px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(/assets/theme/images/header-address-icon.png);
        width: 11px;
        height: 15px;
        left: 32px;
        top: 7px;
    }
}

.header-contacts {
    padding-top: 20px;
    padding-right: 13px;
    .messangers {
        display: inline-block;
        margin-right: 15px;
        a {
            display: inline-block;
            margin: 0 2px;
        }
    }
    .header-phone {
        display: inline-block;
        a {
            display: inline-block;
            color: inherit;
            font-weight: bold;
            font-size: 18px;
            padding-right: 22px;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                background-image: url(/assets/theme/images/header-phone-arrow.png);
                width: 10px;
                height: 6px;
                right: 0;
                top: 10px;
            }
        }
    }
    .header-callback {
        text-align: right;
        font-size: 16px;
        margin-top: -3px;
        a {
            color: #ffb344;
            display: inline-block;
            position: relative;
            &:hover {
                &:after {
                    opacity: 0;
                }
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background-size: 4px 1px;
                opacity: 1;
                transition: opacity 300ms ease;
                background-image: linear-gradient(
                    to right,
                    #ffb344 50%,
                    transparent 100%
                );
            }
        }
    }
}

.header-row {
    display: flex;
    justify-content: space-between;
    min-height: 77px;
}

.header-menu-row {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    background: $blue;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    a {
        color: #fff;
        display: block;
        padding: 20px 5px 18px 18px;
    }
    li:not(.header-menu-services) {
        a {
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -3px;
                left: 15px;
                right: 1px;
                background: #3ddee8;
                height: 0px;
                transition: height 200ms ease;
            }
            &:hover:after {
                height: 7px;
            }
        }
    }
}

.header-cart {
    padding-right: 12px;
    padding-top: 7px;
    a {
        display: block;
        background: #3ddee8;
        border-radius: 50%;
        position: relative;
        height: 47px;
        width: 47px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 27px;
        }
        .cart-badge {
            display: block;
            position: absolute;
            background: #fff;
            top: 0;
            right: -7px;
            color: #ffcb3e;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            text-align: center;
        }
    }
}

.header-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-menu-services {
    font-size: 18px;
    a {
        position: relative;
        background: #3ddee8;
        padding-right: 70px;

        &:after {
            content: "";
            display: block;
            position: absolute;
            background-image: url(/assets/theme/images/header-services.png);
            width: 24px;
            height: 14px;
            right: 24px;
            top: 24px;
        }
    }
}

.header-menu-toggler {
    span {
        margin-left: 20px;
        @include burger(32px, 4px, 6px, #fff);
        margin-top: 22px;
    }
    &.opened span {
        @include burger-to-cross();
    }
}

@include media-breakpoint-down(lg) {
    .header-col-2 {
        margin-left: 15px;
    }
    .header-col-3 {
        margin-left: 10px;
        padding-left: 14px;
        &:before {
            display: none;
        }
    }
    .header-contacts .messangers {
        margin-right: 5px;
    }
    .header-menu {
        font-size: 14px;
        a {
            padding: 20px 5px 18px 7px;
            &:after {
            }
        }
    }
    .header-menu li:not(.header-menu-services) a:after {
        left: 5px;
        bottom: -1px;
    }
    .header-menu-services {
        font-size: 16px;
        a {
            padding-right: 45px;
            padding-left: 14px;
            padding-top: 18px;
            &:after {
                right: 10px;
                top: 20px;
            }
        }
    }
    .header-cart {
        padding-top: 4px;
    }
}

@include media-breakpoint-down(md) {
    .header-menu-list {
        display: none;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 10px;
        .header-menu a {
            padding: 15px 5px 13px 7px;
        }
        .header-menu-services a {
            background: transparent;
            padding: 15px 5px 13px 7px;
            font-size: 14px;
            &:after {
                display: none;
            }
        }
    }
    .header-cart {
        padding-top: 1px;
        padding-right: 15px;
        a {
            background-color: transparent;
            img {
                width: 40px;
            }
        }
    }
    .header-contacts {
        padding-right: 0;
        white-space: nowrap;
        margin-right: 15px;
        .header-phone {
            a {
                padding-right: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .header-row {
        min-height: 56px;
    }
    .header-logo {
        transform: scale(0.65);
        margin-left: -11px;
        padding-top: 16px;
    }
    .header-contacts .messangers {
        margin-left: -15px;
        position: relative;
        top: -3px;
        a {
            margin: 0;
            img {
                width: 20px;
            }
        }
    }
}
