.products-page {
    .podpis {
        font-size: 18px;
        max-width: 520px;
    }
    .products-menu {
        margin-top: 30px;
        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 18px;
            }
        }
        a.btn {
            padding-top: 13px;
            padding-bottom: 15px;
            padding-left: 25px;
            padding-right: 25px;
            font-weight: normal;
            background: #ffce49;
            box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
        }
        li:not(.active) > a.btn {
            background: #ececec;
            color: #222222;
            box-shadow: none;
            transition: all 300ms ease;
            &:hover {
                background: #cecece;
            }
        }
    }
}

.materialy-dla-restavracii {
    .products {
        @include make-row();
        padding-top: 18px;
        padding-bottom: 0;
    }
    .product {
        margin-bottom: 30px;
        .item {
        }
        .image {
            margin-top: 10px;
            img {
                max-height: 180px;
            }
        }
        @include make-col-ready();

        @include make-col(6);

        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }
    }
}

@include media-breakpoint-down(lg) {
    .products-page .products-menu {
        ul li {
            margin-right: 8px;
        }
        a.btn {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 8px;
        }
    }
    .products .product .item {
        border: #dfdfdf solid 2px;
    }
}

@include media-breakpoint-down(md) {
    .products-page .products-menu {
        ul li {
            margin-right: 8px;
        }
        a.btn {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 18px;
            font-size: 16px;
            padding-top: 8px;
            padding-bottom: 7px;
        }
    }
    .materialy-dla-restavracii .products {
        padding-top: 0;
        .product {
            .image {
                height: auto;
            }
        }
    }
    .materialy-dla-restavracii {
        .products {
            @include make-row(20px);
        }
        .product {
            @include make-col-ready(20px);
            margin-bottom: 20px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .products-page {
        .h3 {
            padding-top: 28px;
        }
        .podpis {
            font-size: 10px;
        }
        .products-menu {
            margin-top: 20px;
        }
    }
    .products-page .products-menu a.btn {
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    .materialy-dla-restavracii {
        .products {
            @include make-row(10px);
        }
        .product {
            @include make-col-ready(10px);
        }
    }
}
