.material {
    padding-top: 10px;
    padding-bottom: 30px;

    .row {
        padding-bottom: 10px;
        .image {
            padding-left: 30px;
            padding-top: 24px;
            padding-bottom: 20px;
            display: flex;
            border: #dfdfdf solid;
            border-width: 5px;
            justify-content: center;
            align-items: center;
            img {
                display: block;
            }
        }
        .title {
            padding-bottom: 38px;
            padding-left: 36px;
            font-weight: bold;
            font-size: 24px;
        }
        .text {
            font-size: 18px;
            padding-left: 36px;
        }

        .size-price {
            padding-left: 36px;
            padding-top: 25px;
            font-size: 18px;
            padding-bottom: 6px;
        }
        .size-price-data {
            padding-left: 36px;
            font-weight: bold;
            font-size: 18px;
            line-height: 34px;
            display: flex;
            flex-wrap: wrap;
            span {
                color: #ffc938;
                font-weight: bold;
            }
            .item {
                display: block;
                width: 50%;
            }
        }
        .buy-btn {
            padding-left: 36px;
            margin-top: 25px;
            .btn {
                border: none;
                box-shadow: none;
                padding-top: 14px;
                padding-bottom: 15px;
            }
        }
        .properties {
            //width: 80%;
            margin-left: 58px;
            padding-left: 20px;
            padding-top: 36px;
            padding-bottom: 20px;
            background: #e9fafb;
            line-height: 19px;
            font-size: 14px;
            border-radius: 10px;
            line-height: 1.3;
            margin-top: -8px;
            ul {
                list-style: none;
            }
            li {
                position: relative;
                margin-bottom: 15px;
                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    background-image: url(/assets/theme/images/check.png);
                    width: 16px;
                    height: 13px;
                    left: -27px;
                    top: 2px;
                }
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .material {
        .row {
            .properties {
                margin-left: 0;
                padding-left: 10px;
                padding-right: 10px;
            }
            .title,
            .text,
            .size-price,
            .size-price-data,
            .buy-btn {
                padding-left: 0;
            }
            .title {
                margin-top: 20px;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .material .row .image {
        border-width: 1px;
        padding-left: 0px;
        padding-top: 14px;
        padding-bottom: 10px;
    }
    .material .row .properties {
        margin-top: 20px;
    }
}
@include media-breakpoint-down(sm) {
    .material .row .buy-btn {
        .btn {
            display: block;
            font-size: 18px;
            width: 100%;
        }
    }
}
.material-plus {
    background: #f9f9f9;
    overflow: hidden;
    h3 {
        padding-top: 32px;
        padding-left: 5px;
        font-size: 32px;
    }
    .material-plus-name {
        .item {
            border: #e4e4e4 solid 1px;
            border-radius: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 10px;
            margin-right: 10px;
            background: #fff;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;

            .image {
                height: 130px;
                padding-top: 36px;
                padding-bottom: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    display: block;
                }
            }

            .title {
                min-height: 50px;
                font-weight: bold;
                padding-top: 18px;
                padding-left: 15px;
                padding-right: 15px;
            }
            .text {
                padding-left: 15px;
            }
            .price {
                color: #fec340;
                padding-top: 35px;
                padding-left: 15px;
                font-size: 18px;
                font-weight: bold;
                margin-top: auto;
                margin-bottom: 0;
                padding-bottom: 30px;
            }
            .service-btns {
                position: absolute;
                bottom: 23px;
                right: 20px;
                .btn {
                    border: none;
                    padding: 0;
                    width: 39px;
                    height: 39px;
                    box-shadow: none;
                    position: relative;
                    background: #fec340;
                    transition: background-color 300ms ease;
                    span {
                        background-image: url(/assets/theme/images/btn-cart.png);
                        position: absolute;
                        display: block;
                        top: 50%;
                        left: 50%;
                        background-repeat: no-repeat;
                        background-position-y: center;
                        background-position-x: left;
                        height: 18px;
                        width: 22px;
                        margin-left: -11px;
                        margin-top: -9px;
                    }
                    &:hover {
                        background: #ffb40e;
                    }
                }
            }
        }
    }
    .material-plus-slider {
        margin-top: 30px;
        margin-left: -10px;
        margin-right: -10px;
        .slick-track {
            display: flex;
        }
        .slick-slide {
            float: none;
            height: auto;
        }
        .slick-next,
        .slick-prev {
            display: block;
            position: absolute;
            top: 50%;
            z-index: 2;
            height: 33px;
            width: 33px;
            margin-top: -60px;
            border-radius: 50%;
            background: #ffb03e;
            background-image: url(/assets/theme/images/products-arrow-s.png);
            background-repeat: no-repeat;
            background-position: center center;
            text-indent: -9999px;
            border: none;
            cursor: pointer;
        }
        .slick-next {
            right: 0;
            margin-right: -8px;
        }
        .slick-prev {
            margin-left: -5px;
            left: 0;
            transform: scale(-1);
        }
        .slick-dots {
            list-style: none;
            display: flex;
            width: 100%;
            padding: 0;
            justify-content: center;
            li {
                margin: 0 5px;
                button {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    border-radius: 50%;
                    text-indent: -9999px;
                    border: #ffb03e solid 2px;
                    display: block;
                    width: 9px;
                    height: 9px;
                    padding: 0;
                    background: transparent;
                    transition: background-color 300ms ease;
                }
                &.slick-active {
                    button {
                        background: #ffb03e;
                    }
                }
            }
        }
    }
}
.delivery {
    background-image: url(/assets/theme/images/delivery.png);
    background-color: #e9fafb;
    border-radius: 9px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 26px;
    padding-bottom: 20px;
    padding-left: 45px;
    background-position-x: calc(100% + 86px);
    background-position-y: center;
    background-repeat: no-repeat;

    //background: #e9fafb;
    .irkutsk {
        font-weight: bold;
        padding-bottom: 10px;
        font-size: 24px;
    }
    .irkutsk-price {
        font-weight: normal;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .russia {
        font-weight: bold;
        margin-top: 20px;
        padding-bottom: 10px;
        font-size: 24px;
    }
    .russia-price {
        font-weight: normal;
        padding-bottom: 10px;
        font-size: 18px;
    }
}

@include media-breakpoint-down(md) {
    .material-plus {
        .h3 {
            padding-top: 22px;
            padding-left: 5px;
            font-size: 26px;
        }
        .material-plus-slider {
            margin-top: 20px;
        }
    }
    .delivery {
        margin-top: 10px;
        background-size: 240px;
        .irkutsk,
        .russia {
            font-size: 20px;
        }
        .irkutsk-price,
        .russia-price {
            font-size: 14px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .material-plus {
        .h3 {
            padding-top: 22px;
            font-size: 21px;
        }
        .material-plus-slider {
            margin-top: 0;
            margin-left: -3px;
            margin-right: -3px;
        }
    }
    .material-plus .material-plus-name .item {
        border-radius: 3px;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 10px;
        .image {
            transform: scale(0.7);
            height: 100px;
        }
        .price {
            padding-top: 15px;
        }
        .service-btns {
            bottom: 18px;
        }
    }
    .material-plus .material-plus-slider .slick-dots li button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .material-plus .material-plus-slider {
        .slick-prev {
            margin-left: -14px;
        }
        .slick-next {
            margin-right: -14px;
        }
    }

    .delivery {
        margin-bottom: 0;
        background-size: 100px;
        background-position-x: calc(100% + 26px);
        padding-top: 10px;
        padding-left: calc(50vw - 255px);
        padding-right: calc(50vw - 255px + 70px);
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        .irkutsk,
        .russia {
            font-size: 12px;
            padding-bottom: 6px;
        }
        .irkutsk-price,
        .russia-price {
            font-size: 10px;
            padding-bottom: 0;
        }
    }
}

@include media-breakpoint-down(xs) {
    .delivery {
        padding-left: 45px;
        padding-right: 70px;
    }
}

@media (max-width: 410px) {
    .delivery {
        padding-left: 30px;
        padding-right: 70px;
    }
}
