.modals {
    display: none;
}

#order {
    max-width: 420px;
    text-align: center;
    .title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .subtitle {
        font-weight: bold;
        font-size: 24px;
        color: #fec340;
        margin-bottom: 13px;
    }
    .caption {
        margin-bottom: 33px;
    }
    .input-group {
        input {
            background: #f7f7f7;
            margin-bottom: 20px;
            height: 40px;
            border-radius: 3px;
            width: 290px;
            padding: 0 25px;
        }
    }
    .form-btn {
        padding-top: 8px;
        .btn {
            border: none;
            padding-top: 15px;
            padding-bottom: 18px;
        }
    }
    .subtext {
        color: #959595;
        font-size: 12px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 35px;
    }
}

#thank-you {
    max-width: 420px;
    text-align: center;
    .title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .subtitle {
        font-weight: bold;
        font-size: 24px;
        color: #fec340;
        margin-bottom: 13px;
    }
    .caption {
        margin-bottom: 33px;
    }
}
