.otziv {
    .otziv-title {
        .container {
            h3 {
                text-align: left;
                font-size: 33px;
                padding-left: 6px;
                padding-bottom: 10px;
            }
            .ostavte-otziv {
                font-size: 18px;
                padding-left: 38px;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-right: 380px;
                background-color: #e9fafb;

                background-image: url(/assets/theme/images/bubble.png);
                border-radius: 10px;
                background-repeat: no-repeat;
                background-position: calc(100% - 40px) -14px;
            }
            .row {
                background-image: url(/assets/theme/images/reviews-arrow.png);
                &.row-title {
                    background-image: none;
                }
                border-radius: 10px;
                background-repeat: no-repeat;
                background-position: calc(50%);
                .do {
                    font-size: 32px;
                    padding-left: 15px;
                    padding-top: 32px;
                    padding-bottom: 23px;
                }
                .video-do {
                    //padding-left: 8px;
                    padding-bottom: 60px;
                    iframe {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .posle {
                    font-size: 32px;
                    padding-left: 15px;
                    padding-top: 32px;
                    padding-bottom: 23px;
                }

                .video-posle {
                    //padding-left: 28px;
                    padding-bottom: 60px;
                    iframe {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .callback-form {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}
.otziv-text-1 {
    font-size: 18px;
    padding-bottom: 25px;
}
.otziv-text-2 {
    font-size: 18px;
    padding-bottom: 10px;
}
@include media-breakpoint-down(lg) {
    .otziv {
        .otziv-title {
            .container {
                h3 {
                    font-size: 30px;
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .otziv {
        .otziv-title {
            .container {
                h3 {
                    font-size: 28px;
                }
                .ostavte-otziv {
                    font-size: 16px;

                    padding-right: 280px;
                }
                .row {
                    .do {
                        font-size: 24px;
                    }

                    .posle {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .otziv {
        overflow: hidden;
        .otziv-title {
            .container {
                h3 {
                    padding-top: 28px;
                    font-size: 18px;
                    padding-left: 0px;
                }
                .ostavte-otziv {
                    font-size: 14px;
                    padding-top: 20px;
                    padding-left: calc(50vw - 255px);
                    padding-right: calc(50vw - 255px + 70px);
                    margin-left: calc(-50vw + 50%);
                    margin-right: calc(-50vw + 50%);
                    padding-bottom: 20px;
                    border-radius: 0;

                    background-position: calc(100% - 2px) 12px;
                    background-size: 70px;
                }
                .do-i-posle {
                    padding-top: 25px;
                    font-weight: bold;
                    font-size: 18px;
                    padding-bottom: 25px;
                }
                .row {
                    background-image: none;
                    .do {
                        font-size: 24px;
                    }

                    .posle {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    .otziv {
        .otziv-title {
            .container {
                .ostavte-otziv {
                    padding-left: 45px;
                    padding-right: 70px;
                }
            }
        }
    }
}
@media (max-width: 410px) {
    .otziv {
        .otziv-title {
            .container {
                .ostavte-otziv {
                    padding-left: 30px;
                    padding-right: 70px;
                }
            }
        }
    }
}
