$table-border: #cacaca solid 1px;

.price-content {
    .price-text {
        padding-top: 6px;
        font-size: 18px;
        padding-bottom: 40px;
        line-height: 20px;
    }
    .price-text-2 {
        padding-top: 30px;
        font-size: 18px;
        padding-bottom: 40px;
        span {
            font-weight: bold;
        }
    }
    table {
        font-size: 18px;
        line-height: 23px;
        width: 100%;
        border: $table-border;

        strong {
            white-space: nowrap;
        }
    }
    thead {
        tr {
            background: #e7e7e7;
        }
        th {
            padding: 31px 30px;
            &:first-child {
                width: 40%;
            }
        }
    }
    tr {
        &:nth-child(even) {
            background: #fafafa;
        }
    }
    td {
        padding: 14px 30px;
    }
    th,
    td {
        border: $table-border;
        border-width: 0 1px;
        &:not(:first-child) {
            text-align: center;
        }
    }
    tr:nth-last-child(2) td:nth-child(2) {
        border-top-width: 1px;
    }
    .price {
        color: #ffcb3e;
        font-weight: bold;
        white-space: nowrap;
    }
}

.price-banner {
    margin-top: 50px;
    border: #c4fdff solid 7px;
    border-radius: 10px;
    .image {
        position: absolute;
        left: 50%;
        margin-left: -45px;
        top: -10px;
        width: 88px;
    }
    .title {
        padding-top: 110px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        line-height: 32px;
    }
    .stoimost {
        padding-top: 58px;
        font-size: 18px;
        text-align: center;
        line-height: 19px;
        padding-bottom: 105px;
    }
}
@include media-breakpoint-down(lg) {
    .price-content {
        thead {
            th {
                padding: 20px 10px;
            }
        }
        td {
            padding: 10px;
        }
    }
}

@include media-breakpoint-only(lg) {
    .price-banner {
        .title {
            font-size: 20px;
        }
        .stoimost {
            padding-bottom: 40px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .price-content {
        table {
            font-size: 14px;
            line-height: 18px;
        }
    }
}

@include media-breakpoint-down(md) {
    .price-content {
        table {
            margin-bottom: 20px;
        }
        .price-text-2 {
            padding-top: 40px;
            font-size: 14px;
        }
    }
    .price-banner {
        .image {
            transform: scale(0.65);
        }
        .title {
            font-size: 20px;
            padding-top: 45px;
            line-height: 24px;
        }
        .stoimost {
            padding-top: 45px;
            font-size: 20px;
            padding-bottom: 50px;
            line-height: 24px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .price-content {
        table {
            font-size: 9px;
            margin-left: -30px;
            margin-right: -30px;
            width: calc(100% + 60px);
        }
        thead {
            th {
                padding: 10px;
            }
        }
        td {
            padding: 3px 10px;
        }
    }
}

@media (max-width: 410px) {
    .price-content {
        table {
            font-size: 9px;
            margin-left: -14px;
            margin-right: -14px;
            width: calc(100% + 28px);
        }
    }
}
