.restavracia .index-header-list .item {
    border: #dfdfdf solid 1px;
}
.restavracia .callback-form {
    margin-top: 30px;
    margin-bottom: 30px;
}
.restavracia-text-1 {
    font-size: 18px;
    padding-bottom: 10px;
}
.restavracia-text-2 {
    font-size: 18px;
    padding-bottom: 10px;
}
.text-right-1 {
    font-size: 18px;
}
.text-right-2 {
    font-weight: bold;
    font-size: 18px;
    padding: 25px 0 25px 20px;
}
