.statja {
    .statja-title {
        .container {
            padding-left: 37px;
            h3 {
                text-align: left;
                font-size: 24px;
            }
        }
    }
    .row {
        .data {
            padding-top: 12px;
            font-weight: bold;
            font-size: 18px;
            color: #757575;
        }
        .time {
            position: relative;
            left: 130px;
            bottom: 20px;
            font-size: 18px;
            color: #757575;
        }
        .content {
            padding-top: 23px;
            font-size: 18px;
            line-height: 24px;
            p {
                padding-bottom: 18px;
                margin-right: 0px;
                img {
                    padding-left: 28px;
                    padding-bottom: 9px;
                    transform: scale(1.08);
                }
            }
        }
        .statja-menu {
            height: 94%;
            background: #f4f4f4;
            margin-left: 76px;
            margin-top: -25px;
            margin-right: -10px;
            .title {
                font-weight: bold;
                font-size: 24px;
                text-align: center;
                padding-top: 27px;
                padding-bottom: 22px;
            }
            ul {
                li {
                    margin-left: -40px;
                    list-style: none;
                    font-size: 18px;
                    line-height: 22px;
                    a {
                        display: block;
                        transition: all 300ms ease;
                        color: #000;
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-top: 13px;
                        padding-bottom: 15px;
                        border: #ebebeb solid 2px;
                        border-bottom-width: 0;
                        &:hover {
                            background: #ffb03e;
                            color: #fff;
                        }
                    }
                    &:last-child a {
                        border-bottom-width: 2px;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .statja {
        .statja-title {
            .container {
                h3 {
                    font-size: 22px;
                }
            }
        }
        .row {
            .data {
                font-size: 16px;
            }
            .time {
                font-size: 16px;
            }
            .content {
                font-size: 16px;
                p {
                    img {
                        margin-left: -30px;
                        transform: none;
                    }
                }
            }
            .statja-menu {
                .title {
                    font-size: 22px;
                }
                ul li {
                    font-size: 16px;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .statja {
        .statja-title {
            .container {
                h3 {
                    font-size: 20px;
                }
            }
        }
        .row {
            .data {
                font-size: 14px;
            }
            .time {
                font-size: 14px;
            }
            .content {
                font-size: 14px;
                p {
                    img {
                        margin-left: -30px;
                        transform: none;
                    }
                }
            }
            .statja-menu {
                margin-left: 36px;
                margin-right: -30px;
                .title {
                    font-size: 18px;
                }
                ul li {
                    margin-left: -40px;
                    font-size: 14px;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .statja {
        .statja-title {
            .container {
                h3 {
                    font-size: 18px;
                }
            }
        }
        .row {
            .data {
                font-size: 14px;
            }
            .time {
                font-size: 14px;
            }
            .content {
                font-size: 14px;
                p {
                    img {
                        margin-left: -30px;
                        transform: none;
                    }
                }
            }
            .statja-menu {
                display: none;
            }
        }
    }
}
