/*

*/

.version._30_polezno /* version checker */
{
	color: #000006;
	background-color: #FEA79F;
}

#page
{
	z-index: 1;
	min-height: 2321.9px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62.09999999999991px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu56300
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 24px;
	width: 100%;
}

#u56300
{
	z-index: 268;
	height: 38px;
	position: relative;
	width: 3.44%;
}

#u47981
{
	z-index: 155;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u47981-bw
{
	z-index: 155;
	margin-top: 51px;
	height: 58px;
}

#u24688-4
{
	z-index: 70;
	width: 231px;
	min-height: 44px;
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 662px;
	left: 54px;
	border-width: 0px 0px 3px;
}

#u24688-4:hover
{
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 660px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24688-4:active
{
	background: #007DFF url("../images/u24688-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 660px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#menuu47989
{
	z-index: 156;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	margin-left: 50%;
	left: -475px;
}

#u48032
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u48035
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48035:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u48037-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48035:hover #u48037-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48035.MuseMenuActive #u48037-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48035:hover #u48037-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48018
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u48019
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48019:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u48022-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48019:hover #u48022-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u48019.MuseMenuActive #u48022-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u48019:hover #u48022-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48060
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u48061
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48061:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u48062-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48061:hover #u48062-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u48061.MuseMenuActive #u48062-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u48061:hover #u48062-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47990
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u47991
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47991:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u47992-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47991:hover #u47992-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u47991.MuseMenuActive #u47992-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u47991:hover #u47992-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48025
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u48028
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48028:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u48029-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48028:hover #u48029-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u48028.MuseMenuActive #u48029-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u48028:hover #u48029-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48046
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u48049
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48049:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u48050-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48049:hover #u48050-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u48049.MuseMenuActive #u48050-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u48049:hover #u48050-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47997
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u47998
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47998:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u48001-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47998:hover #u48001-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u47998.MuseMenuActive #u48001-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u47998:hover #u48001-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48053
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u48054
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u48054:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u48057-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u48054:hover #u48057-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u48054.MuseMenuActive #u48057-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u48054:hover #u48057-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47998.MuseMenuActive #u48001-4 p,#u48054.MuseMenuActive #u48057-6 p
{
	font-size: 12px;
}

#u48039
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u48040
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48040:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u48043-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48040:hover #u48043-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u48040.MuseMenuActive #u48043-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u48040:hover #u48043-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48011
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u48012
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48012.MuseMenuActive
{
	border-color: #F0C330;
	background-color: #29ABE2;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u48015-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48012:hover #u48015-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u48012:hover #u48015-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48004
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u48007
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48007:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u48008-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48007:hover #u48008-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u48012.MuseMenuActive #u48015-4,#u48007.MuseMenuActive #u48008-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u48007:hover #u48008-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48035.MuseMenuActive #u48037-4 p,#u48019.MuseMenuActive #u48022-4 p,#u48061.MuseMenuActive #u48062-4 p,#u47991.MuseMenuActive #u47992-4 p,#u48028.MuseMenuActive #u48029-4 p,#u48049.MuseMenuActive #u48050-4 p,#u48040.MuseMenuActive #u48043-4 p,#u48012.MuseMenuActive #u48015-4 p,#u48007.MuseMenuActive #u48008-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u56289
{
	z-index: 225;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u24632
{
	z-index: 10;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(127,127,127,0.65),0px 0px 12px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 64px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	width: 26.57%;
	left: 4.28%;
}

#u24697-4
{
	z-index: 110;
	min-height: 51px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24623
{
	z-index: 20;
	height: 176px;
	margin-top: 10px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
	background: transparent url("../images/emalirovka-vann-u24623-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u24635-4
{
	z-index: 30;
	min-height: 157px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u56299
{
	z-index: 267;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#pu56296
{
	margin-right: -10000px;
	margin-top: 15px;
	width: 3.96%;
	margin-left: 27.82%;
}

#u56296
{
	z-index: 264;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u56297
{
	z-index: 265;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu56293-4
{
	width: 30.94%;
	margin: 15px -10000px -1px 32.395833333333336%;
}

#u56293-4
{
	z-index: 250;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 59.6%;
}

#u56295-4
{
	z-index: 260;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 59.6%;
}

#u56294-6
{
	z-index: 254;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 59.6%;
}

#u24706
{
	z-index: 13;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(127,127,127,0.65),0px 0px 12px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 64px;
	margin-top: 132px;
	position: relative;
	width: 85.86%;
	margin-left: 13.47%;
}

#u24700-4
{
	z-index: 122;
	min-height: 39px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24644
{
	z-index: 23;
	height: 176px;
	margin-top: 10px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
	background: transparent url("../images/restavriruem-vann.jpg") no-repeat center center;
	background-size: cover;
}

#u24641-4
{
	z-index: 42;
	min-height: 157px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24691-4
{
	z-index: 82;
	width: 231px;
	min-height: 44px;
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 662px;
	left: 364px;
	border-width: 0px 0px 3px;
}

#u24691-4:hover
{
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 660px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24691-4:active
{
	background: #007DFF url("../images/u24688-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 660px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u56298
{
	z-index: 266;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	width: 3.96%;
	left: 54.38%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu56290-8
{
	width: 36.78%;
	margin: 22px -10000px -1px 59.166666666666664%;
}

#u56290-8
{
	z-index: 226;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 50.71%;
}

#u56291-8
{
	z-index: 234;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 50.71%;
}

#u56292-8
{
	z-index: 242;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 50.71%;
}

#u56290-2,#u56290-4,#u56291-2,#u56291-4,#u56292-2,#u56292-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u24709
{
	z-index: 17;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(127,127,127,0.65),0px 0px 12px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 59px;
	margin-top: 148px;
	position: relative;
	width: 72.24%;
	margin-left: 27.2%;
}

#u24703-6
{
	z-index: 138;
	min-height: 39px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 90.59%;
	margin-left: 3.93%;
}

#u24653
{
	z-index: 27;
	height: 176px;
	margin-top: 10px;
	position: relative;
	width: 90.59%;
	margin-left: 3.93%;
	background: transparent url("../images/akrilvkladish-u24653-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u24650-4
{
	z-index: 58;
	min-height: 162px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
	width: 90.59%;
	margin-left: 3.93%;
}

#ppu59001
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 675px;
}

#pu59001
{
	width: 0.01px;
	margin-left: 90px;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1px;
}

#u56325
{
	z-index: 269;
	width: 150px;
	min-height: 55px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u24694-4
{
	z-index: 98;
	width: 231px;
	min-height: 44px;
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 593px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u24694-4:hover
{
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 591px 0px 2px;
	border-width: 5px 0px 0px;
}

#u24694-4:active
{
	background: #007DFF url("../images/u24688-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 591px 0px 2px;
	border-width: 5px 0px 0px;
}

#u56330
{
	z-index: 270;
	width: 185px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 80px;
}

#u56338
{
	z-index: 271;
	width: 185px;
	min-height: 72px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u56332
{
	z-index: 272;
	width: 185px;
	min-height: 37px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u56331
{
	z-index: 273;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u56335
{
	z-index: 274;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u56333
{
	z-index: 275;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u56337
{
	z-index: 276;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u56334
{
	z-index: 277;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u56336
{
	z-index: 278;
	width: 185px;
	min-height: 70px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u24933
{
	z-index: 152;
	height: 35px;
	position: relative;
	width: 5%;
	margin-left: 47.5%;
}

#u24712
{
	z-index: 11;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(127,127,127,0.65),0px 0px 12px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 56px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 4.28%;
}

#u24754-4
{
	z-index: 114;
	min-height: 54px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24745
{
	z-index: 21;
	height: 176px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
	background: transparent url("../images/stacril.jpg") no-repeat center center;
	background-size: cover;
}

#u24721-4
{
	z-index: 34;
	min-height: 168px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24715-4
{
	z-index: 74;
	width: 231px;
	min-height: 44px;
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 417px;
	left: 54px;
	border-width: 0px 0px 3px;
}

#u24715-4:hover
{
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 415px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24715-4:active
{
	background: #007DFF url("../images/u24688-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 415px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24718
{
	z-index: 14;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(127,127,127,0.65),0px 0px 12px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 56px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 36.67%;
}

#u24751-4
{
	z-index: 126;
	min-height: 54px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24742
{
	z-index: 24;
	height: 176px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
	background: transparent url("../images/pokraska-u24742-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u24727-4
{
	z-index: 46;
	min-height: 171px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24724-4
{
	z-index: 86;
	width: 231px;
	min-height: 44px;
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 417px;
	left: 364px;
	border-width: 0px 0px 3px;
}

#u24724-4:hover
{
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 415px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24724-4:active
{
	background: #007DFF url("../images/u24688-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 415px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24736
{
	z-index: 18;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(127,127,127,0.65),0px 0px 12px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 56px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 69.17%;
}

#u24748-4
{
	z-index: 144;
	min-height: 54px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 90.59%;
	margin-left: 3.93%;
}

#u24739
{
	z-index: 28;
	height: 176px;
	position: relative;
	width: 90.59%;
	margin-left: 3.93%;
	background: transparent url("../images/red-faq.jpg") no-repeat center center;
	background-size: contain;
}

#u24733-4
{
	z-index: 62;
	min-height: 171px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
	width: 90.59%;
	margin-left: 3.93%;
}

#u24730-4
{
	z-index: 102;
	width: 231px;
	min-height: 44px;
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 417px;
	left: 675px;
	border-width: 0px 0px 3px;
}

#u24730-4:hover
{
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 415px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24730-4:active
{
	background: #007DFF url("../images/u24688-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 415px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24936
{
	z-index: 153;
	height: 35px;
	position: relative;
	width: 5%;
	margin-left: 47.5%;
}

#u24802
{
	z-index: 12;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(127,127,127,0.65),0px 0px 12px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 66px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 4.28%;
}

#u24844-4
{
	z-index: 118;
	min-height: 51px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24835
{
	z-index: 22;
	height: 176px;
	margin-top: 3px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
	background: transparent url("../images/vanni-u24835-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u24811-4
{
	z-index: 38;
	min-height: 164px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24805-4
{
	z-index: 78;
	width: 231px;
	min-height: 44px;
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 54px;
	border-width: 0px 0px 3px;
}

#u24805-4:hover
{
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 414px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24805-4:active
{
	background: #007DFF url("../images/u24688-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 414px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24808
{
	z-index: 15;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(127,127,127,0.65),0px 0px 12px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 66px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 36.67%;
}

#u24841-4
{
	z-index: 130;
	min-height: 57px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24832
{
	z-index: 25;
	height: 176px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
	background: transparent url("../images/nalivnaya-vanna-u24832-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u24817-4
{
	z-index: 50;
	min-height: 164px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24814-4
{
	z-index: 90;
	width: 231px;
	min-height: 44px;
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 364px;
	border-width: 0px 0px 3px;
}

#u24814-4:hover
{
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 414px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24814-4:active
{
	background: #007DFF url("../images/u24688-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 414px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24826
{
	z-index: 19;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(127,127,127,0.65),0px 0px 12px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 66px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 69.17%;
}

#u24838-4
{
	z-index: 148;
	min-height: 51px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 90.59%;
	margin-left: 3.93%;
}

#u24829
{
	z-index: 29;
	height: 176px;
	position: relative;
	width: 90.59%;
	margin-left: 3.93%;
	background: transparent url("../images/emalirovka-vann-u24623-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u24823-4
{
	z-index: 66;
	min-height: 164px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
	width: 90.59%;
	margin-left: 3.93%;
}

#u24820-4
{
	z-index: 106;
	width: 231px;
	min-height: 44px;
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 675px;
	border-width: 0px 0px 3px;
}

#u24820-4:hover
{
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 414px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24820-4:active
{
	background: #007DFF url("../images/u24688-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 414px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24939
{
	z-index: 154;
	height: 35px;
	position: relative;
	width: 5%;
	margin-left: 47.5%;
}

.ie #u56300,.ie #u56299,.ie #u24933,.ie #u24936,.ie #u24939
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#ppu56300,#pu24712,#pu24802,#pu24862
{
	width: 100%;
}

#u24862
{
	z-index: 16;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(127,127,127,0.65),0px 0px 12px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 79px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 36.67%;
}

#u24874-4
{
	z-index: 134;
	min-height: 39px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24871
{
	z-index: 26;
	height: 176px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
	background: transparent url("../images/ugol-u24871-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u24868-4
{
	z-index: 54;
	min-height: 140px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
	width: 90.59%;
	margin-left: 4.71%;
}

#u24865-4
{
	z-index: 94;
	width: 231px;
	min-height: 44px;
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
	left: 364px;
	border-width: 0px 0px 3px;
}

#u24865-4:hover
{
	background: #007DFF url("../images/u24688-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 390px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24865-4:active
{
	background: #007DFF url("../images/u24688-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 231px;
	margin: 390px -10000px 2px 0px;
	border-width: 5px 0px 0px;
}

#u24688-2,#u24691-2,#u24694-2,#u24715-2,#u24724-2,#u24730-2,#u24805-2,#u24814-2,#u24820-2,#u24865-2
{
	padding-top: 20px;
}

#ppu58546
{
	margin-top: 18px;
	width: 100%;
}

#pu58546
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58546
{
	z-index: 279;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58552-4
{
	z-index: 296;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58548
{
	z-index: 292;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58549
{
	margin-right: -10000px;
	margin-top: 7px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58549
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58549
{
	z-index: 293;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58550
{
	z-index: 294;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58553
{
	z-index: 300;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58551
{
	z-index: 295;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58547-12
{
	z-index: 280;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58554
{
	z-index: 301;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58554:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 29px -10000px 0px 0%;
	background-size: cover;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

