/*

*/

.version._46_zidkiy_akril /* version checker */
{
	color: #0000F1;
	background-color: #D7F5E7;
}

#page
{
	z-index: 1;
	min-height: 1947px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#ptop
{
	width: 100%;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u56839
{
	z-index: 228;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#ppu56840
{
	margin-top: -5px;
	width: 100%;
}

#pu56840
{
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u56840
{
	z-index: 229;
	height: 38px;
	position: relative;
	width: 3.44%;
}

.ie #u56839,.ie #u56840
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u49871
{
	z-index: 116;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body.initialized
{
	visibility: visible;
}

#u49871-bw
{
	z-index: 116;
	margin-top: 54px;
	height: 58px;
}

#menuu49879
{
	z-index: 117;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	margin-left: 50%;
	left: -478px;
}

#u49922
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u49925
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49925:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u49927-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49925:hover #u49927-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u49925.MuseMenuActive #u49927-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u49925:hover #u49927-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49908
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u49909
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49909:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u49912-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49909:hover #u49912-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u49909.MuseMenuActive #u49912-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u49909:hover #u49912-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49950
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u49951
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49951:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u49952-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49951:hover #u49952-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u49951.MuseMenuActive #u49952-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u49951:hover #u49952-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49880
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u49881
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49881:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u49882-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49881:hover #u49882-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u49881.MuseMenuActive #u49882-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u49881:hover #u49882-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49915
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u49918
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49918:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u49919-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49918:hover #u49919-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u49918.MuseMenuActive #u49919-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u49918:hover #u49919-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49936
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u49939
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49939:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u49940-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49939:hover #u49940-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u49939.MuseMenuActive #u49940-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u49939:hover #u49940-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49887
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u49888
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49888:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u49891-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49888:hover #u49891-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u49888.MuseMenuActive #u49891-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u49888:hover #u49891-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49943
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u49944
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u49944:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u49947-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u49944:hover #u49947-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u49944.MuseMenuActive #u49947-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u49944:hover #u49947-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49888.MuseMenuActive #u49891-4 p,#u49944.MuseMenuActive #u49947-6 p
{
	font-size: 12px;
}

#u49929
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u49930
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49930:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u49933-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49930:hover #u49933-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u49930.MuseMenuActive #u49933-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u49930:hover #u49933-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49901
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u49902
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49902:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u49905-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49902:hover #u49905-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u49902:hover #u49905-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49894
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u49897
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49897:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u49898-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49897:hover #u49898-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u49902.MuseMenuActive #u49905-4,#u49897.MuseMenuActive #u49898-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u49897:hover #u49898-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49925.MuseMenuActive #u49927-4 p,#u49909.MuseMenuActive #u49912-4 p,#u49951.MuseMenuActive #u49952-4 p,#u49881.MuseMenuActive #u49882-4 p,#u49918.MuseMenuActive #u49919-4 p,#u49939.MuseMenuActive #u49940-4 p,#u49930.MuseMenuActive #u49933-4 p,#u49902.MuseMenuActive #u49905-4 p,#u49897.MuseMenuActive #u49898-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u56829
{
	z-index: 186;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pppu56836
{
	margin-right: -10000px;
	margin-top: 2px;
	width: 83.34%;
	margin-left: 8.34%;
}

#ppu56836
{
	width: 60%;
	margin-left: 23.38%;
}

#pu56836
{
	margin-right: -10000px;
	width: 7.92%;
}

#u56836
{
	z-index: 225;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u56837
{
	z-index: 226;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu56833-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.17%;
}

#u56833-4
{
	z-index: 211;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56835-4
{
	z-index: 221;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u56834-6
{
	z-index: 215;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u56838
{
	z-index: 227;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.13%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu56830-8
{
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u56830-8
{
	z-index: 187;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56831-8
{
	z-index: 195;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u56832-8
{
	z-index: 203;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56830-2,#u56830-4,#u56831-2,#u56831-4,#u56832-2,#u56832-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u27396-4
{
	z-index: 12;
	min-height: 77px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 57px;
	position: relative;
	width: 100%;
}

#u27397-9
{
	z-index: 16;
	min-height: 228px;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u27397-2,#u27397-3,#u27397-4,#u27397-6
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 766px;
}

#u27398
{
	z-index: 25;
	height: 269px;
	margin-top: 7px;
	position: relative;
	width: 46.88%;
	margin-left: 26.57%;
	background: transparent url("../images/emalirovka-vann.jpg") no-repeat left top;
}

#u27399-23
{
	z-index: 26;
	min-height: 569px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u27399,#u27399-5
{
	font-weight: 700;
}

#u27399-3,#u27399-4,#u27399-7,#u27399-8,#u27399-10,#u27399-11,#u27399-13,#u27399-14,#u27399-16,#u27399-17,#u27399-19,#u27399-20
{
	text-align: justify;
}

#pu27394
{
	margin-top: 7px;
	width: 100%;
}

#u27394
{
	z-index: 10;
	height: 504px;
	background: transparent url("../images/bathtub_f.jpg") no-repeat center center;
	background-size: cover;
}

#u27394-bw
{
	z-index: 10;
	height: 504px;
}

#u27395
{
	z-index: 11;
	height: 504px;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u27395-bw
{
	z-index: 11;
	height: 504px;
}

#u27490
{
	z-index: 49;
	width: 370px;
	height: 415px;
	border-color: #000000;
	background-color: #2B3E50;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 295px;
}

#u27491-4
{
	z-index: 50;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 83.34%;
	left: 8.34%;
}

#u27517-4
{
	z-index: 112;
	min-height: 65px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	width: 30.53%;
	left: 34.8%;
}

#pu27495
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 154px;
	margin-left: 333px;
}

#u27495
{
	z-index: 66;
	width: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu27496
{
	z-index: 67;
	width: 0.01px;
	height: 299px;
	position: relative;
	margin-right: -10000px;
}

#widgetu27503
{
	z-index: 68;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#widgetu27503.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u27505-4
{
	z-index: 69;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#muse_css_mq,#widgetu27503.non-empty-st #u27505-4
{
	background-color: #FFFFFF;
}

#widgetu27503.non-empty-st #u27505-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu27503_input,#widgetu27503_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#u27497-4
{
	z-index: 73;
	width: 289px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu27496.frm-sub-st #u27497-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu27496.frm-sub-st #u27497-4 p
{
	color: #FFFFFF;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u27516-4
{
	z-index: 77;
	width: 289px;
	min-height: 30px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu27496.frm-subm-err-st #u27516-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10001px;
	margin-bottom: -1px;
	min-height: 33px;
	width: 288px;
}

#widgetu27496.frm-subm-err-st #u27516-4 p
{
	color: #E74C3C;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u27516-2
{
	padding-top: 16px;
}

#u27511-4
{
	z-index: 81;
	width: 289px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu27496.frm-subm-ok-st #u27511-4
{
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu27496.frm-subm-ok-st #u27511-4 p
{
	color: #ECF0F1;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	padding-left: 0px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u27498-17
{
	z-index: 85;
	min-height: 68px;
	width: 292px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 1px;
	background: transparent url("../images/u27498-17.png") no-repeat 0px 0px;
}

#u27498-17:hover
{
	background: transparent url("../images/u27498-17-r.png") no-repeat 0px 0px;
}

#u27498-17:active
{
	background: transparent url("../images/u27498-17-m.png") no-repeat 0px 0px;
}

#widgetu27496.frm-sub-st #u27498-17
{
	background: transparent url("../images/u27498-17-fs.png") no-repeat 0px 0px;
}

#widgetu27499
{
	z-index: 102;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
}

#widgetu27499.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 80px -10000px 0px 0px;
}

#u27500-4
{
	z-index: 103;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu27499.non-empty-st #u27500-4
{
	background-color: #FFFFFF;
}

#widgetu27503.fld-err-st #u27505-4,#widgetu27499.fld-err-st #u27500-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 33px;
	width: 277px;
	margin: 0px -10000px 0px 0px;
}

#widgetu27499.non-empty-st #u27500-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu27499_input,#widgetu27499_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu27512
{
	z-index: 107;
	width: 293px;
	height: 87px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
}

#widgetu27512.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 87px;
	min-height: 0px;
	margin: 135px -10000px 0px 0px;
}

#u27514-4
{
	z-index: 108;
	width: 277px;
	min-height: 75px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu27512.non-empty-st #u27514-4
{
	background-color: #FFFFFF;
}

#widgetu27512.fld-err-st #u27514-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 75px;
	width: 277px;
	margin: 0px -10000px 0px 0px;
}

#widgetu27512.non-empty-st #u27514-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu27503.fld-err-st #u27505-4 *,#widgetu27499.fld-err-st #u27500-4 *,#widgetu27512.fld-err-st #u27514-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu27512_input,#widgetu27512_prompt
{
	width: 277px;
	min-height: 75px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu27503.fld-err-st #widgetu27503_input,#widgetu27503.fld-err-st #widgetu27503_prompt,#widgetu27499.fld-err-st #widgetu27499_input,#widgetu27499.fld-err-st #widgetu27499_prompt,#widgetu27512.fld-err-st #widgetu27512_input,#widgetu27512.fld-err-st #widgetu27512_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu27503.non-empty-st #widgetu27503_prompt,#widgetu27499.non-empty-st #widgetu27499_prompt,#widgetu27512.non-empty-st #widgetu27512_prompt
{
	visibility: hidden;
}

#u27492-10
{
	z-index: 54;
	width: 292px;
	min-height: 12px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 1px;
	position: relative;
}

#u27492-3
{
	font-family: open-sans, sans-serif;
}

#u27493
{
	margin-top: 2px;
	margin-bottom: -2px;
}

#u27494
{
	z-index: 61;
	width: 22px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-weight: normal;
}

#u27492-2,#u27492-7
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#ppu58662
{
	margin-top: 16px;
	width: 100%;
}

#pu58662
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58662
{
	z-index: 230;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58668-4
{
	z-index: 247;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58664
{
	z-index: 243;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58665
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58665
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58665
{
	z-index: 244;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58666
{
	z-index: 245;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58669
{
	z-index: 251;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58667
{
	z-index: 246;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58663-12
{
	z-index: 231;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58670
{
	z-index: 252;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58670:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 28px -10000px 0px 0%;
	background-size: cover;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

