/*

*/

.version._47_kak_pokrasit_vannu /* version checker */
{
	color: #0000F1;
	background-color: #1D12F2;
}

#page
{
	z-index: 1;
	min-height: 1894px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#ptop
{
	width: 100%;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u56923
{
	z-index: 221;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#ppu56924
{
	margin-top: -5px;
	width: 100%;
}

#pu56924
{
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u56924
{
	z-index: 222;
	height: 38px;
	position: relative;
	width: 3.44%;
}

.ie #u56923,.ie #u56924
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u50186
{
	z-index: 109;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body.initialized
{
	visibility: visible;
}

#u50186-bw
{
	z-index: 109;
	margin-top: 54px;
	height: 58px;
}

#menuu50194
{
	z-index: 110;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	margin-left: 50%;
	left: -476px;
}

#u50237
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u50240
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50240:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u50242-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50240:hover #u50242-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u50240.MuseMenuActive #u50242-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u50240:hover #u50242-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50223
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u50224
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50224:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u50227-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50224:hover #u50227-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u50224.MuseMenuActive #u50227-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u50224:hover #u50227-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50265
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u50266
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50266:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u50267-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50266:hover #u50267-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u50266.MuseMenuActive #u50267-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u50266:hover #u50267-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50195
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u50196
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50196:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u50197-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50196:hover #u50197-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u50196.MuseMenuActive #u50197-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u50196:hover #u50197-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50230
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u50233
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50233:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u50234-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50233:hover #u50234-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u50233.MuseMenuActive #u50234-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u50233:hover #u50234-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50251
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u50254
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50254:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u50255-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50254:hover #u50255-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u50254.MuseMenuActive #u50255-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u50254:hover #u50255-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50202
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u50203
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50203:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u50206-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50203:hover #u50206-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u50203.MuseMenuActive #u50206-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u50203:hover #u50206-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50258
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u50259
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u50259:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u50262-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u50259:hover #u50262-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u50259.MuseMenuActive #u50262-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u50259:hover #u50262-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50203.MuseMenuActive #u50206-4 p,#u50259.MuseMenuActive #u50262-6 p
{
	font-size: 12px;
}

#u50244
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u50245
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50245:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u50248-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50245:hover #u50248-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u50245.MuseMenuActive #u50248-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u50245:hover #u50248-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50216
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u50217
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50217:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u50220-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50217:hover #u50220-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u50217:hover #u50220-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50209
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u50212
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50212:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u50213-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50212:hover #u50213-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u50217.MuseMenuActive #u50220-4,#u50212.MuseMenuActive #u50213-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u50212:hover #u50213-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50240.MuseMenuActive #u50242-4 p,#u50224.MuseMenuActive #u50227-4 p,#u50266.MuseMenuActive #u50267-4 p,#u50196.MuseMenuActive #u50197-4 p,#u50233.MuseMenuActive #u50234-4 p,#u50254.MuseMenuActive #u50255-4 p,#u50245.MuseMenuActive #u50248-4 p,#u50217.MuseMenuActive #u50220-4 p,#u50212.MuseMenuActive #u50213-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u56913
{
	z-index: 179;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pppu56920
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
	width: 83.34%;
	margin-left: 8.34%;
}

#ppu56920
{
	width: 60%;
	margin-left: 23.38%;
}

#pu56920
{
	margin-right: -10000px;
	width: 7.92%;
}

#u56920
{
	z-index: 218;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u56921
{
	z-index: 219;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu56917-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.17%;
}

#u56917-4
{
	z-index: 204;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56919-4
{
	z-index: 214;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u56918-6
{
	z-index: 208;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u56922
{
	z-index: 220;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.13%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu56914-8
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u56914-8
{
	z-index: 180;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56915-8
{
	z-index: 188;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u56916-8
{
	z-index: 196;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56914-2,#u56914-4,#u56915-2,#u56915-4,#u56916-2,#u56916-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u27904-4
{
	z-index: 12;
	min-height: 48px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 56px;
	position: relative;
	width: 100%;
}

#u27905-14
{
	z-index: 16;
	min-height: 253px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 766px;
}

#u27906
{
	z-index: 30;
	height: 238px;
	margin-top: 16px;
	position: relative;
	width: 41.78%;
	margin-left: 29.17%;
	background: transparent url("../images/pokraska.jpg") no-repeat left top;
}

#u27907-11
{
	z-index: 31;
	min-height: 409px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u27905-2,#u27905-3,#u27905-5,#u27905-6,#u27905-8,#u27905-9,#u27905-11,#u27907-2,#u27907-3,#u27907-5,#u27907-6,#u27907-8
{
	text-align: justify;
}

#pu27902
{
	margin-top: 21px;
	width: 100%;
}

#u27902
{
	z-index: 10;
	height: 504px;
	background: transparent url("../images/bathtub_f.jpg") no-repeat center center;
	background-size: cover;
}

#u27902-bw
{
	z-index: 10;
	height: 504px;
}

#u27903
{
	z-index: 11;
	height: 504px;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u27903-bw
{
	z-index: 11;
	height: 504px;
}

#u27998
{
	z-index: 42;
	width: 370px;
	height: 415px;
	border-color: #000000;
	background-color: #2B3E50;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 294px;
}

#u27999-4
{
	z-index: 43;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 83.34%;
	left: 8.23%;
}

#u28025-4
{
	z-index: 105;
	min-height: 65px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	width: 30.53%;
	left: 34.69%;
}

#pu28003
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 154px;
	margin-left: 332px;
}

#u28003
{
	z-index: 59;
	width: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu28004
{
	z-index: 60;
	width: 0.01px;
	height: 299px;
	position: relative;
	margin-right: -10000px;
}

#widgetu28010
{
	z-index: 61;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#widgetu28010.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u28013-4
{
	z-index: 62;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#muse_css_mq,#widgetu28010.non-empty-st #u28013-4
{
	background-color: #FFFFFF;
}

#widgetu28010.non-empty-st #u28013-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu28010_input,#widgetu28010_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#u28009-4
{
	z-index: 66;
	width: 289px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu28004.frm-sub-st #u28009-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu28004.frm-sub-st #u28009-4 p
{
	color: #FFFFFF;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u28018-4
{
	z-index: 70;
	width: 289px;
	min-height: 30px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu28004.frm-subm-err-st #u28018-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10001px;
	margin-bottom: -1px;
	min-height: 33px;
	width: 288px;
}

#widgetu28004.frm-subm-err-st #u28018-4 p
{
	color: #E74C3C;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u28018-2
{
	padding-top: 16px;
}

#u28023-4
{
	z-index: 74;
	width: 289px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu28004.frm-subm-ok-st #u28023-4
{
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu28004.frm-subm-ok-st #u28023-4 p
{
	color: #ECF0F1;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	padding-left: 0px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u28024-17
{
	z-index: 78;
	min-height: 68px;
	width: 292px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 1px;
	background: transparent url("../images/u28024-17.png") no-repeat 0px 0px;
}

#u28024-17:hover
{
	background: transparent url("../images/u28024-17-r.png") no-repeat 0px 0px;
}

#u28024-17:active
{
	background: transparent url("../images/u28024-17-m.png") no-repeat 0px 0px;
}

#widgetu28004.frm-sub-st #u28024-17
{
	background: transparent url("../images/u28024-17-fs.png") no-repeat 0px 0px;
}

#widgetu28005
{
	z-index: 95;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
}

#widgetu28005.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 80px -10000px 0px 0px;
}

#u28008-4
{
	z-index: 96;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu28005.non-empty-st #u28008-4
{
	background-color: #FFFFFF;
}

#widgetu28010.fld-err-st #u28013-4,#widgetu28005.fld-err-st #u28008-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 33px;
	width: 277px;
	margin: 0px -10000px 0px 0px;
}

#widgetu28005.non-empty-st #u28008-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu28005_input,#widgetu28005_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu28019
{
	z-index: 100;
	width: 293px;
	height: 87px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
}

#widgetu28019.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 87px;
	min-height: 0px;
	margin: 135px -10000px 0px 0px;
}

#u28022-4
{
	z-index: 101;
	width: 277px;
	min-height: 75px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu28019.non-empty-st #u28022-4
{
	background-color: #FFFFFF;
}

#widgetu28019.fld-err-st #u28022-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 75px;
	width: 277px;
	margin: 0px -10000px 0px 0px;
}

#widgetu28019.non-empty-st #u28022-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu28010.fld-err-st #u28013-4 *,#widgetu28005.fld-err-st #u28008-4 *,#widgetu28019.fld-err-st #u28022-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu28019_input,#widgetu28019_prompt
{
	width: 277px;
	min-height: 75px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu28010.fld-err-st #widgetu28010_input,#widgetu28010.fld-err-st #widgetu28010_prompt,#widgetu28005.fld-err-st #widgetu28005_input,#widgetu28005.fld-err-st #widgetu28005_prompt,#widgetu28019.fld-err-st #widgetu28019_input,#widgetu28019.fld-err-st #widgetu28019_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu28010.non-empty-st #widgetu28010_prompt,#widgetu28005.non-empty-st #widgetu28005_prompt,#widgetu28019.non-empty-st #widgetu28019_prompt
{
	visibility: hidden;
}

#u28000-10
{
	z-index: 47;
	width: 292px;
	min-height: 12px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 1px;
	position: relative;
}

#u28000-3
{
	font-family: open-sans, sans-serif;
}

#u28001
{
	margin-top: 2px;
	margin-bottom: -2px;
}

#u28002
{
	z-index: 54;
	width: 22px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-weight: normal;
}

#u28000-2,#u28000-7
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#ppu58691
{
	margin-top: 29px;
	width: 100%;
}

#pu58691
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58691
{
	z-index: 223;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58697-4
{
	z-index: 240;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58693
{
	z-index: 236;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58694
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58694
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58694
{
	z-index: 237;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58695
{
	z-index: 238;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58698
{
	z-index: 244;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58696
{
	z-index: 239;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58692-12
{
	z-index: 224;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58699
{
	z-index: 245;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58699:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 29px -10000px 0px 0%;
	background-size: cover;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

