/*

*/

.version._48_akriloviy_vkladish /* version checker */
{
	color: #000016;
	background-color: #0E868C;
}

#page
{
	z-index: 1;
	min-height: 1960px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#ptop
{
	width: 100%;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u56755
{
	z-index: 223;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#ppu56756
{
	margin-top: -5px;
	width: 100%;
}

#pu56756
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u56756
{
	z-index: 224;
	height: 38px;
	position: relative;
	width: 3.44%;
}

.ie #u56755,.ie #u56756
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u49556
{
	z-index: 111;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body.initialized
{
	visibility: visible;
}

#u49556-bw
{
	z-index: 111;
	margin-top: 51px;
	height: 58px;
}

#menuu49564
{
	z-index: 112;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	margin-left: 50%;
	left: -476px;
}

#u49607
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u49610
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49610:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u49612-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49610:hover #u49612-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u49610.MuseMenuActive #u49612-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u49610:hover #u49612-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49593
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u49594
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49594:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u49597-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49594:hover #u49597-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u49594.MuseMenuActive #u49597-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u49594:hover #u49597-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49635
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u49636
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49636:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u49637-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49636:hover #u49637-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u49636.MuseMenuActive #u49637-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u49636:hover #u49637-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49565
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u49566
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49566:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u49567-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49566:hover #u49567-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u49566.MuseMenuActive #u49567-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u49566:hover #u49567-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49600
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u49603
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49603:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u49604-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49603:hover #u49604-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u49603.MuseMenuActive #u49604-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u49603:hover #u49604-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49621
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u49624
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49624:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u49625-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49624:hover #u49625-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u49624.MuseMenuActive #u49625-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u49624:hover #u49625-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49572
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u49573
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49573:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u49576-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49573:hover #u49576-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u49573.MuseMenuActive #u49576-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u49573:hover #u49576-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49628
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u49629
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u49629:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u49632-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u49629:hover #u49632-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u49629.MuseMenuActive #u49632-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u49629:hover #u49632-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49573.MuseMenuActive #u49576-4 p,#u49629.MuseMenuActive #u49632-6 p
{
	font-size: 12px;
}

#u49614
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u49615
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49615:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u49618-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49615:hover #u49618-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u49615.MuseMenuActive #u49618-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u49615:hover #u49618-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49586
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u49587
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49587:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u49590-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49587:hover #u49590-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u49587:hover #u49590-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49579
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u49582
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u49582:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u49583-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u49582:hover #u49583-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u49587.MuseMenuActive #u49590-4,#u49582.MuseMenuActive #u49583-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u49582:hover #u49583-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u49610.MuseMenuActive #u49612-4 p,#u49594.MuseMenuActive #u49597-4 p,#u49636.MuseMenuActive #u49637-4 p,#u49566.MuseMenuActive #u49567-4 p,#u49603.MuseMenuActive #u49604-4 p,#u49624.MuseMenuActive #u49625-4 p,#u49615.MuseMenuActive #u49618-4 p,#u49587.MuseMenuActive #u49590-4 p,#u49582.MuseMenuActive #u49583-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u56745
{
	z-index: 181;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pppu56752
{
	margin-right: -10000px;
	margin-top: 2px;
	width: 83.44%;
	margin-left: 8.23%;
}

#ppu56752
{
	width: 59.93%;
	margin-left: 23.48%;
}

#pu56752
{
	margin-right: -10000px;
	width: 7.92%;
}

#u56752
{
	z-index: 220;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u56753
{
	z-index: 221;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu56749-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.38%;
}

#u56749-4
{
	z-index: 206;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56751-4
{
	z-index: 216;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u56750-6
{
	z-index: 210;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u56754
{
	z-index: 222;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.13%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu56746-8
{
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u56746-8
{
	z-index: 182;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56747-8
{
	z-index: 190;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u56748-8
{
	z-index: 198;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56746-2,#u56746-4,#u56747-2,#u56747-4,#u56748-2,#u56748-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u27015-6
{
	z-index: 12;
	min-height: 72px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 61px;
	position: relative;
	width: 99.88%;
	margin-left: 0.13%;
}

#u27016-7
{
	z-index: 18;
	min-height: 188px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 99.88%;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 766px;
}

#u27017
{
	z-index: 25;
	height: 269px;
	margin-top: 18px;
	position: relative;
	width: 46.88%;
	margin-left: 26.57%;
	background: transparent url("../images/akrilvkladish.jpg") no-repeat left top;
}

#u27018-18
{
	z-index: 26;
	min-height: 556px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 42px;
	position: relative;
	width: 83.34%;
	margin-left: 8.23%;
}

#u27018-2,#u27018-3,#u27018-5,#u27018-6,#u27018-8,#u27018-9,#u27018-11,#u27018-12,#u27018-14,#u27018-15
{
	text-align: justify;
}

#pu27013
{
	margin-top: 16px;
	width: 100%;
}

#u27013
{
	z-index: 10;
	height: 504px;
	background: transparent url("../images/bathtub_f.jpg") no-repeat center center;
	background-size: cover;
}

#u27013-bw
{
	z-index: 10;
	height: 504px;
}

#u27014
{
	z-index: 11;
	height: 504px;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u27014-bw
{
	z-index: 11;
	height: 504px;
}

#u27109
{
	z-index: 44;
	width: 370px;
	height: 415px;
	border-color: #000000;
	background-color: #2B3E50;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 294px;
}

#u27110-4
{
	z-index: 45;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 83.34%;
	left: 8.23%;
}

#u27136-4
{
	z-index: 61;
	min-height: 65px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	width: 30.53%;
	left: 34.69%;
}

#pu27836
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 146px;
	margin-left: 333px;
}

#u27836
{
	z-index: 65;
	width: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu27837
{
	z-index: 66;
	width: 0.01px;
	height: 299px;
	position: relative;
	margin-right: -10000px;
}

#widgetu27838
{
	z-index: 67;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#widgetu27838.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u27839-4
{
	z-index: 68;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#muse_css_mq,#widgetu27838.non-empty-st #u27839-4
{
	background-color: #FFFFFF;
}

#widgetu27838.non-empty-st #u27839-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu27838_input,#widgetu27838_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#u27846-4
{
	z-index: 72;
	width: 289px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu27837.frm-sub-st #u27846-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu27837.frm-sub-st #u27846-4 p
{
	color: #FFFFFF;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u27848-4
{
	z-index: 76;
	width: 289px;
	min-height: 30px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu27837.frm-subm-err-st #u27848-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10001px;
	margin-bottom: -1px;
	min-height: 33px;
	width: 288px;
}

#widgetu27837.frm-subm-err-st #u27848-4 p
{
	color: #E74C3C;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u27848-2
{
	padding-top: 16px;
}

#u27847-4
{
	z-index: 80;
	width: 289px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu27837.frm-subm-ok-st #u27847-4
{
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu27837.frm-subm-ok-st #u27847-4 p
{
	color: #ECF0F1;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	padding-left: 0px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u27857-17
{
	z-index: 84;
	min-height: 68px;
	width: 292px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 1px;
	background: transparent url("../images/u27857-17.png") no-repeat 0px 0px;
}

#u27857-17:hover
{
	background: transparent url("../images/u27857-17-r.png") no-repeat 0px 0px;
}

#u27857-17:active
{
	background: transparent url("../images/u27857-17-m.png") no-repeat 0px 0px;
}

#widgetu27837.frm-sub-st #u27857-17
{
	background: transparent url("../images/u27857-17-fs.png") no-repeat 0px 0px;
}

#widgetu27842
{
	z-index: 101;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
}

#widgetu27842.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 80px -10000px 0px 0px;
}

#u27845-4
{
	z-index: 102;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu27842.non-empty-st #u27845-4
{
	background-color: #FFFFFF;
}

#widgetu27838.fld-err-st #u27839-4,#widgetu27842.fld-err-st #u27845-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 33px;
	width: 277px;
	margin: 0px -10000px 0px 0px;
}

#widgetu27842.non-empty-st #u27845-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu27842_input,#widgetu27842_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu27849
{
	z-index: 106;
	width: 293px;
	height: 87px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
}

#widgetu27849.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 87px;
	min-height: 0px;
	margin: 135px -10000px 0px 0px;
}

#u27852-4
{
	z-index: 107;
	width: 277px;
	min-height: 75px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu27849.non-empty-st #u27852-4
{
	background-color: #FFFFFF;
}

#widgetu27849.fld-err-st #u27852-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 75px;
	width: 277px;
	margin: 0px -10000px 0px 0px;
}

#widgetu27849.non-empty-st #u27852-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu27838.fld-err-st #u27839-4 *,#widgetu27842.fld-err-st #u27845-4 *,#widgetu27849.fld-err-st #u27852-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu27849_input,#widgetu27849_prompt
{
	width: 277px;
	min-height: 75px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu27838.fld-err-st #widgetu27838_input,#widgetu27838.fld-err-st #widgetu27838_prompt,#widgetu27842.fld-err-st #widgetu27842_input,#widgetu27842.fld-err-st #widgetu27842_prompt,#widgetu27849.fld-err-st #widgetu27849_input,#widgetu27849.fld-err-st #widgetu27849_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu27838.non-empty-st #widgetu27838_prompt,#widgetu27842.non-empty-st #widgetu27842_prompt,#widgetu27849.non-empty-st #widgetu27849_prompt
{
	visibility: hidden;
}

#u27111-10
{
	z-index: 49;
	width: 292px;
	min-height: 12px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 8px;
	position: relative;
}

#u27111-3
{
	font-family: open-sans, sans-serif;
}

#u27112
{
	margin-top: 2px;
	margin-bottom: -2px;
}

#u27113
{
	z-index: 56;
	width: 22px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-weight: normal;
}

#u27111-2,#u27111-7
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#ppu58633
{
	margin-top: 23px;
	width: 100%;
}

#pu58633
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58633
{
	z-index: 225;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58639-4
{
	z-index: 242;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58635
{
	z-index: 238;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58636
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58636
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58636
{
	z-index: 239;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58637
{
	z-index: 240;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58640
{
	z-index: 246;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58638
{
	z-index: 241;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58634-12
{
	z-index: 226;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58641
{
	z-index: 247;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58641:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 28px -10000px 0px 0%;
	background-size: cover;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

