/*

*/

.version._52_glavnaya /* version checker */
{
	color: #0000E1;
	background-color: #5F762D;
}

#page
{
	z-index: 1;
	min-height: 1610px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#ppu57008
{
	width: 100%;
}

#pu57008
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 24px;
	width: 100%;
}

#u57008
{
	z-index: 216;
	height: 38px;
	position: relative;
	width: 3.44%;
}

#u50501
{
	z-index: 103;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body.initialized
{
	visibility: visible;
}

#u50501-bw
{
	z-index: 103;
	margin-top: 54px;
	height: 58px;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 766px;
}

#menuu50509
{
	z-index: 104;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	margin-left: 50%;
	left: -478px;
}

#u50552
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u50555
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50555:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u50557-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50555:hover #u50557-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u50555.MuseMenuActive #u50557-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u50555:hover #u50557-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50538
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u50539
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50539:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u50542-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50539:hover #u50542-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u50539.MuseMenuActive #u50542-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u50539:hover #u50542-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50580
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u50581
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50581:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u50582-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50581:hover #u50582-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u50581.MuseMenuActive #u50582-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u50581:hover #u50582-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50510
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u50511
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50511:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u50512-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50511:hover #u50512-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u50511.MuseMenuActive #u50512-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u50511:hover #u50512-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50545
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u50548
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50548:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u50549-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50548:hover #u50549-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u50548.MuseMenuActive #u50549-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u50548:hover #u50549-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50566
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u50569
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50569:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u50570-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50569:hover #u50570-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u50569.MuseMenuActive #u50570-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u50569:hover #u50570-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50517
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u50518
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50518:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u50521-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50518:hover #u50521-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u50518.MuseMenuActive #u50521-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u50518:hover #u50521-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50573
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u50574
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u50574:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u50577-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u50574:hover #u50577-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u50574.MuseMenuActive #u50577-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u50574:hover #u50577-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50518.MuseMenuActive #u50521-4 p,#u50574.MuseMenuActive #u50577-6 p
{
	font-size: 12px;
}

#u50559
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u50560
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50560:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u50563-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50560:hover #u50563-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u50560.MuseMenuActive #u50563-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u50560:hover #u50563-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50531
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u50532
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50532:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u50535-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50532:hover #u50535-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u50532:hover #u50535-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50524
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u50527
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u50527:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u50528-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u50527:hover #u50528-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u50532.MuseMenuActive #u50535-4,#u50527.MuseMenuActive #u50528-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u50527:hover #u50528-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50555.MuseMenuActive #u50557-4 p,#u50539.MuseMenuActive #u50542-4 p,#u50581.MuseMenuActive #u50582-4 p,#u50511.MuseMenuActive #u50512-4 p,#u50548.MuseMenuActive #u50549-4 p,#u50569.MuseMenuActive #u50570-4 p,#u50560.MuseMenuActive #u50563-4 p,#u50532.MuseMenuActive #u50535-4 p,#u50527.MuseMenuActive #u50528-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u56997
{
	z-index: 173;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu57007
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 83.34%;
	margin-left: 8.34%;
}

#u57007
{
	z-index: 215;
	height: 12px;
	position: relative;
	width: 3.88%;
	margin-left: 1.13%;
}

.ie #u57008,.ie #u57007
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u28290-4
{
	z-index: 12;
	min-height: 86px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 163px;
	position: relative;
	width: 100%;
}

#u28292
{
	z-index: 28;
	height: 418px;
	margin-top: 1px;
	position: relative;
	width: 38.88%;
	background: transparent url("../images/master.jpg") no-repeat center center;
	background-size: cover;
}

#u28293-7
{
	z-index: 29;
	min-height: 270px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
	width: 100%;
}

#u57033
{
	z-index: 217;
	width: 150px;
	min-height: 55px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 771px;
}

#u57038
{
	z-index: 218;
	width: 185px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 89px;
}

#u57046
{
	z-index: 219;
	width: 185px;
	min-height: 72px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u57040
{
	z-index: 220;
	width: 185px;
	min-height: 37px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u57039
{
	z-index: 221;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u57043
{
	z-index: 222;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u57041
{
	z-index: 223;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u57045
{
	z-index: 224;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u57042
{
	z-index: 225;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u57044
{
	z-index: 226;
	width: 185px;
	min-height: 70px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu57004
{
	margin-right: -10000px;
	margin-top: 15px;
	width: 3.96%;
	margin-left: 27.82%;
}

#u57004
{
	z-index: 212;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u57005
{
	z-index: 213;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pppu57001-4
{
	margin-right: -10000px;
	margin-top: 15px;
	width: 59.28%;
	margin-left: 32.4%;
}

#ppu57001-4
{
	width: 76.63%;
}

#pu57001-4
{
	margin-right: -10000px;
	width: 40.6%;
}

#u57001-4
{
	z-index: 198;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u57003-4
{
	z-index: 208;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u57002-6
{
	z-index: 202;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u57006
{
	z-index: 214;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 8.72%;
	left: 48.4%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu56998-8
{
	margin-right: -10000px;
	margin-top: 7px;
	width: 41.06%;
	margin-left: 58.95%;
}

#u56998-8
{
	z-index: 174;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56999-8
{
	z-index: 182;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u57000-8
{
	z-index: 190;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56998-2,#u56998-4,#u56999-2,#u56999-4,#u57000-2,#u57000-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u28291-12
{
	z-index: 16;
	min-height: 418px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 148px;
	position: relative;
	width: 82.08%;
	margin-left: 17.93%;
}

#pu28288
{
	margin-top: 25px;
	width: 100%;
}

#u28288
{
	z-index: 10;
	height: 504px;
	background: transparent url("../images/bathtub_f.jpg") no-repeat center center;
	background-size: cover;
}

#u28288-bw
{
	z-index: 10;
	height: 504px;
}

#u28289
{
	z-index: 11;
	height: 504px;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u28289-bw
{
	z-index: 11;
	height: 504px;
}

#u28384
{
	z-index: 36;
	width: 370px;
	height: 415px;
	border-color: #000000;
	background-color: #2B3E50;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 296px;
}

#u28385-4
{
	z-index: 37;
	min-height: 45px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 83.34%;
	left: 8.44%;
}

#u28411-4
{
	z-index: 99;
	min-height: 65px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	width: 30.53%;
	left: 34.8%;
}

#pu28389
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 140px;
	margin-left: 334px;
}

#u28389
{
	z-index: 53;
	width: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu28390
{
	z-index: 54;
	width: 0.01px;
	height: 299px;
	position: relative;
	margin-right: -10000px;
}

#widgetu28402
{
	z-index: 55;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#widgetu28402.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u28404-4
{
	z-index: 56;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#muse_css_mq,#widgetu28402.non-empty-st #u28404-4
{
	background-color: #FFFFFF;
}

#widgetu28402.non-empty-st #u28404-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu28402_input,#widgetu28402_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#u28391-4
{
	z-index: 60;
	width: 289px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu28390.frm-sub-st #u28391-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu28390.frm-sub-st #u28391-4 p
{
	color: #FFFFFF;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u28401-4
{
	z-index: 64;
	width: 289px;
	min-height: 30px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu28390.frm-subm-err-st #u28401-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10001px;
	margin-bottom: -1px;
	min-height: 33px;
	width: 288px;
}

#widgetu28390.frm-subm-err-st #u28401-4 p
{
	color: #E74C3C;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u28401-2
{
	padding-top: 16px;
}

#u28406-4
{
	z-index: 68;
	width: 289px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu28390.frm-subm-ok-st #u28406-4
{
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu28390.frm-subm-ok-st #u28406-4 p
{
	color: #ECF0F1;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	padding-left: 0px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u28400-17
{
	z-index: 72;
	min-height: 68px;
	width: 292px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 1px;
	background: transparent url("../images/u28400-17.png") no-repeat 0px 0px;
}

#u28400-17:hover
{
	background: transparent url("../images/u28400-17-r.png") no-repeat 0px 0px;
}

#u28400-17:active
{
	background: transparent url("../images/u28400-17-m.png") no-repeat 0px 0px;
}

#widgetu28390.frm-sub-st #u28400-17
{
	background: transparent url("../images/u28400-17-fs.png") no-repeat 0px 0px;
}

#widgetu28407
{
	z-index: 89;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
}

#widgetu28407.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 80px -10000px 0px 0px;
}

#u28409-4
{
	z-index: 90;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu28407.non-empty-st #u28409-4
{
	background-color: #FFFFFF;
}

#widgetu28402.fld-err-st #u28404-4,#widgetu28407.fld-err-st #u28409-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 33px;
	width: 277px;
	margin: 0px -10000px 0px 0px;
}

#widgetu28407.non-empty-st #u28409-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu28407_input,#widgetu28407_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu28392
{
	z-index: 94;
	width: 293px;
	height: 87px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
}

#widgetu28392.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 87px;
	min-height: 0px;
	margin: 135px -10000px 0px 0px;
}

#u28393-4
{
	z-index: 95;
	width: 277px;
	min-height: 75px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu28392.non-empty-st #u28393-4
{
	background-color: #FFFFFF;
}

#widgetu28392.fld-err-st #u28393-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 75px;
	width: 277px;
	margin: 0px -10000px 0px 0px;
}

#widgetu28392.non-empty-st #u28393-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu28402.fld-err-st #u28404-4 *,#widgetu28407.fld-err-st #u28409-4 *,#widgetu28392.fld-err-st #u28393-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu28392_input,#widgetu28392_prompt
{
	width: 277px;
	min-height: 75px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu28402.fld-err-st #widgetu28402_input,#widgetu28402.fld-err-st #widgetu28402_prompt,#widgetu28407.fld-err-st #widgetu28407_input,#widgetu28407.fld-err-st #widgetu28407_prompt,#widgetu28392.fld-err-st #widgetu28392_input,#widgetu28392.fld-err-st #widgetu28392_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu28402.non-empty-st #widgetu28402_prompt,#widgetu28407.non-empty-st #widgetu28407_prompt,#widgetu28392.non-empty-st #widgetu28392_prompt
{
	visibility: hidden;
}

#u28386-10
{
	z-index: 41;
	width: 292px;
	min-height: 12px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 14px;
	position: relative;
}

#u28386-3
{
	font-family: open-sans, sans-serif;
}

#u28387
{
	margin-top: 2px;
	margin-bottom: -2px;
}

#u28388
{
	z-index: 48;
	width: 22px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-weight: normal;
}

#u28386-2,#u28386-7
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#ppu58720
{
	margin-top: 26px;
	width: 100%;
}

#pu58720
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58720
{
	z-index: 227;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58726-4
{
	z-index: 244;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58722
{
	z-index: 240;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58723
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58723
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58723
{
	z-index: 241;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58724
{
	z-index: 242;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58727
{
	z-index: 248;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58725
{
	z-index: 243;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58721-12
{
	z-index: 228;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58728
{
	z-index: 249;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58728:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 28px -10000px 0px 0%;
	background-size: cover;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

