/*

*/

.version.akril_lux /* version checker */
{
	color: #0000FB;
	background-color: #AF5B72;
}

#page
{
	z-index: 1;
	min-height: 1445px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#top
{
	margin-left: 19px;
	position: relative;
}

#pu52076
{
	margin-top: -4px;
	width: 100%;
}

#u52076
{
	z-index: 191;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u52076-bw
{
	z-index: 191;
	margin-top: 102px;
	height: 58px;
}

#menuu52084
{
	z-index: 192;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	margin-left: 50%;
	left: -478px;
}

#u52127
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u52130
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u52130:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u52132-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u52130:hover #u52132-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u52130.MuseMenuActive #u52132-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u52130:hover #u52132-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52113
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u52114
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u52114:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u52117-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u52114:hover #u52117-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u52114.MuseMenuActive #u52117-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u52114:hover #u52117-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52155
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u52156
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u52156:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u52157-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u52156:hover #u52157-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u52156.MuseMenuActive #u52157-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u52156:hover #u52157-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52085
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u52086
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u52086:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u52087-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u52086:hover #u52087-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u52086.MuseMenuActive #u52087-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u52086:hover #u52087-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52120
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u52123
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u52123:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u52124-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u52123:hover #u52124-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u52123.MuseMenuActive #u52124-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u52123:hover #u52124-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52141
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u52144
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u52144:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u52145-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u52144:hover #u52145-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u52144.MuseMenuActive #u52145-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u52144:hover #u52145-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52092
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u52093
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u52093:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u52096-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u52093:hover #u52096-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u52093.MuseMenuActive #u52096-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u52093:hover #u52096-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52148
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u52149
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u52149:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u52152-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u52149:hover #u52152-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u52149.MuseMenuActive #u52152-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u52149:hover #u52152-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52093.MuseMenuActive #u52096-4 p,#u52149.MuseMenuActive #u52152-6 p
{
	font-size: 12px;
}

#u52134
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u52135
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u52135:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u52138-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u52135:hover #u52138-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u52135.MuseMenuActive #u52138-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u52135:hover #u52138-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52106
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u52107
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u52107:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u52110-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u52107:hover #u52110-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u52107:hover #u52110-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52099
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u52102
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u52102:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u52103-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u52102:hover #u52103-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u52107.MuseMenuActive #u52110-4,#u52102.MuseMenuActive #u52103-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u52102:hover #u52103-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u52130.MuseMenuActive #u52132-4 p,#u52114.MuseMenuActive #u52117-4 p,#u52156.MuseMenuActive #u52157-4 p,#u52086.MuseMenuActive #u52087-4 p,#u52123.MuseMenuActive #u52124-4 p,#u52144.MuseMenuActive #u52145-4 p,#u52135.MuseMenuActive #u52138-4 p,#u52107.MuseMenuActive #u52110-4 p,#u52102.MuseMenuActive #u52103-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u54802
{
	z-index: 261;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pppu54809
{
	margin-right: -10000px;
	margin-top: 3px;
	width: 87.5%;
	margin-left: 6.25%;
}

#ppu54809
{
	width: 57.15%;
	margin-left: 24.65%;
}

#pu54809
{
	margin-right: -10000px;
	width: 7.92%;
}

#u54809
{
	z-index: 300;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u54810
{
	z-index: 301;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu54806-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.17%;
}

#u54806-4
{
	z-index: 286;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u54808-4
{
	z-index: 296;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u54807-6
{
	z-index: 290;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u54811
{
	z-index: 302;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.34%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu54803-8
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u54803-8
{
	z-index: 262;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u54804-8
{
	z-index: 270;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u54805-8
{
	z-index: 278;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u54803-2,#u54803-4,#u54804-2,#u54804-4,#u54805-2,#u54805-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u34087-5
{
	z-index: 10;
	min-height: 54px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 71px;
	position: relative;
	width: 100%;
}

#pu34090
{
	margin-top: 20px;
	width: 100%;
}

#u34090
{
	z-index: 15;
	height: 292px;
	position: relative;
	margin-right: -10000px;
	width: 38.1%;
	background: transparent url("../images/la-otverd.png") no-repeat center center;
	background-size: contain;
}

#pu34093-9
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 55.12%;
	margin-left: 44.89%;
}

#u34093-9
{
	z-index: 16;
	min-height: 239px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u34093-2,#u34093-4,#u34093-6
{
	text-align: justify;
}

#u34241-4
{
	z-index: 98;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 43.63%;
}

#pu59001
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 660px;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	margin-left: 106px;
	position: relative;
}

#u59038
{
	z-index: 343;
	width: 200px;
	min-height: 39px;
	background-color: #007DFF;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: '__Proxima Nova_5';
	font-weight: 400;
	margin-top: 437px;
	position: relative;
}

.gs
{
	border-width: 0px;
	border-color: #FFD822;
	background-color: #85BB65;
	border-radius: 5px;
}

#pu34244-4
{
	margin-top: 2px;
	width: 100%;
}

#u34244-4
{
	z-index: 102;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 21.05%;
	left: 45.53%;
}

#u59046
{
	z-index: 344;
	width: 200px;
	min-height: 39px;
	background-color: #007DFF;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: '__Proxima Nova_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#pu34252-4
{
	margin-top: 8px;
	width: 100%;
}

#u34252-4
{
	z-index: 106;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 21.05%;
	left: 45.53%;
}

#u59051
{
	z-index: 345;
	width: 200px;
	min-height: 39px;
	background-color: #007DFF;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: '__Proxima Nova_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#u34101-11
{
	z-index: 25;
	min-height: 72px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
	width: 87.5%;
	margin-left: 6.25%;
}

#u34101,#u34101-4,#u34101-7
{
	font-weight: 700;
}

#u34104-4
{
	z-index: 36;
	min-height: 41px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 7px;
	position: relative;
	width: 87.5%;
	margin-left: 6.25%;
}

#u34168-4
{
	z-index: 44;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 38.86%;
	left: 9.69%;
}

#u34151-4
{
	z-index: 40;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 38.86%;
	left: 51.36%;
}

#ppu34171
{
	margin-top: 5px;
	width: 100%;
}

#pu34171
{
	margin-right: -10000px;
	margin-top: 13px;
	width: 2.71%;
	margin-left: 9.69%;
}

#u34171
{
	z-index: 49;
	height: 26px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u34185
{
	z-index: 50;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u34191
{
	z-index: 51;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u34200
{
	z-index: 52;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u34203
{
	z-index: 53;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u34212
{
	z-index: 54;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u34218
{
	z-index: 55;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u34224
{
	z-index: 56;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u34227
{
	z-index: 57;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#pu34182-4
{
	margin-right: -10000px;
	margin-top: 13px;
	width: 35.63%;
	margin-left: 12.92%;
}

#u34182-4
{
	z-index: 58;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u34188-4
{
	z-index: 62;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u34194-4
{
	z-index: 66;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u34197-4
{
	z-index: 70;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u34206-4
{
	z-index: 74;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u34209-4
{
	z-index: 78;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u34215-4
{
	z-index: 82;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u34221-4
{
	z-index: 86;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u34230-4
{
	z-index: 90;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u34154
{
	z-index: 48;
	height: 334px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 58.34%;
	background: transparent url("../images/sert-lux2.jpg") no-repeat center center;
	background-size: cover;
}

#u36095
{
	z-index: 189;
	height: 30px;
	position: relative;
	width: 4.17%;
	margin-left: 47.92%;
}

#u35955-4
{
	z-index: 150;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#pu35958
{
	margin-top: 24px;
	width: 100%;
}

#u35958
{
	z-index: 154;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 5%;
}

#u35964
{
	z-index: 157;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/kolerjal2.png") no-repeat center center;
	background-size: contain;
}

#u35975-4
{
	z-index: 160;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u35978-4
{
	z-index: 174;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36026
{
	z-index: 186;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 61px;
}

#u35981
{
	z-index: 155;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 36.78%;
}

#u35990
{
	z-index: 158;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/aceton2.png") no-repeat center center;
	background-size: contain;
}

#u35987-4
{
	z-index: 164;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u35984-4
{
	z-index: 178;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36031
{
	z-index: 187;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 366px;
}

#u35993
{
	z-index: 156;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 51.450000000000045px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 68.23%;
}

#u36002
{
	z-index: 159;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/0387082.jpg") no-repeat center center;
	background-size: contain;
}

#u35999-6
{
	z-index: 168;
	min-height: 90px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u35996-4
{
	z-index: 182;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36036
{
	z-index: 188;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 668px;
}

#u36292
{
	z-index: 190;
	height: 30px;
	margin-top: 2px;
	position: relative;
	width: 4.17%;
	margin-left: 72.3%;
}

#u34238-4
{
	z-index: 94;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#pu34168-4,#pu34260
{
	margin-top: 15px;
	width: 100%;
}

#u34260
{
	z-index: 110;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 10px 0px 0px 0px ;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 16.57%;
}

#u34269
{
	z-index: 112;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 33.23%;
}

#u34272
{
	z-index: 114;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 49.9%;
}

#u34275
{
	z-index: 116;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 10px 0px 0px ;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 66.57%;
}

#u34290-4
{
	z-index: 118;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 17.61%;
}

#u34296-4
{
	z-index: 126;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 34.28%;
}

#u34302-4
{
	z-index: 134;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 67.61%;
}

#u34299-4
{
	z-index: 142;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 50.94%;
}

#pu34284
{
	width: 100%;
}

#u34284
{
	z-index: 111;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 16.57%;
}

#u34305-4
{
	z-index: 122;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u34281
{
	z-index: 113;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 33.23%;
}

#u34308-4
{
	z-index: 130;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u34278
{
	z-index: 115;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 49.9%;
}

#u34311-4
{
	z-index: 146;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u34287
{
	z-index: 117;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 0px 10px 0px ;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 66.57%;
}

#u34314-4
{
	z-index: 138;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u58904
{
	z-index: 342;
	height: 15px;
	position: relative;
	width: 3.23%;
	margin-left: 48.44%;
}

#u58902-15
{
	z-index: 326;
	min-height: 163px;
	background-color: transparent;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u58902-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u58902-4,#u58902-11
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u34087-2,#u58902-3,#u58902-10
{
	text-decoration: underline;
}

#u58902-6,#u58902-8,#u58902-9,#u58902-13
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u58903
{
	z-index: 341;
	height: 39px;
	position: relative;
	width: 3.23%;
	margin-left: 48.44%;
}

.ie #u36095,.ie #u36292,.ie #u58904,.ie #u58903
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#ppu58140
{
	margin-top: -5px;
	width: 100%;
}

#pu58140
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58140
{
	z-index: 303;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58146-4
{
	z-index: 320;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58142
{
	z-index: 316;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58143
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58143
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58143
{
	z-index: 317;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58144
{
	z-index: 318;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58147
{
	z-index: 324;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58145
{
	z-index: 319;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58141-12
{
	z-index: 304;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58148
{
	z-index: 325;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58148:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 28px -10000px 0px 0%;
	background-size: cover;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face
{
	font-family: '__Proxima Nova_5';
	src: url('../fonts/proximanova-regular.eot');
	src: local('☺'), url('../fonts/proximanova-regular.woff') format('woff'), url('../fonts/proximanova-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

