/*

*/

.version.aktsiya /* version checker */
{
	color: #0000EE;
	background-color: #2DC16A;
}

#page
{
	z-index: 1;
	min-height: 554.9px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62.10000000000002px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#ptop
{
	width: 100%;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u55543
{
	z-index: 243;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#ppu55544
{
	margin-top: -5px;
	width: 100%;
}

#pu55544
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u55544
{
	z-index: 244;
	height: 38px;
	position: relative;
	width: 3.44%;
}

.ie #u55543,.ie #u55544
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u47036
{
	z-index: 131;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body.initialized
{
	visibility: visible;
}

#u47036-bw
{
	z-index: 131;
	margin-top: 51px;
	height: 58px;
}

#menuu47044
{
	z-index: 132;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	margin-left: 50%;
	left: -477px;
}

#u47087
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u47090
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47090:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u47092-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47090:hover #u47092-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u47090.MuseMenuActive #u47092-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u47090:hover #u47092-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47073
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u47074
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47074:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u47077-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47074:hover #u47077-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u47074.MuseMenuActive #u47077-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u47074:hover #u47077-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47115
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u47116
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47116:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u47117-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47116:hover #u47117-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u47116.MuseMenuActive #u47117-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u47116:hover #u47117-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47045
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u47046
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47046:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u47047-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47046:hover #u47047-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u47046.MuseMenuActive #u47047-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u47046:hover #u47047-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47080
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u47083
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47083:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u47084-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47083:hover #u47084-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u47083.MuseMenuActive #u47084-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u47083:hover #u47084-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47101
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u47104
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47104.MuseMenuActive
{
	border-color: #F0C330;
	background-color: #29ABE2;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u47105-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47104:hover #u47105-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u47104.MuseMenuActive #u47105-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u47104:hover #u47105-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47052
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u47053
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47053:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u47056-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47053:hover #u47056-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u47053.MuseMenuActive #u47056-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u47053:hover #u47056-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47108
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u47109
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u47109:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u47112-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u47109:hover #u47112-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u47109.MuseMenuActive #u47112-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u47109:hover #u47112-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47053.MuseMenuActive #u47056-4 p,#u47109.MuseMenuActive #u47112-6 p
{
	font-size: 12px;
}

#u47094
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u47095
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47095:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u47098-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47095:hover #u47098-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u47095.MuseMenuActive #u47098-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u47095:hover #u47098-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47066
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u47067
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47067:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u47070-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47067:hover #u47070-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u47067:hover #u47070-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47059
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u47062
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u47062:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u47063-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u47062:hover #u47063-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u47067.MuseMenuActive #u47070-4,#u47062.MuseMenuActive #u47063-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u47062:hover #u47063-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u47090.MuseMenuActive #u47092-4 p,#u47074.MuseMenuActive #u47077-4 p,#u47116.MuseMenuActive #u47117-4 p,#u47046.MuseMenuActive #u47047-4 p,#u47083.MuseMenuActive #u47084-4 p,#u47104.MuseMenuActive #u47105-4 p,#u47095.MuseMenuActive #u47098-4 p,#u47067.MuseMenuActive #u47070-4 p,#u47062.MuseMenuActive #u47063-4 p
{
	color: #212434;
	visibility: inherit;
}

#u55533
{
	z-index: 201;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu55540
{
	margin-right: -10000px;
	margin-top: 2px;
	width: 92.71%;
	margin-left: 3.65%;
}

#u55540
{
	z-index: 240;
	height: 38px;
	position: relative;
	width: 4.27%;
	margin-left: 26.07%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u55541
{
	z-index: 241;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 4.27%;
	margin-left: 26.07%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#u8378-12
{
	z-index: 31;
	min-height: 115px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 92px;
	position: relative;
	width: 100%;
}

#u8378-2,#u8378-4,#u8378-6,#u8378-8
{
	font-weight: 800;
}

#u8381-12
{
	z-index: 43;
	min-height: 41px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#pamphletu8384
{
	z-index: 55;
	width: 0.01px;
	height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 361px;
	left: 277px;
}

#u8391
{
	z-index: 56;
	width: 400px;
	position: relative;
	margin-right: -10000px;
}

#u8392
{
	position: absolute;
	width: 406px;
	border-color: #E29E28;
	background-color: transparent;
}

#u8392:hover
{
	border-color: #999999;
	border-radius: 0px;
	width: 406px;
	min-height: 0px;
	margin: 0px;
}

#u8393-4
{
	z-index: 58;
	width: 400px;
	min-height: 44px;
	border-style: solid;
	border-color: #E0A541;
	background-color: #FCC049;
	border-radius: 5px;
	color: #212434;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 3px;
}

#u8392:hover #u8393-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FCC049;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 400px;
	margin: 0px -10000px 2px 0px;
}

#u8392:active #u8393-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FFB02E;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 400px;
	margin: 0px -10000px 2px 0px;
}

#u8392.PamphletThumbSelected #u8393-4
{
	border-style: solid;
	border-color: #E0A541;
	background-color: #FCC049;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 3px;
}

#u8392.PamphletThumbSelected #u8393-4 p
{
	line-height: 0;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	font-style: normal;
}

#u8393-2
{
	padding-top: 20px;
}

#u8394
{
	position: absolute;
	width: 614px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 164px;
	left: -393px;
	-pie-background: rgba(0,0,0,0.9);
}

#u8394popup
{
	z-index: 62;
}

#u8395
{
	z-index: 63;
	width: 570px;
	height: 538px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8414
{
	z-index: 64;
	width: 408px;
	border-color: #FCBD49;
	background-color: #DEE1E2;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 69px;
}

#u8416-4
{
	z-index: 114;
	width: 282px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 11px;
	text-align: left;
	color: #7F8C8D;
	line-height: 17px;
	text-indent: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 393px;
	left: 68px;
}

#u8413
{
	z-index: 124;
	width: 26px;
	min-height: 24px;
	border-color: #FFC105;
	background-color: transparent;
	border-radius: 1000px;
	color: #7F8C8D;
	line-height: 15px;
	font-size: 15px;
	text-align: center;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 391px;
	left: 43px;
}

#widgetu8396
{
	z-index: 65;
	width: 0.01px;
	height: 372px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 111px;
}

#widgetu8404
{
	z-index: 66;
	width: 324px;
	height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: -2px;
}

#widgetu8404.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 324px;
	height: 49px;
	min-height: 0px;
	margin: 129px -10000px 0px 0px;
}

#u8406-4
{
	z-index: 67;
	width: 304px;
	min-height: 33px;
	border-style: solid;
	border-width: 2px;
	border-color: #C4C4C4;
	background-color: #F1F1F3;
	color: #000000;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#muse_css_mq,#widgetu8404.non-empty-st #u8406-4
{
	background-color: #FFFFFF;
}

#widgetu8404.non-empty-st #u8406-4 *
{
	font-style: normal;
}

#widgetu8398
{
	z-index: 71;
	width: 324px;
	height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: -2px;
}

#widgetu8398.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 324px;
	height: 49px;
	min-height: 0px;
	margin: 191px -10000px 0px 0px;
}

#u8400-4
{
	z-index: 72;
	width: 304px;
	min-height: 33px;
	border-style: solid;
	border-width: 2px;
	border-color: #C4C4C4;
	background-color: #F1F1F3;
	color: #000000;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu8398.non-empty-st #u8400-4
{
	background-color: #FFFFFF;
}

#widgetu8398.non-empty-st #u8400-4 *
{
	color: #000000;
	font-style: normal;
}

#u8397-4
{
	z-index: 76;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 58px;
}

#widgetu8396.frm-sub-st #u8397-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8412-4
{
	z-index: 80;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 58px;
}

#widgetu8396.frm-subm-err-st #u8412-4 p
{
	color: #FF0000;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8402-4
{
	z-index: 84;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 58px;
}

#widgetu8396.frm-sub-st #u8397-4,#widgetu8396.frm-subm-err-st #u8412-4,#widgetu8396.frm-subm-ok-st #u8402-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu8396.frm-subm-ok-st #u8402-4 p
{
	color: #999999;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8403-17
{
	z-index: 88;
	min-height: 58px;
	width: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	background: transparent url("../images/u8403-17.png") no-repeat 0px 0px;
}

#u8403-17:hover
{
	background: transparent url("../images/u8403-17-r.png") no-repeat 0px 0px;
}

#u8403-17:active
{
	background: transparent url("../images/u8403-17-m.png") no-repeat 0px 0px;
}

#widgetu8396.frm-sub-st #u8403-17
{
	background: transparent url("../images/u8403-17-fs.png") no-repeat 0px 0px;
}

#widgetu8408
{
	z-index: 105;
	width: 324px;
	height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: -2px;
}

#widgetu8408.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 324px;
	height: 49px;
	min-height: 0px;
	margin: 251px -10000px 0px 0px;
}

#u8411-4
{
	z-index: 106;
	width: 304px;
	min-height: 33px;
	border-style: solid;
	border-width: 2px;
	border-color: #C4C4C4;
	background-color: #F1F1F3;
	color: #000000;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu8408.non-empty-st #u8411-4
{
	background-color: #FFFFFF;
}

#widgetu8404.fld-err-st #u8406-4,#widgetu8398.fld-err-st #u8400-4,#widgetu8408.fld-err-st #u8411-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 33px;
	width: 304px;
	margin: 0px -10000px 0px 0px;
}

#widgetu8408.non-empty-st #u8411-4 *
{
	font-style: normal;
}

#widgetu8404.fld-err-st #u8406-4 *,#widgetu8398.fld-err-st #u8400-4 *,#widgetu8408.fld-err-st #u8411-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu8404_input,#widgetu8404_prompt,#widgetu8398_input,#widgetu8398_prompt,#widgetu8408_input,#widgetu8408_prompt
{
	width: 304px;
	min-height: 33px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu8404.fld-err-st #widgetu8404_input,#widgetu8404.fld-err-st #widgetu8404_prompt,#widgetu8398.fld-err-st #widgetu8398_input,#widgetu8398.fld-err-st #widgetu8398_prompt,#widgetu8408.fld-err-st #widgetu8408_input,#widgetu8408.fld-err-st #widgetu8408_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu8404.non-empty-st #widgetu8404_prompt,#widgetu8398.non-empty-st #widgetu8398_prompt,#widgetu8408.non-empty-st #widgetu8408_prompt
{
	visibility: hidden;
}

#u8415-4
{
	z-index: 110;
	width: 408px;
	min-height: 26px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 69px;
}

#u8417-6
{
	z-index: 118;
	width: 340px;
	min-height: 45px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	color: #000000;
	line-height: 23px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 99px;
}

#u8387
{
	position: absolute;
	width: 28px;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	background-color: #000000;
	border-radius: 1000px;
	padding-bottom: 7px;
	top: 201px;
	left: 110px;
}

#u8387:hover
{
	background-color: transparent;
	width: 28px;
	min-height: 0px;
	margin: 0px;
}

#u8388-4
{
	z-index: 126;
	width: 20px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 4px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#pu55537-4
{
	margin-right: -10000px;
	margin-top: 2px;
	width: 18.44%;
	margin-left: 32.4%;
}

#u55537-4
{
	z-index: 226;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55539-4
{
	z-index: 236;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u55538-6
{
	z-index: 230;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u55542
{
	z-index: 242;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 3.96%;
	left: 54.38%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu55534-8
{
	margin-right: -10000px;
	margin-top: 9px;
	width: 18.65%;
	margin-left: 59.17%;
}

#u55534-8
{
	z-index: 202;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55535-8
{
	z-index: 210;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u55536-8
{
	z-index: 218;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u8381-2,#u8381-4,#u8381-6,#u8381-8,#u55534-2,#u55534-4,#u55535-2,#u55535-4,#u55536-2,#u55536-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 766px;
}

#ppu8357
{
	margin-top: 56px;
	width: 100%;
}

#pu8357
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.8%;
}

#u8357
{
	z-index: 10;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u8363-4
{
	z-index: 27;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u8359
{
	z-index: 23;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu8360
{
	margin-right: -10000px;
	margin-top: 10px;
	width: 14.59%;
	margin-left: 42.71%;
}

#pu8360
{
	width: 93.58%;
	margin-left: 3.58%;
}

#u8360
{
	z-index: 24;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u8361
{
	z-index: 25;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u17940
{
	z-index: 130;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#u8362
{
	z-index: 26;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u8358-12
{
	z-index: 11;
	min-height: 111px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 31.78%;
	left: 67.3%;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

