/*

*/

.version.arteko /* version checker */
{
	color: #0000ED;
	background-color: #59859B;
}

#page
{
	z-index: 1;
	min-height: 1421px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#ptop
{
	width: 100%;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u33872
{
	z-index: 10;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#u55795
{
	z-index: 252;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#ppu55796
{
	margin-top: -5px;
	width: 100%;
}

#pu55796
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u55796
{
	z-index: 253;
	height: 38px;
	position: relative;
	width: 3.44%;
}

#u53341
{
	z-index: 140;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u53341-bw
{
	z-index: 140;
	margin-top: 51px;
	height: 58px;
}

#menuu53349
{
	z-index: 141;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	margin-left: 50%;
	left: -478px;
}

#u53392
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u53395
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53395:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u53397-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53395:hover #u53397-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u53395.MuseMenuActive #u53397-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u53395:hover #u53397-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53378
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u53379
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53379:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u53382-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53379:hover #u53382-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u53379.MuseMenuActive #u53382-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u53379:hover #u53382-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53420
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u53421
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53421:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u53422-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53421:hover #u53422-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u53421.MuseMenuActive #u53422-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u53421:hover #u53422-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53350
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u53351
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53351:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u53352-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53351:hover #u53352-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u53351.MuseMenuActive #u53352-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u53351:hover #u53352-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53385
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u53388
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53388:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u53389-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53388:hover #u53389-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u53388.MuseMenuActive #u53389-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u53388:hover #u53389-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53406
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u53409
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53409:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u53410-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53409:hover #u53410-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u53409.MuseMenuActive #u53410-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u53409:hover #u53410-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53357
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u53358
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53358:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u53361-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53358:hover #u53361-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u53358.MuseMenuActive #u53361-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u53358:hover #u53361-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53413
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u53414
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u53414:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u53417-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u53414:hover #u53417-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u53414.MuseMenuActive #u53417-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u53414:hover #u53417-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53358.MuseMenuActive #u53361-4 p,#u53414.MuseMenuActive #u53417-6 p
{
	font-size: 12px;
}

#u53399
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u53400
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53400:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u53403-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53400:hover #u53403-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u53400.MuseMenuActive #u53403-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u53400:hover #u53403-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53371
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u53372
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53372:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u53375-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53372:hover #u53375-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u53372:hover #u53375-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53364
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u53367
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53367:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u53368-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53367:hover #u53368-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u53372.MuseMenuActive #u53375-4,#u53367.MuseMenuActive #u53368-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u53367:hover #u53368-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53395.MuseMenuActive #u53397-4 p,#u53379.MuseMenuActive #u53382-4 p,#u53421.MuseMenuActive #u53422-4 p,#u53351.MuseMenuActive #u53352-4 p,#u53388.MuseMenuActive #u53389-4 p,#u53409.MuseMenuActive #u53410-4 p,#u53400.MuseMenuActive #u53403-4 p,#u53372.MuseMenuActive #u53375-4 p,#u53367.MuseMenuActive #u53368-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u55785
{
	z-index: 210;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pppu55792
{
	margin-right: -10000px;
	margin-top: 2px;
	width: 87.5%;
	margin-left: 6.78%;
}

#ppu55792
{
	width: 57.15%;
	margin-left: 24.05%;
}

#pu55792
{
	margin-right: -10000px;
	width: 7.92%;
}

#u55792
{
	z-index: 249;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u55793
{
	z-index: 250;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu55789-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.17%;
}

#u55789-4
{
	z-index: 235;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55791-4
{
	z-index: 245;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u55790-6
{
	z-index: 239;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u55794
{
	z-index: 251;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.13%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu55786-8
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u55786-8
{
	z-index: 211;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55787-8
{
	z-index: 219;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u55788-8
{
	z-index: 227;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55786-2,#u55786-4,#u55787-2,#u55787-4,#u55788-2,#u55788-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u35704-4
{
	z-index: 11;
	min-height: 54px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 73px;
	position: relative;
	width: 100%;
}

#pu35705
{
	margin-top: 20px;
	width: 100%;
}

#u35705
{
	z-index: 15;
	height: 292px;
	position: relative;
	margin-right: -10000px;
	width: 38.1%;
	background: transparent url("../images/artek.png") no-repeat center center;
	background-size: contain;
}

#pu35706-4
{
	margin-right: -10000px;
	width: 55.12%;
	margin-left: 44.89%;
}

#u35706-4
{
	z-index: 16;
	min-height: 97px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u35743-4
{
	z-index: 96;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 10px;
	position: relative;
	width: 43.63%;
}

#pu59001
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 643px;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	margin-left: 123px;
	position: relative;
}

#u35739
{
	z-index: 95;
	width: 263px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 300px;
	position: relative;
}

#u35707-11
{
	z-index: 20;
	min-height: 100px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
	width: 87.5%;
	margin-left: 6.25%;
}

#pu35719-4
{
	margin-top: 9px;
	width: 100%;
}

#u35719-4
{
	z-index: 35;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 38.86%;
	left: 10.21%;
}

#u35718-4
{
	z-index: 31;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 38.86%;
	left: 51.88%;
}

#ppu35721
{
	margin-top: 5px;
	width: 100%;
}

#pu35721
{
	margin-right: -10000px;
	margin-top: 13px;
	width: 2.71%;
	margin-left: 10.21%;
}

#u35721
{
	z-index: 40;
	height: 26px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35722
{
	z-index: 41;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35723
{
	z-index: 42;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35724
{
	z-index: 43;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35725
{
	z-index: 44;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35726
{
	z-index: 45;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35727
{
	z-index: 46;
	height: 26px;
	margin-top: 14px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35728
{
	z-index: 47;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35729
{
	z-index: 49;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35940
{
	z-index: 48;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#pu35730-4
{
	margin-right: -10000px;
	margin-top: 13px;
	width: 35.63%;
	margin-left: 13.44%;
}

#u35730-4
{
	z-index: 51;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u35731-4
{
	z-index: 55;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u35732-4
{
	z-index: 59;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u35733-4
{
	z-index: 63;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u35734-4
{
	z-index: 67;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u35735-4
{
	z-index: 71;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u35736-4
{
	z-index: 75;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u35737-4
{
	z-index: 79;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u35738-4
{
	z-index: 87;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u35937-4
{
	z-index: 83;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u35720
{
	z-index: 39;
	height: 334px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 58.86%;
	background: transparent url("../images/sartek.jpg") no-repeat center center;
	background-size: cover;
}

#pu35931
{
	margin-top: 6px;
	width: 100%;
}

#u35931
{
	z-index: 50;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	width: 2.71%;
	left: 10.21%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35934-4
{
	z-index: 91;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 35.63%;
	left: 13.44%;
}

#u36431
{
	z-index: 139;
	height: 30px;
	position: relative;
	width: 4.17%;
	margin-left: 47.92%;
}

#u36415-4
{
	z-index: 100;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#pu36416
{
	margin-top: 24px;
	width: 100%;
}

#u36416
{
	z-index: 104;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 5%;
}

#u36419
{
	z-index: 107;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/kolerjal2.png") no-repeat center center;
	background-size: contain;
}

#u36422-4
{
	z-index: 110;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36425-4
{
	z-index: 124;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36428
{
	z-index: 136;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 61px;
}

#u36417
{
	z-index: 105;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 36.78%;
}

#u36420
{
	z-index: 108;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/aceton2.png") no-repeat center center;
	background-size: contain;
}

#u36423-4
{
	z-index: 114;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36426-4
{
	z-index: 128;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36429
{
	z-index: 137;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 366px;
}

#u36418
{
	z-index: 106;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 51.44999999999982px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 68.23%;
}

#u36421
{
	z-index: 109;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/0387082.jpg") no-repeat center center;
	background-size: contain;
}

#u36424-6
{
	z-index: 118;
	min-height: 90px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36427-4
{
	z-index: 132;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36430
{
	z-index: 138;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 668px;
}

#u58949
{
	z-index: 293;
	height: 15px;
	margin-top: 2px;
	position: relative;
	width: 3.23%;
	margin-left: 48.44%;
}

#u58947-15
{
	z-index: 277;
	min-height: 163px;
	background-color: transparent;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u58947-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u58947-4,#u58947-11
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u58947-3,#u58947-10
{
	text-decoration: underline;
}

#u58947-6,#u58947-8,#u58947-9,#u58947-13
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u58948
{
	z-index: 292;
	height: 39px;
	margin-top: 1px;
	position: relative;
	width: 3.23%;
	margin-left: 48.44%;
}

.ie #u55795,.ie #u55796,.ie #u36431,.ie #u58949,.ie #u58948
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#ppu58256
{
	margin-top: -7px;
	width: 100%;
}

#pu58256
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58256
{
	z-index: 254;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58262-4
{
	z-index: 271;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58258
{
	z-index: 267;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58259
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58259
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58259
{
	z-index: 268;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58260
{
	z-index: 269;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58263
{
	z-index: 275;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58261
{
	z-index: 270;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58257-12
{
	z-index: 255;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58264
{
	z-index: 276;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58264:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 28px -10000px 0px 0%;
	background-size: cover;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

