#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:auto;opacity: 0.8 !important;}

/* Container */
#simplemodal-container {height:460px; width:320px;     text-align: center; color: #000; background-color: #DEE1E2; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h2 { margin-top: 0px;color:#000;font-size:28px;}
#simplemodal-container input{    width: 228px;
    color: #212434;
    margin: 5px 0px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    padding: 6px 6px 6px 10px;
    min-height: 33px;
    border-color: #C4C4C4;
    background-color: #FFFFFF;
    border-radius: 5px;
    line-height: 33px;
}
#simplemodal-container .button{
min-height: 60px;
    width: 260px;
    border-style: solid;
    border-color: #E0A541;
    background-color: #FCC049;
    border-radius: 5px;
    color: #212434;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 0px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
@media only screen and (max-width: 680px) {
    #simplemodal-container {height:470px; width:280px;     text-align: center; color: #000; background-color: #DEE1E2; border:2px solid #444; padding:6px;}
#simplemodal-container .simplemodal-data {padding:4px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:30px; height:30px; display:inline; z-index:3200; position:absolute; top:10px; right:0px; cursor:pointer;}
#simplemodal-container h2 { margin-top: 0px;color:#000;font-size:28px;}
#simplemodal-container input{    width: 228px;
    color: #212434;
    margin: 5px 0px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    padding: 6px 6px 6px 10px;
    min-height: 33px;
    border-color: #C4C4C4;
    background-color: #FFFFFF;
    border-radius: 5px;
    line-height: 33px;
}
#simplemodal-container .button{
min-height: 60px;
    width: 228px;
    border-style: solid;
    border-color: #E0A541;
    background-color: #FCC049;
    border-radius: 5px;
    color: #212434;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 0px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
    
}