/*

*/

.version.ekrany_pod_vannu_i_dushevye_poddony /* version checker */
{
	color: #000008;
	background-color: #57DF0C;
}

#page
{
	z-index: 1;
	min-height: 3370px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu55372
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 24px;
	width: 100%;
}

#u55372
{
	z-index: 519;
	height: 38px;
	position: relative;
	width: 3.44%;
}

#u46406
{
	z-index: 406;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body.initialized
{
	visibility: visible;
}

#u46406-bw
{
	z-index: 406;
	margin-top: 51px;
	height: 58px;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 766px;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#menuu46414
{
	z-index: 407;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	margin-left: 50%;
	left: -478px;
}

#u46457
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u46460
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46460:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u46462-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46460:hover #u46462-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u46460.MuseMenuActive #u46462-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u46460:hover #u46462-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46443
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u46444
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46444:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u46447-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46444:hover #u46447-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u46444.MuseMenuActive #u46447-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u46444:hover #u46447-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46485
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u46486
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46486:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u46487-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46486:hover #u46487-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u46486.MuseMenuActive #u46487-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u46486:hover #u46487-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46415
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u46416
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46416.MuseMenuActive
{
	border-color: #F0C330;
	background-color: #29ABE2;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u46417-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46416:hover #u46417-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u46416.MuseMenuActive #u46417-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u46416:hover #u46417-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46450
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u46453
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46453:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u46454-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46453:hover #u46454-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u46453.MuseMenuActive #u46454-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u46453:hover #u46454-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46471
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u46474
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46474:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u46475-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46474:hover #u46475-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u46474.MuseMenuActive #u46475-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u46474:hover #u46475-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46422
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u46423
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46423:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u46426-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46423:hover #u46426-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u46423.MuseMenuActive #u46426-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u46423:hover #u46426-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46478
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u46479
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u46479:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u46482-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u46479:hover #u46482-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u46479.MuseMenuActive #u46482-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u46479:hover #u46482-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46423.MuseMenuActive #u46426-4 p,#u46479.MuseMenuActive #u46482-6 p
{
	font-size: 12px;
}

#u46464
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u46465
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46465:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u46468-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46465:hover #u46468-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u46465.MuseMenuActive #u46468-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u46465:hover #u46468-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46436
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u46437
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46437:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u46440-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46437:hover #u46440-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u46437:hover #u46440-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46429
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u46432
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46432:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u46433-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46432:hover #u46433-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u46437.MuseMenuActive #u46440-4,#u46432.MuseMenuActive #u46433-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u46432:hover #u46433-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46460.MuseMenuActive #u46462-4 p,#u46444.MuseMenuActive #u46447-4 p,#u46486.MuseMenuActive #u46487-4 p,#u46416.MuseMenuActive #u46417-4 p,#u46453.MuseMenuActive #u46454-4 p,#u46474.MuseMenuActive #u46475-4 p,#u46465.MuseMenuActive #u46468-4 p,#u46437.MuseMenuActive #u46440-4 p,#u46432.MuseMenuActive #u46433-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#pu55361
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 13px;
	width: 95%;
	margin-left: 2.61%;
}

#u55361
{
	z-index: 476;
	height: 79px;
	position: relative;
	width: 25%;
	margin-left: 0.88%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u7953-25
{
	z-index: 315;
	min-height: 537px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 168px;
	position: relative;
	width: 100%;
}

#pu55371
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 83.34%;
	margin-left: 8.34%;
}

#u55371
{
	z-index: 518;
	height: 12px;
	position: relative;
	width: 3.88%;
	margin-left: 1.13%;
}

#ppu55368
{
	margin-top: 3px;
	width: 60%;
	margin-left: 23.38%;
}

#pu55368
{
	margin-right: -10000px;
	width: 7.92%;
}

#u55368
{
	z-index: 515;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u55369
{
	z-index: 516;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu55365-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.17%;
}

#u55365-4
{
	z-index: 501;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55367-4
{
	z-index: 511;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u55366-6
{
	z-index: 505;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u55370
{
	z-index: 517;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.13%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu55362-8
{
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u55362-8
{
	z-index: 477;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55363-8
{
	z-index: 485;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u55364-8
{
	z-index: 493;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55362-2,#u55362-4,#u55363-2,#u55363-4,#u55364-2,#u55364-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u6949-4
{
	z-index: 11;
	min-height: 50px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 88px;
	position: relative;
	width: 100%;
}

#u55397
{
	z-index: 520;
	width: 150px;
	min-height: 55px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 765px;
}

#u55402
{
	z-index: 521;
	width: 185px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 40px;
}

#u55410
{
	z-index: 522;
	width: 185px;
	min-height: 72px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u55404
{
	z-index: 523;
	width: 185px;
	min-height: 37px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u55403
{
	z-index: 524;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u55407
{
	z-index: 525;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u55405
{
	z-index: 526;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u55409
{
	z-index: 527;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u55406
{
	z-index: 528;
	width: 185px;
	min-height: 73px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u55408
{
	z-index: 529;
	width: 185px;
	min-height: 70px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u7950-4
{
	z-index: 15;
	min-height: 50px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 11px;
	position: relative;
	width: 83.34%;
	margin-left: 8.23%;
}

#pu6978-4
{
	margin-top: 21px;
	width: 100%;
}

#u6978-4
{
	z-index: 76;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.61%;
}

#u6984-4
{
	z-index: 120;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 21.88%;
}

#u6990-4
{
	z-index: 164;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.05%;
}

#u6999-4
{
	z-index: 212;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.32%;
}

#u7005-4
{
	z-index: 260;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.59%;
}

#u6952
{
	z-index: 19;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.61%;
	background: transparent url("../images/01%20-%20%d0%b1%d0%b5%d0%bb%d1%8b%d0%b9%20%d0%b3%d0%bb%d1%8f%d0%bd%d0%b5%d1%86.jpg") no-repeat center center;
	background-size: cover;
}

#u6981
{
	z-index: 30;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 21.88%;
	background: transparent url("../images/02%20-%20%d0%ba%d0%be%d1%80%d0%b8%d1%87%d0%bd%d0%b5%d0%b2%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center center;
	background-size: cover;
}

#u6987
{
	z-index: 41;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.05%;
	background: transparent url("../images/03%20-%20%d1%81%d0%b2%d0%b5%d1%82%d0%bb%d0%be-%d1%80%d0%be%d0%b7%d0%be%d0%b2%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center center;
	background-size: cover;
}

#u6996
{
	z-index: 53;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.32%;
	background: transparent url("../images/04%20-%20%d0%bf%d0%bb%d0%b8%d1%82%d0%ba%d0%b0.jpg") no-repeat center center;
	background-size: cover;
}

#u7002
{
	z-index: 65;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.59%;
	background: transparent url("../images/05%20-%20%d1%81%d0%b2%d0%b5%d1%82%d0%bb%d0%be-%d0%ba%d0%be%d1%80%d0%b8%d1%87%d0%bd%d0%b5%d0%b2%d1%8b%d0%b9%20%d0%b4%d0%be%d0%b6%d0%b4%d1%8c.jpg") no-repeat center center;
	background-size: cover;
}

#u7032-4
{
	z-index: 88;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 17.5%;
	left: 2.82%;
}

#u7041-4
{
	z-index: 132;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 17.5%;
	left: 22.09%;
}

#u7029-4
{
	z-index: 176;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 17.5%;
	left: 41.36%;
}

#u7038-4
{
	z-index: 224;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 17.5%;
	left: 60.63%;
}

#u7035-4
{
	z-index: 272;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 17.5%;
	left: 79.8%;
}

#u7008
{
	z-index: 304;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	width: 2.09%;
	left: 49.07%;
}

#u7011
{
	z-index: 22;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.82%;
	background: transparent url("../images/06%20-%20%d1%81%d0%b2%d0%b5%d1%82%d0%bb%d1%8b%d0%b9%20%d1%81%d0%b5%d1%80%d0%be-%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7014
{
	z-index: 33;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.09%;
	background: transparent url("../images/07%20-%20%d1%81%d0%b5%d1%80%d0%be-%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7017
{
	z-index: 44;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.36%;
	background: transparent url("../images/08%20-%20%d1%81%d0%b8%d0%bd%d0%b8%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7020
{
	z-index: 56;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.63%;
	background: transparent url("../images/10%20-%20%d0%bc%d0%be%d1%80%d1%81%d0%ba%d0%be%d0%b9%20%d0%b1%d1%80%d0%b8%d0%b7.jpg") no-repeat center top;
	background-size: cover;
}

#u7026
{
	z-index: 68;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.8%;
	background: transparent url("../images/12%20-%20%d1%81%d0%b2%d0%b5%d1%82%d0%bb%d0%be-%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7023
{
	z-index: 307;
	height: 20px;
	position: relative;
	width: 2.09%;
	margin-left: 49.28%;
}

#u7065-4
{
	z-index: 100;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.82%;
}

#u7074-4
{
	z-index: 144;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.09%;
}

#u7062-4
{
	z-index: 188;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.36%;
}

#u7071-4
{
	z-index: 236;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.63%;
}

#u7068-4
{
	z-index: 284;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.8%;
}

#u7044
{
	z-index: 25;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.82%;
	background: transparent url("../images/14%20-%20%d1%82%d0%b5%d0%bc%d0%bd%d0%be-%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7047
{
	z-index: 36;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.09%;
	background: transparent url("../images/16%20-%20%d1%87%d0%b5%d1%80%d0%bd%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7050
{
	z-index: 47;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.36%;
	background: transparent url("../images/18%20-%20%d1%80%d0%be%d0%b7%d0%be%d0%b2%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7053
{
	z-index: 59;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.63%;
	background: transparent url("../images/19%20-%20%d1%81%d0%b8%d0%bd%d0%b5-%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7059
{
	z-index: 71;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.8%;
	background: transparent url("../images/20%20-%20%d1%81%d0%b5%d1%80%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7056
{
	z-index: 310;
	height: 20px;
	position: relative;
	width: 2.09%;
	margin-left: 49.28%;
}

#u7104-4
{
	z-index: 112;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.82%;
}

#u7101-4
{
	z-index: 156;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.09%;
}

#u7107-4
{
	z-index: 200;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.36%;
}

#u7098-4
{
	z-index: 248;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.63%;
}

#u7110-4
{
	z-index: 296;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.8%;
}

#u7080
{
	z-index: 28;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.82%;
	background: transparent url("../images/21%20-%20%d0%b6%d0%b5%d0%bb%d1%82%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7083
{
	z-index: 39;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.09%;
	background: transparent url("../images/22%20-%20%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7086
{
	z-index: 50;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.36%;
	background: transparent url("../images/24%20-%20%d1%80%d0%be%d0%b7%d0%be%d0%b2%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7092
{
	z-index: 62;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.63%;
	background: transparent url("../images/26%20-%20%d0%b1%d0%b5%d0%b6%d0%b5%d0%b2%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7095
{
	z-index: 74;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.8%;
	background: transparent url("../images/27%20-%20%d1%81%d0%b5%d1%80%d0%be-%d0%b1%d0%b5%d0%b6%d0%b5%d0%b2%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7089
{
	z-index: 313;
	height: 20px;
	position: relative;
	width: 2.09%;
	margin-left: 49.28%;
}

#u7531-4
{
	z-index: 80;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.71%;
}

#u7528-4
{
	z-index: 124;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 21.98%;
}

#u7525-4
{
	z-index: 168;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.25%;
}

#u7522-4
{
	z-index: 216;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.42%;
}

#u7534-4
{
	z-index: 264;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.69%;
}

#u7519
{
	z-index: 20;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.71%;
	background: transparent url("../images/28%20-%20%d0%ba%d1%80%d0%b0%d1%81%d0%bd%d0%be-%d0%ba%d0%be%d1%80%d0%b8%d1%87%d0%bd%d0%b5%d0%b2%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center center;
	background-size: cover;
}

#u7516
{
	z-index: 31;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 21.98%;
	background: transparent url("../images/29%20-%20%d1%81%d0%b2%d0%b5%d1%82%d0%bb%d0%be-%d0%b3%d0%be%d0%bb%d1%83%d0%b1%d0%be%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center center;
	background-size: cover;
}

#u7507
{
	z-index: 42;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.25%;
	background: transparent url("../images/30%20-%20%d0%b3%d0%be%d0%bb%d1%83%d0%b1%d0%be%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center center;
	background-size: cover;
}

#u7498
{
	z-index: 54;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.42%;
	background: transparent url("../images/31%20-%20%d1%81%d0%b5%d1%80%d1%8b%d0%b9%20%d0%b4%d0%be%d0%b6%d0%b4%d1%8c.jpg") no-repeat center center;
	background-size: cover;
}

#u7513
{
	z-index: 66;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.69%;
	background: transparent url("../images/34%20-%20%d0%ba%d0%be%d1%80%d0%b8%d1%87%d0%bd%d0%b5%d0%b2%d0%be-%d1%80%d0%be%d0%b7%d0%be%d0%b2%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center center;
	background-size: cover;
}

#u7501-4
{
	z-index: 92;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 17.5%;
	left: 2.92%;
}

#u7492-4
{
	z-index: 136;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 17.5%;
	left: 22.19%;
}

#u7504-4
{
	z-index: 180;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 17.5%;
	left: 41.46%;
}

#u7510-4
{
	z-index: 228;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 17.5%;
	left: 60.73%;
}

#u7489-4
{
	z-index: 276;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 17.5%;
	left: 79.9%;
}

#u7495
{
	z-index: 305;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	width: 2.09%;
	left: 49.17%;
}

#u7453
{
	z-index: 23;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.92%;
	background: transparent url("../images/35%20-%20%d1%81%d0%b2%d0%b5%d1%82%d0%bb%d0%be-%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7450
{
	z-index: 34;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.19%;
	background: transparent url("../images/38%20-%20%d0%b2%d0%be%d0%b4%d0%b0.jpg") no-repeat center top;
	background-size: cover;
}

#u7471
{
	z-index: 45;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.46%;
	background: transparent url("../images/41%20-%20%d0%b3%d0%be%d0%bb%d1%83%d0%b1%d0%b0%d1%8f%20%d1%81%d0%bc%d0%b0%d0%bb%d1%8c%d1%82%d0%b0.jpg") no-repeat center top;
	background-size: cover;
}

#u7465
{
	z-index: 57;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.73%;
	background: transparent url("../images/45%20-%20%d0%ba%d0%be%d1%84%d0%b5%20%d1%81%20%d0%bc%d0%be%d0%bb%d0%be%d0%ba%d0%be%d0%bc.jpg") no-repeat center top;
	background-size: cover;
}

#u7474
{
	z-index: 69;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.9%;
	background: transparent url("../images/47%20-%20%d1%81%d0%b5%d1%80%d0%be-%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7447
{
	z-index: 308;
	height: 20px;
	position: relative;
	width: 2.09%;
	margin-left: 49.38%;
}

#ppu55372,#pu7435-4
{
	width: 100%;
}

#u7435-4
{
	z-index: 104;
	min-height: 43px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.92%;
}

#u7432-4
{
	z-index: 148;
	min-height: 43px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.19%;
}

#u7441-4
{
	z-index: 192;
	min-height: 43px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.46%;
}

#u7459-4
{
	z-index: 240;
	min-height: 43px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.73%;
}

#u7486-4
{
	z-index: 288;
	min-height: 43px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.9%;
}

#pu7426
{
	margin-top: 12px;
	width: 100%;
}

#u7426
{
	z-index: 26;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.92%;
	background: transparent url("../images/48%20-%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80%d0%bd%d0%b0%d1%8f%20%d0%ba%d1%80%d0%be%d1%88%d0%ba%d0%b0.jpg") no-repeat center top;
	background-size: cover;
}

#u7423
{
	z-index: 37;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.19%;
	background: transparent url("../images/50%20-%20%d0%ba%d0%b0%d0%bf%d0%bb%d0%b8.jpg") no-repeat center top;
	background-size: cover;
}

#u7417
{
	z-index: 48;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.46%;
	background: transparent url("../images/52%20-%20%d1%81%d0%b2%d0%b5%d1%82%d0%bb%d0%be-%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d0%b0%d1%8f%20%d1%81%d0%bc%d0%b0%d0%bb%d1%8c%d1%82%d0%b0.jpg") no-repeat center top;
	background-size: cover;
}

#u7468
{
	z-index: 60;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.73%;
	background: transparent url("../images/54%20-%20%d1%84%d0%b8%d1%81%d1%82%d0%b0%d1%88%d0%ba%d0%be%d0%b2%d1%8b%d0%b9.jpg") no-repeat center top;
	background-size: cover;
}

#u7483
{
	z-index: 72;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.9%;
	background: transparent url("../images/55%20-%20%d0%bb%d1%83%d0%bd%d0%bd%d1%8b%d0%b9.jpg") no-repeat center top;
	background-size: cover;
}

#u7438
{
	z-index: 311;
	height: 20px;
	position: relative;
	width: 2.09%;
	margin-left: 49.38%;
}

#u7414-4
{
	z-index: 116;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.92%;
}

#u7411-4
{
	z-index: 160;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.19%;
}

#u7420-4
{
	z-index: 204;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.46%;
}

#u7462-4
{
	z-index: 252;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.73%;
}

#u7477-4
{
	z-index: 300;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.9%;
}

#u7405
{
	z-index: 29;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.92%;
	background: transparent url("../images/56%20-%20%d0%ba%d1%80%d0%b0%d1%81%d0%bd%d0%be-%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7408
{
	z-index: 40;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.19%;
	background: transparent url("../images/57%20-%20%d0%bf%d1%83%d1%87%d0%b8%d0%bd%d0%b0.jpg") no-repeat center top;
	background-size: cover;
}

#u7429
{
	z-index: 51;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.46%;
	background: transparent url("../images/59%20-%20%d1%80%d0%be%d0%b7%d0%be%d0%b2%d1%8b%d0%b9%20%d0%b8%d0%bd%d0%b5%d0%b9.jpg") no-repeat center top;
	background-size: cover;
}

#u7456
{
	z-index: 63;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.73%;
	background: transparent url("../images/60%20-%20%d0%b3%d0%be%d0%bb%d1%83%d0%b1%d0%be%d0%b9%20%d0%b8%d0%bd%d0%b5%d0%b9.jpg") no-repeat center top;
	background-size: cover;
}

#u7480
{
	z-index: 75;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.9%;
	background: transparent url("../images/61%20-%20%d1%80%d0%be%d0%b7%d0%be%d0%b2%d0%be-%d0%b6%d0%b5%d0%bb%d1%82%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7444
{
	z-index: 314;
	height: 20px;
	position: relative;
	width: 2.09%;
	margin-left: 49.38%;
}

#u7709-4
{
	z-index: 84;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.71%;
}

#u7706-4
{
	z-index: 128;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 21.98%;
}

#u7700-4
{
	z-index: 172;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.25%;
}

#u7703-4
{
	z-index: 220;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.42%;
}

#u7697-4
{
	z-index: 268;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.69%;
}

#u7712
{
	z-index: 21;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.71%;
	background: transparent url("../images/62%20-%20%d0%b1%d0%b5%d0%b6%d0%b5%d0%b2%d0%b0%d1%8f%20%d1%81%d0%bc%d0%b0%d0%bb%d1%8c%d1%82%d0%b0.jpg") no-repeat center center;
	background-size: cover;
}

#u7715
{
	z-index: 32;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 21.98%;
	background: transparent url("../images/63%20-%20%d0%b4%d1%80%d0%b5%d0%b2%d0%b5%d1%81%d0%bd%d1%8b%d0%b9.jpg") no-repeat center center;
	background-size: cover;
}

#u7718
{
	z-index: 43;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.25%;
	background: transparent url("../images/64%20%d1%81%d0%b0%d1%85%d0%b0%d1%80%d0%b0.jpg") no-repeat center center;
	background-size: cover;
}

#u7721
{
	z-index: 55;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.42%;
	background: transparent url("../images/65%20-%20%d1%81%d0%b8%d1%80%d0%b5%d0%bd%d0%b5%d0%b2%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center center;
	background-size: cover;
}

#u7724
{
	z-index: 67;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.69%;
	background: transparent url("../images/69%20-%20%d0%ba%d1%80%d0%b0%d1%81%d0%bd%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center center;
	background-size: cover;
}

#u7727
{
	z-index: 306;
	height: 20px;
	position: relative;
	width: 2.09%;
	margin-left: 49.17%;
}

#u7739-4
{
	z-index: 96;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.92%;
}

#u7733-4
{
	z-index: 140;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.19%;
}

#u7730-4
{
	z-index: 184;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.46%;
}

#u7742-4
{
	z-index: 232;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.73%;
}

#u7736-4
{
	z-index: 280;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.9%;
}

#u7751
{
	z-index: 24;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.92%;
	background: transparent url("../images/71%20-%20%d1%81%d0%b2%d0%b5%d1%82%d0%bb%d0%be-%d1%81%d0%b0%d0%bb%d0%b0%d1%82%d0%be%d0%b2%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7754
{
	z-index: 35;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.19%;
	background: transparent url("../images/73%20-%20%d1%81%d0%b2%d0%b5%d1%82%d0%bb%d0%be-%d0%b6%d0%b5%d0%bb%d1%82%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7748
{
	z-index: 46;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.46%;
	background: transparent url("../images/74%20-%20%d0%b1%d0%bb%d0%b5%d0%b4%d0%bd%d0%be-%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d1%8b%d0%b9%20%d0%bc%d1%80%d0%b0%d0%bc%d0%be%d1%80.jpg") no-repeat center top;
	background-size: cover;
}

#u7757
{
	z-index: 58;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.73%;
	background: transparent url("../images/75%20-%20%d0%ba%d0%be%d1%80%d0%b8%d1%87%d0%bd%d0%b5%d0%b2%d0%be-%d1%80%d0%be%d0%b7%d0%be%d0%b2%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7745
{
	z-index: 70;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.9%;
	background: transparent url("../images/76%20-%20%d0%bf%d0%b5%d1%81%d1%87%d0%b0%d0%bd%d1%8b%d0%b9%20%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7775
{
	z-index: 309;
	height: 20px;
	position: relative;
	width: 2.09%;
	margin-left: 49.38%;
}

#u7760-4
{
	z-index: 108;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.92%;
}

#u7766-4
{
	z-index: 152;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.19%;
}

#u7772-4
{
	z-index: 196;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.46%;
}

#u7763-4
{
	z-index: 244;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.73%;
}

#u7769-4
{
	z-index: 292;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.9%;
}

#pu6952,#pu7044,#pu7453,#pu7405,#pu7787
{
	margin-top: 9px;
	width: 100%;
}

#u7787
{
	z-index: 27;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 2.92%;
	background: transparent url("../images/77%20-%20%d0%b7%d0%b5%d0%bb%d0%b5%d0%bd%d0%b0%d1%8f%20%d0%bf%d0%bb%d0%b8%d1%82%d0%ba%d0%b0.jpg") no-repeat center top;
	background-size: cover;
}

#u7778
{
	z-index: 38;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 22.19%;
	background: transparent url("../images/78%20-%20%d0%bf%d0%b5%d1%81%d0%be%d1%87%d0%bd%d0%b0%d1%8f%20%d0%bc%d0%be%d0%b7%d0%b0%d0%b8%d0%ba%d0%b0.jpg") no-repeat center top;
	background-size: cover;
}

#u7781
{
	z-index: 49;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 41.46%;
	background: transparent url("../images/79%20-%20%d0%b2%d0%be%d0%b4%d0%bd%d0%b0%d1%8f%20%d0%b3%d0%bb%d0%b0%d0%b4%d1%8c.jpg") no-repeat center top;
	background-size: cover;
}

#u7784
{
	z-index: 61;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 60.73%;
	background: transparent url("../images/80%20-%20%d1%81%d0%b5%d1%80%d0%b0%d1%8f%20%d0%bf%d0%bb%d0%b8%d1%82%d0%ba%d0%b0.jpg") no-repeat center top;
	background-size: cover;
}

#u7790
{
	z-index: 73;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 79.9%;
	background: transparent url("../images/81%20-%20%d1%81%d0%b8%d0%bd%d1%8f%d1%8f%20%d0%bf%d0%bb%d0%b8%d1%82%d0%ba%d0%b0.jpg") no-repeat center top;
	background-size: cover;
}

#u7793
{
	z-index: 312;
	height: 20px;
	position: relative;
	width: 2.09%;
	margin-left: 49.38%;
}

.ie #u55372,.ie #u55371,.ie #u7008,.ie #u7023,.ie #u7056,.ie #u7089,.ie #u7495,.ie #u7447,.ie #u7438,.ie #u7444,.ie #u7727,.ie #u7775,.ie #u7793
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu7032-4,#pu7065-4,#pu7104-4,#pu7501-4,#pu7414-4,#pu7709-4,#pu7760-4,#pu7796-4
{
	margin-top: 7px;
	width: 100%;
}

#u7796-4
{
	z-index: 208;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 31.67%;
}

#u7802-4
{
	z-index: 256;
	min-height: 40px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 50.94%;
}

#u6978,#u6984,#u6990,#u6999,#u7005,#u7032,#u7041,#u7029,#u7038,#u7035,#u7065,#u7074,#u7062,#u7071,#u7068,#u7104,#u7101,#u7107,#u7098,#u7110,#u7531,#u7528,#u7525,#u7522,#u7534,#u7501,#u7492,#u7504,#u7510,#u7489,#u7435,#u7432,#u7441,#u7459,#u7486,#u7414,#u7411,#u7420,#u7462,#u7477,#u7709,#u7706,#u7700,#u7703,#u7697,#u7739,#u7733,#u7730,#u7742,#u7736,#u7760,#u7766,#u7772,#u7763,#u7769,#u7796,#u7802
{
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#pu7011,#pu7080,#pu7531-4,#pu7519,#pu7712,#pu7739-4,#pu7751,#pu7799
{
	margin-top: 8px;
	width: 100%;
}

#u7799
{
	z-index: 52;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 31.67%;
	background: transparent url("../images/82%20-%20%d0%bc%d0%be%d0%b7%d0%b0%d0%b8%d0%ba%d0%b0.jpg") no-repeat center top;
	background-size: cover;
}

#u7805
{
	z-index: 64;
	height: 93px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5);
	position: relative;
	margin-right: -10000px;
	width: 17.5%;
	left: 50.94%;
	background: transparent url("../images/83%20-%20%d0%be%d1%80%d0%b5%d1%85.jpg") no-repeat center top;
	background-size: cover;
}

#u8268
{
	z-index: 10;
	min-height: 350px;
	-pie-box-shadow: none;
	box-shadow: 0px -2px 12px rgba(33,36,52,0.6);
	padding-bottom: 28px;
	background: transparent url("../images/bathtub_1.jpg") no-repeat center center;
	background-size: cover;
}

#u8268_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u8200
{
	z-index: 340;
	width: 370px;
	height: 324px;
	border-color: #000000;
	background-color: #2B3E50;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 297px;
}

#pu8307-6
{
	margin-right: -10000px;
	margin-top: 35px;
	width: 33.34%;
	margin-left: 33.34%;
}

#u8307-6
{
	z-index: 394;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u8310-6
{
	z-index: 400;
	min-height: 33px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	width: 100%;
}

#pu8204
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 96px;
	margin-left: 335px;
}

#u8204
{
	z-index: 353;
	width: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu8205
{
	z-index: 354;
	width: 0.01px;
	height: 203px;
	position: relative;
	margin-right: -10000px;
}

#widgetu8214
{
	z-index: 355;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#widgetu8214.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u8215-4
{
	z-index: 356;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#muse_css_mq,#widgetu8214.non-empty-st #u8215-4
{
	background-color: #FFFFFF;
}

#widgetu8214.non-empty-st #u8215-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu8214_input,#widgetu8214_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#u8207-4
{
	z-index: 360;
	width: 289px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu8205.frm-sub-st #u8207-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu8205.frm-sub-st #u8207-4 p
{
	color: #FFFFFF;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8206-4
{
	z-index: 364;
	width: 289px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu8205.frm-subm-err-st #u8206-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10001px;
	margin-bottom: -1px;
	min-height: 29px;
	width: 288px;
}

#widgetu8205.frm-subm-err-st #u8206-4 p
{
	color: #E74C3C;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8206-2
{
	padding-top: 16px;
}

#u8208-4
{
	z-index: 368;
	width: 289px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu8205.frm-subm-ok-st #u8208-4
{
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu8205.frm-subm-ok-st #u8208-4 p
{
	color: #ECF0F1;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	padding-left: 0px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8213-17
{
	z-index: 372;
	min-height: 68px;
	width: 292px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 1px;
	background: transparent url("../images/u8213-17.png") no-repeat 0px 0px;
}

#u8213-17:hover
{
	background: transparent url("../images/u8213-17-r.png") no-repeat 0px 0px;
}

#u8213-17:active
{
	background: transparent url("../images/u8213-17-m.png") no-repeat 0px 0px;
}

#widgetu8205.frm-sub-st #u8213-17
{
	background: transparent url("../images/u8213-17-fs.png") no-repeat 0px 0px;
}

#widgetu8209
{
	z-index: 389;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
}

#widgetu8209.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 77px -10000px 0px 0px;
}

#u8211-4
{
	z-index: 390;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu8209.non-empty-st #u8211-4
{
	background-color: #FFFFFF;
}

#widgetu8214.fld-err-st #u8215-4,#widgetu8209.fld-err-st #u8211-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 33px;
	width: 277px;
	margin: 0px -10000px 0px 0px;
}

#widgetu8209.non-empty-st #u8211-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu8214.fld-err-st #u8215-4 *,#widgetu8209.fld-err-st #u8211-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu8209_input,#widgetu8209_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu8214.fld-err-st #widgetu8214_input,#widgetu8214.fld-err-st #widgetu8214_prompt,#widgetu8209.fld-err-st #widgetu8209_input,#widgetu8209.fld-err-st #widgetu8209_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu8214.non-empty-st #widgetu8214_prompt,#widgetu8209.non-empty-st #widgetu8209_prompt
{
	visibility: hidden;
}

#u8201-10
{
	z-index: 341;
	width: 292px;
	min-height: 12px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 1px;
	margin-top: 5px;
	position: relative;
}

#u8201-3
{
	font-family: open-sans, sans-serif;
}

#u8202
{
	margin-top: 2px;
	margin-bottom: -2px;
}

#u8203
{
	z-index: 348;
	width: 22px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-weight: normal;
}

#u8201-2,#u8201-7
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u8268-bw
{
	z-index: 10;
	min-height: 350px;
	margin-top: 20px;
}

#ppu58459
{
	margin-top: 36px;
	width: 100%;
}

#pu58459
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58459
{
	z-index: 530;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58465-4
{
	z-index: 547;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58461
{
	z-index: 543;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58462
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58462
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58462
{
	z-index: 544;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58463
{
	z-index: 545;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58466
{
	z-index: 551;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58464
{
	z-index: 546;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58460-12
{
	z-index: 531;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58467
{
	z-index: 552;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58467:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 28px -10000px 0px 0%;
	background-size: cover;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

