.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u54342-4
{
	font-family: '__Open Sans_5';
}

#u54327-4
{
	font-family: '__Open Sans_5';
}

#u54367-4
{
	font-family: '__Open Sans_5';
}

#u54297-4
{
	font-family: '__Open Sans_5';
}

#u54334-4
{
	font-family: '__Open Sans_5';
}

#u54355-4
{
	font-family: '__Open Sans_5';
}

#u54306-4
{
	font-family: '__Open Sans_5';
}

#u54362-6
{
	font-family: '__Open Sans_5';
}

#u54348-4
{
	font-family: '__Open Sans_5';
}

#u54320-4
{
	font-family: '__Open Sans_5';
}

#u54313-4
{
	font-family: '__Open Sans_5';
}

#u56041-4,#u56042-6,#u56038-8,#u56039-8,#u56040-8
{
	font-family: open-sans-n8, sans-serif;
}

#u56038-2,#u56038-4,#u56039-2,#u56039-4,#u56040-2,#u56040-4
{
	font-family: open-sans-n6, sans-serif;
}

#u38308-4
{
	font-family: open-sans-i4, sans-serif;
}

#u56043-4,#u38304-4,#u38343-4,#u38344-4,#u38345-4,#u38319-4,#u38370-4,#u38377-4,#u38378-4,#u38379-6,#u38342-4,#u58983-2
{
	font-family: open-sans-n7, sans-serif;
}

#u38306-10,#u38307-11,#u38330-4,#u38331-4,#u38332-4,#u38333-4,#u38334-4,#u38335-4,#u38336-4,#u38337-4,#u38338-4,#u38380-4,#u38381-4,#u38382-4,#u38354-4,#u38356-4,#u38358-4,#u38360-4,#u38355-4,#u38357-4,#u38361-4,#u38359-4,#u58983-4,#u58983-6,#u58983-8,#u58983-9,#u58983-11,#u58983-13,#u58117-4,#u58112-12
{
	font-family: open-sans-n4, sans-serif;
}

