.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u45832-4
{
	font-family: '__Open Sans_5';
}

#u45817-4
{
	font-family: '__Open Sans_5';
}

#u45857-4
{
	font-family: '__Open Sans_5';
}

#u45787-4
{
	font-family: '__Open Sans_5';
}

#u45824-4
{
	font-family: '__Open Sans_5';
}

#u45845-4
{
	font-family: '__Open Sans_5';
}

#u45796-4
{
	font-family: '__Open Sans_5';
}

#u45852-6
{
	font-family: '__Open Sans_5';
}

#u45838-4
{
	font-family: '__Open Sans_5';
}

#u45810-4
{
	font-family: '__Open Sans_5';
}

#u45803-4
{
	font-family: '__Open Sans_5';
}

#u55199-4
{
	font-family: open-sans-n7, sans-serif;
}

#u55194-2,#u55194-4,#u55195-2,#u55195-4,#u55196-2,#u55196-4
{
	font-family: open-sans-n6, sans-serif;
}

#u55197-4,#u55198-6,#u55194-8,#u55195-8,#u55196-8,#u6910-4
{
	font-family: open-sans-n8, sans-serif;
}

#u6916-4,#u6919-4,#u6922-4,#u6925-4,#u58407-4,#u58402-12
{
	font-family: open-sans-n4, sans-serif;
}

