.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u50242-4
{
	font-family: '__Open Sans_5';
}

#u50227-4
{
	font-family: '__Open Sans_5';
}

#u50267-4
{
	font-family: '__Open Sans_5';
}

#u50197-4
{
	font-family: '__Open Sans_5';
}

#u50234-4
{
	font-family: '__Open Sans_5';
}

#u50255-4
{
	font-family: '__Open Sans_5';
}

#u50206-4
{
	font-family: '__Open Sans_5';
}

#u50262-6
{
	font-family: '__Open Sans_5';
}

#u50248-4
{
	font-family: '__Open Sans_5';
}

#u50220-4
{
	font-family: '__Open Sans_5';
}

#u50213-4
{
	font-family: '__Open Sans_5';
}

#u56917-4,#u56918-6,#u56914-8,#u56915-8,#u56916-8
{
	font-family: open-sans-n8, sans-serif;
}

#u56919-4,#u27904-4,#u27999-4
{
	font-family: open-sans-n7, sans-serif;
}

#u56914-2,#u56914-4,#u56915-2,#u56915-4,#u56916-2,#u56916-4,#u28025-4
{
	font-family: open-sans-n6, sans-serif;
}

#u27905-14,#u27907-11,#u28013-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28008-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28022-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu28010_input,#widgetu28010_prompt,#widgetu28005_input,#widgetu28005_prompt,#widgetu28019_input,#widgetu28019_prompt
{
	font-family: open-sans, sans-serif;
}

#u28000-10
{
	font-family: open-sans-n3, sans-serif;
}

#u28000-2,#u28000-3,#u28000-7,#u58697-4,#u58692-12
{
	font-family: open-sans-n4, sans-serif;
}

