.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u24688-4
{
	font-family: open-sans-n8, sans-serif;
}

#u48037-4
{
	font-family: '__Open Sans_5';
}

#u48022-4
{
	font-family: '__Open Sans_5';
}

#u48062-4
{
	font-family: '__Open Sans_5';
}

#u47992-4
{
	font-family: '__Open Sans_5';
}

#u48029-4
{
	font-family: '__Open Sans_5';
}

#u48050-4
{
	font-family: '__Open Sans_5';
}

#u48001-4
{
	font-family: '__Open Sans_5';
}

#u48057-6
{
	font-family: '__Open Sans_5';
}

#u48043-4
{
	font-family: '__Open Sans_5';
}

#u48015-4
{
	font-family: '__Open Sans_5';
}

#u48008-4
{
	font-family: '__Open Sans_5';
}

#u56293-4,#u56294-6,#u24691-4
{
	font-family: open-sans-n8, sans-serif;
}

#u56290-2,#u56290-4,#u56291-2,#u56291-4,#u56292-2,#u56292-4
{
	font-family: open-sans-n6, sans-serif;
}

#u56290-8,#u56291-8,#u56292-8,#u24694-4
{
	font-family: open-sans-n8, sans-serif;
}

#u24715-4
{
	font-family: open-sans-n8, sans-serif;
}

#u24724-4
{
	font-family: open-sans-n8, sans-serif;
}

#u24730-4
{
	font-family: open-sans-n8, sans-serif;
}

#u24805-4
{
	font-family: open-sans-n8, sans-serif;
}

#u24814-4
{
	font-family: open-sans-n8, sans-serif;
}

#u24820-4
{
	font-family: open-sans-n8, sans-serif;
}

#u24697-4,#u56295-4,#u24700-4,#u24703-6,#u24754-4,#u24751-4,#u24748-4,#u24844-4,#u24841-4,#u24838-4,#u24874-4
{
	font-family: open-sans-n7, sans-serif;
}

#u24865-4
{
	font-family: open-sans-n8, sans-serif;
}

#u24635-4,#u24641-4,#u24650-4,#u24721-4,#u24727-4,#u24733-4,#u24811-4,#u24817-4,#u24823-4,#u24868-4,#u58552-4,#u58547-12
{
	font-family: open-sans-n4, sans-serif;
}

