.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u52767-4
{
	font-family: '__Open Sans_5';
}

#u52752-4
{
	font-family: '__Open Sans_5';
}

#u52792-4
{
	font-family: '__Open Sans_5';
}

#u52722-4
{
	font-family: '__Open Sans_5';
}

#u52759-4
{
	font-family: '__Open Sans_5';
}

#u52780-4
{
	font-family: '__Open Sans_5';
}

#u52731-4
{
	font-family: '__Open Sans_5';
}

#u52787-6
{
	font-family: '__Open Sans_5';
}

#u52773-4
{
	font-family: '__Open Sans_5';
}

#u52745-4
{
	font-family: '__Open Sans_5';
}

#u52738-4
{
	font-family: '__Open Sans_5';
}

#u55621-4,#u55622-6,#u55618-8,#u55619-8,#u55620-8
{
	font-family: open-sans-n8, sans-serif;
}

#u55618-2,#u55618-4,#u55619-2,#u55619-4,#u55620-2,#u55620-4
{
	font-family: open-sans-n6, sans-serif;
}

#u55623-4,#u34616-5,#u34659-4,#u35288-4,#u35287-4,#u36295-4,#u36302-4,#u36303-4,#u36304-6,#u35361-4,#u58920-2
{
	font-family: open-sans-n7, sans-serif;
}

#u34618-16,#u34619-9,#u34620-14,#u35299-4,#u35300-4,#u35301-4,#u35302-4,#u35303-4,#u35304-4,#u35305-4,#u35358-34,#u36305-4,#u36306-4,#u36307-4,#u35370-4,#u35372-4,#u35374-4,#u35376-4,#u35371-4,#u35373-4,#u35377-4,#u35375-4,#u58920-4,#u58920-6,#u58920-8,#u58920-9,#u58920-11,#u58920-13,#u58204-4,#u58199-12
{
	font-family: open-sans-n4, sans-serif;
}

