.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u38929-4
{
	font-family: '__Open Sans_5';
}

#u38906-4
{
	font-family: '__Open Sans_5';
}

#u38934-4
{
	font-family: '__Open Sans_5';
}

#u38946-4
{
	font-family: '__Open Sans_5';
}

#u38943-4
{
	font-family: '__Open Sans_5';
}

#u38969-4
{
	font-family: '__Open Sans_5';
}

#u38913-4
{
	font-family: '__Open Sans_5';
}

#u38974-6
{
	font-family: '__Open Sans_5';
}

#u38963-4
{
	font-family: '__Open Sans_5';
}

#u38953-4
{
	font-family: '__Open Sans_5';
}

#u38920-4
{
	font-family: '__Open Sans_5';
}

#u969-4
{
	font-family: open-sans-n4, sans-serif;
}

#u974-4
{
	font-family: open-sans-n4, sans-serif;
}

#u672.PamphletThumbSelected #u673-4 p,#u2832.PamphletThumbSelected #u2833-4 p,#u2613.PamphletThumbSelected #u2614-4 p,#u3042.PamphletThumbSelected #u3043-4 p,#u2910.PamphletThumbSelected #u2911-4 p,#u2700.PamphletThumbSelected #u2701-4 p,#u2401.PamphletThumbSelected #u2402-4 p,#u2505.PamphletThumbSelected #u2506-4 p,#u1044-8,#u2340-7,#u55070-4,#u55071-6,#u55067-8,#u55068-8,#u55069-8,#u1212-4,#u2370,#u1082-4,#u11184-4,#u11187-4,#u2402-4
{
	font-family: open-sans-n8, sans-serif;
}

#u955-2,#u955-3,#u955-7,#u2346-6,#u11190-4,#u1058-4,#u1064-4,#u1070-4,#u11178-4,#u2379-4,#u2382-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2392-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2387-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1344-4,#u4273,#u11193-4,#u11199-4,#u11196-4,#u673-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2397-6,#u2406-4,#u11226-4,#u11223-4,#u11214-4,#u11211-4,#u11202-4,#u648-4,#u654-4
{
	font-family: open-sans-n4, sans-serif;
}

#u660-4
{
	font-family: open-sans-n4, sans-serif;
}

#u665-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1350-6,#u4282,#u11229-4,#u11235-4,#u11232-4,#u2614-4
{
	font-family: open-sans-n8, sans-serif;
}

#u649-6,#u670-4,#u11262-4,#u11259-4,#u11250-4,#u11247-4,#u11238-4,#u2603-4,#u2600-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2595-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2591-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1356-4,#u4291,#u11328-4,#u11331-4,#u11334-4,#u2506-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2604-6,#u2583-4,#u11301-5,#u11304-4,#u11313-4,#u11319-4,#u11325-4,#u2483-4,#u2486-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2496-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2491-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2701-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2501-6,#u2510-4,#u2729-4,#u2713-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2726-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2719-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2833-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2710-6,#u2705-4,#u2806-4,#u2824-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2814-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2819-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2911-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2807-6,#u2835-4,#u2935-4,#u2930-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2925-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2919-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3043-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2934-6,#u2939-4,#u3013-4,#u3022-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3028-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3032-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4671-4,#u3125-4,#u3128-4,#u3290-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3919-4
{
	font-family: open-sans-n8, sans-serif;
}

#u3014-6,#u3040-4,#u3948-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3940-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4074-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4205-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4216-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4227-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4301-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4314-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3782-4,#u55072-4,#u3785-4,#u3802-6,#u3816-4,#u299-4,#u1203-4,#u1399-4,#u1405-4,#u1408-4,#u1414-4,#u408-4,#u384-4,#u387-4,#u1372,#u1375,#u1381-4,#u1382-4,#u390-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2340-4,#u55067-2,#u55067-4,#u55068-2,#u55068-4,#u55069-2,#u55069-4,#u2370-2,#u1082-2,#u11184-2,#u11187-2,#u4273-2,#u11193-2,#u11199-2,#u11196-2,#u4282-2,#u11229-2,#u11235-2,#u11232-2,#u4291-2,#u11328-2,#u11331-2,#u11334-2,#u3928-6,#u2329-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1372-5,#u1375-5,#u1232-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1229-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1298-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu968_input,#widgetu968_prompt,#widgetu973_input,#widgetu973_prompt,#widgetu2381_input,#widgetu2381_prompt,#widgetu2389_input,#widgetu2389_prompt,#widgetu2385_input,#widgetu2385_prompt,#widgetu651_input,#widgetu651_prompt,#widgetu659_input,#widgetu659_prompt,#widgetu663_input,#widgetu663_prompt,#widgetu2598_input,#widgetu2598_prompt,#widgetu2594_input,#widgetu2594_prompt,#widgetu2590_input,#widgetu2590_prompt,#widgetu2485_input,#widgetu2485_prompt,#widgetu2493_input,#widgetu2493_prompt,#widgetu2489_input,#widgetu2489_prompt,#widgetu2712_input,#widgetu2712_prompt,#widgetu2723_input,#widgetu2723_prompt,#widgetu2716_input,#widgetu2716_prompt,#widgetu2822_input,#widgetu2822_prompt,#widgetu2813_input,#widgetu2813_prompt,#widgetu2817_input,#widgetu2817_prompt,#widgetu2929_input,#widgetu2929_prompt,#widgetu2923_input,#widgetu2923_prompt,#widgetu2918_input,#widgetu2918_prompt,#widgetu3020_input,#widgetu3020_prompt,#widgetu3026_input,#widgetu3026_prompt,#widgetu3030_input,#widgetu3030_prompt,#widgetu3945_input,#widgetu3939_input,#widgetu3939_prompt,#widgetu4300_input,#widgetu4300_prompt,#widgetu4312_input,#widgetu4312_prompt,#widgetu1231_input,#widgetu1231_prompt,#widgetu1226_input,#widgetu1226_prompt,#widgetu1296_input,#widgetu1296_prompt
{
	font-family: open-sans, sans-serif;
}

#u955-10,#u1219-10
{
	font-family: open-sans-n3, sans-serif;
}

#u1219-2,#u1219-3,#u1219-7,#u58378-4,#u58373-12
{
	font-family: open-sans-n4, sans-serif;
}

