.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u48667-4
{
	font-family: '__Open Sans_5';
}

#u48652-4
{
	font-family: '__Open Sans_5';
}

#u48692-4
{
	font-family: '__Open Sans_5';
}

#u48622-4
{
	font-family: '__Open Sans_5';
}

#u48659-4
{
	font-family: '__Open Sans_5';
}

#u48680-4
{
	font-family: '__Open Sans_5';
}

#u48631-4
{
	font-family: '__Open Sans_5';
}

#u48687-6
{
	font-family: '__Open Sans_5';
}

#u48673-4
{
	font-family: '__Open Sans_5';
}

#u48645-4
{
	font-family: '__Open Sans_5';
}

#u48638-4
{
	font-family: '__Open Sans_5';
}

#u12114-4,#u45687-4
{
	font-family: open-sans-n8, sans-serif;
}

#u56499-4
{
	font-family: open-sans-n7, sans-serif;
}

#u56497-4,#u56498-6,#u56494-8,#u56495-8,#u56496-8
{
	font-family: open-sans-n8, sans-serif;
}

#u12117-6,#u56494-2,#u56494-4,#u56495-2,#u56495-4,#u56496-2,#u56496-4
{
	font-family: open-sans-n6, sans-serif;
}

#u12129-4,#u12124-12
{
	font-family: open-sans-n4, sans-serif;
}

