.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u52447-4
{
	font-family: '__Open Sans_5';
}

#u52432-4
{
	font-family: '__Open Sans_5';
}

#u52472-4
{
	font-family: '__Open Sans_5';
}

#u52402-4
{
	font-family: '__Open Sans_5';
}

#u52439-4
{
	font-family: '__Open Sans_5';
}

#u52460-4
{
	font-family: '__Open Sans_5';
}

#u52411-4
{
	font-family: '__Open Sans_5';
}

#u52467-6
{
	font-family: '__Open Sans_5';
}

#u52453-4
{
	font-family: '__Open Sans_5';
}

#u52425-4
{
	font-family: '__Open Sans_5';
}

#u52418-4
{
	font-family: '__Open Sans_5';
}

#u54841-4,#u54842-6,#u54838-8,#u54839-8,#u54840-8
{
	font-family: open-sans-n8, sans-serif;
}

#u54838-2,#u54838-4,#u54839-2,#u54839-4,#u54840-2,#u54840-4
{
	font-family: open-sans-n6, sans-serif;
}

#u54843-4,#u34343-4,#u34382-4,#u34383-4,#u34384-4,#u34358-4,#u34357-4,#u34568-4,#u36232-4,#u36239-4,#u36240-4,#u36241-6,#u34381-4,#u58911-2
{
	font-family: open-sans-n7, sans-serif;
}

#u34345-7,#u34346-11,#u34347-15,#u34369-4,#u34370-4,#u34371-4,#u34372-4,#u34373-4,#u34374-4,#u34375-4,#u34376-4,#u34377-4,#u36242-4,#u36243-4,#u36244-4,#u34393-4,#u34395-4,#u34397-4,#u34399-4,#u34394-4,#u34396-4,#u34400-4,#u34398-4,#u58911-4,#u58911-6,#u58911-8,#u58911-9,#u58911-11,#u58911-13,#u58175-4,#u58170-12
{
	font-family: open-sans-n4, sans-serif;
}

