.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u49612-4
{
	font-family: '__Open Sans_5';
}

#u49597-4
{
	font-family: '__Open Sans_5';
}

#u49637-4
{
	font-family: '__Open Sans_5';
}

#u49567-4
{
	font-family: '__Open Sans_5';
}

#u49604-4
{
	font-family: '__Open Sans_5';
}

#u49625-4
{
	font-family: '__Open Sans_5';
}

#u49576-4
{
	font-family: '__Open Sans_5';
}

#u49632-6
{
	font-family: '__Open Sans_5';
}

#u49618-4
{
	font-family: '__Open Sans_5';
}

#u49590-4
{
	font-family: '__Open Sans_5';
}

#u49583-4
{
	font-family: '__Open Sans_5';
}

#u56749-4,#u56750-6,#u56746-8,#u56747-8,#u56748-8
{
	font-family: open-sans-n8, sans-serif;
}

#u56751-4,#u27015-6,#u27110-4
{
	font-family: open-sans-n7, sans-serif;
}

#u56746-2,#u56746-4,#u56747-2,#u56747-4,#u56748-2,#u56748-4,#u27136-4
{
	font-family: open-sans-n6, sans-serif;
}

#u27016-7,#u27018-18,#u27839-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27845-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27852-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu27838_input,#widgetu27838_prompt,#widgetu27842_input,#widgetu27842_prompt,#widgetu27849_input,#widgetu27849_prompt
{
	font-family: open-sans, sans-serif;
}

#u27111-10
{
	font-family: open-sans-n3, sans-serif;
}

#u27111-2,#u27111-3,#u27111-7,#u58639-4,#u58634-12
{
	font-family: open-sans-n4, sans-serif;
}

