.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u46777-4
{
	font-family: '__Open Sans_5';
}

#u46762-4
{
	font-family: '__Open Sans_5';
}

#u46802-4
{
	font-family: '__Open Sans_5';
}

#u46732-4
{
	font-family: '__Open Sans_5';
}

#u46769-4
{
	font-family: '__Open Sans_5';
}

#u46790-4
{
	font-family: '__Open Sans_5';
}

#u46741-4
{
	font-family: '__Open Sans_5';
}

#u46797-6
{
	font-family: '__Open Sans_5';
}

#u46783-4
{
	font-family: '__Open Sans_5';
}

#u46755-4
{
	font-family: '__Open Sans_5';
}

#u46748-4
{
	font-family: '__Open Sans_5';
}

#u55455-4
{
	font-family: open-sans-n7, sans-serif;
}

#u55453-4,#u55454-6,#u55450-8,#u55451-8,#u55452-8,#u10817-4,#u10829-4,#u10832-4,#u10838-4,#u10841-4,#u10844-4,#u10871-4,#u10856-4,#u10904-4,#u10886-4,#u10883-4,#u10880-4,#u10934-4
{
	font-family: open-sans-n8, sans-serif;
}

#u55450-2,#u55450-4,#u55451-2,#u55451-4,#u55452-2,#u55452-4,#u10823-6,#u10847-4,#u10850-4,#u10853-4,#u10868-4,#u10874-4,#u10877-4,#u10859-4,#u10862-4,#u10865-4,#u10901-4,#u10898-4,#u10925-4,#u10892-4,#u10907-4,#u10916-4,#u10895-4,#u10913-4,#u10922-4,#u10889-4,#u10931-4
{
	font-family: open-sans-n6, sans-serif;
}

#u10940-4,#u10943-13,#u10946-10,#u58494-4,#u58489-12
{
	font-family: open-sans-n4, sans-serif;
}

