.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u49297-4
{
	font-family: '__Open Sans_5';
}

#u49282-4
{
	font-family: '__Open Sans_5';
}

#u49322-4
{
	font-family: '__Open Sans_5';
}

#u49252-4
{
	font-family: '__Open Sans_5';
}

#u49289-4
{
	font-family: '__Open Sans_5';
}

#u49310-4
{
	font-family: '__Open Sans_5';
}

#u49261-4
{
	font-family: '__Open Sans_5';
}

#u49317-6
{
	font-family: '__Open Sans_5';
}

#u49303-4
{
	font-family: '__Open Sans_5';
}

#u49275-4
{
	font-family: '__Open Sans_5';
}

#u49268-4
{
	font-family: '__Open Sans_5';
}

#u56665-4,#u56666-6,#u56662-8,#u56663-8,#u56664-8
{
	font-family: open-sans-n8, sans-serif;
}

#u56667-4,#u26626-6,#u26921-4
{
	font-family: open-sans-n7, sans-serif;
}

#u56662-2,#u56662-4,#u56663-2,#u56663-4,#u56664-2,#u56664-4,#u26947-4
{
	font-family: open-sans-n6, sans-serif;
}

#u26629-2,#u26629-3,#u26629-5,#u26629-6,#u26629-8,#u26643-23,#u27773-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27779-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27786-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu27772_input,#widgetu27772_prompt,#widgetu27776_input,#widgetu27776_prompt,#widgetu27783_input,#widgetu27783_prompt
{
	font-family: open-sans, sans-serif;
}

#u26922-10
{
	font-family: open-sans-n3, sans-serif;
}

#u26922-2,#u26922-3,#u26922-7,#u58610-4,#u58605-12
{
	font-family: open-sans-n4, sans-serif;
}

