.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u47407-4
{
	font-family: '__Open Sans_5';
}

#u47392-4
{
	font-family: '__Open Sans_5';
}

#u47432-4
{
	font-family: '__Open Sans_5';
}

#u47362-4
{
	font-family: '__Open Sans_5';
}

#u47399-4
{
	font-family: '__Open Sans_5';
}

#u47420-4
{
	font-family: '__Open Sans_5';
}

#u47371-4
{
	font-family: '__Open Sans_5';
}

#u47427-6
{
	font-family: '__Open Sans_5';
}

#u47413-4
{
	font-family: '__Open Sans_5';
}

#u47385-4
{
	font-family: '__Open Sans_5';
}

#u47378-4
{
	font-family: '__Open Sans_5';
}

#u56125-4,#u56126-6,#u56122-8,#u56123-8,#u56124-8
{
	font-family: open-sans-n8, sans-serif;
}

#u56122-2,#u56122-4,#u56123-2,#u56123-4,#u56124-2,#u56124-4
{
	font-family: open-sans-n6, sans-serif;
}

#u36918-4,#u36947-4,#u37009-4,#u56127-4,#u36956-4,#u37017-4,#u36962-4,#u37025-4,#u36992-4,#u37054-4,#u36989-4,#u37057-4,#u57920-4,#u57689-4,#u57690-4,#u57691-4,#u57658-4,#u58992-2
{
	font-family: open-sans-n7, sans-serif;
}

#u36950-12,#u36953-12,#u36959-12,#u36983-12,#u36986-13,#u57692-4,#u57693-4,#u57694-4,#u57998-4,#u57667-4,#u57669-4,#u57671-4,#u57673-4,#u57668-4,#u57670-4,#u57674-4,#u57672-4,#u58001-4,#u57989-4,#u57983-4,#u57980-4,#u57995-4,#u57971-4,#u57968-4,#u57965-4,#u57962-4,#u58992-4,#u58992-6,#u58992-8,#u58992-9,#u58992-11,#u58992-13,#u57681-4,#u57676-12
{
	font-family: open-sans-n4, sans-serif;
}

