.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u53082-4
{
	font-family: '__Open Sans_5';
}

#u53067-4
{
	font-family: '__Open Sans_5';
}

#u53107-4
{
	font-family: '__Open Sans_5';
}

#u53037-4
{
	font-family: '__Open Sans_5';
}

#u53074-4
{
	font-family: '__Open Sans_5';
}

#u53095-4
{
	font-family: '__Open Sans_5';
}

#u53046-4
{
	font-family: '__Open Sans_5';
}

#u53102-6
{
	font-family: '__Open Sans_5';
}

#u53088-4
{
	font-family: '__Open Sans_5';
}

#u53060-4
{
	font-family: '__Open Sans_5';
}

#u53053-4
{
	font-family: '__Open Sans_5';
}

#u55705-4,#u55706-6,#u55702-8,#u55703-8,#u55704-8
{
	font-family: open-sans-n8, sans-serif;
}

#u55702-2,#u55702-4,#u55703-2,#u55703-4,#u55704-2,#u55704-4
{
	font-family: open-sans-n6, sans-serif;
}

#u55707-4,#u35438-4,#u35477-4,#u35453-4,#u35452-4,#u36355-4,#u36362-4,#u36363-4,#u36364-6,#u35476-4,#u58938-2
{
	font-family: open-sans-n7, sans-serif;
}

#u35440-8,#u35441-11,#u35464-4,#u35465-4,#u35466-4,#u35467-4,#u35468-4,#u35469-4,#u35470-4,#u35471-4,#u35472-4,#u36365-4,#u36366-4,#u36367-4,#u35488-4,#u35490-4,#u35492-4,#u35494-4,#u35489-4,#u35491-4,#u35495-4,#u35493-4,#u58938-4,#u58938-6,#u58938-8,#u58938-9,#u58938-11,#u58938-13,#u58233-4,#u58228-12
{
	font-family: open-sans-n4, sans-serif;
}

