.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u47722-4
{
	font-family: '__Open Sans_5';
}

#u47707-4
{
	font-family: '__Open Sans_5';
}

#u47747-4
{
	font-family: '__Open Sans_5';
}

#u47677-4
{
	font-family: '__Open Sans_5';
}

#u47714-4
{
	font-family: '__Open Sans_5';
}

#u47735-4
{
	font-family: '__Open Sans_5';
}

#u47686-4
{
	font-family: '__Open Sans_5';
}

#u47742-6
{
	font-family: '__Open Sans_5';
}

#u47728-4
{
	font-family: '__Open Sans_5';
}

#u47700-4
{
	font-family: '__Open Sans_5';
}

#u47693-4
{
	font-family: '__Open Sans_5';
}

#u56211-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8795-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8791-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu8794_input,#widgetu8794_prompt,#widgetu8789_input,#widgetu8789_prompt
{
	font-family: open-sans, sans-serif;
}

#u8781-10
{
	font-family: open-sans-n3, sans-serif;
}

#u56209-4,#u56210-6,#u56206-8,#u56207-8,#u56208-8,#u8667-4,#u8774-4,#u8802-7
{
	font-family: open-sans-n8, sans-serif;
}

#u8696-4,#u56206-2,#u56206-4,#u56207-2,#u56207-4,#u56208-2,#u56208-4,#u8670-4,#u8673-4,#u8802-4
{
	font-family: open-sans-n6, sans-serif;
}

#u8781-2,#u8781-3,#u8781-7,#u8803-6,#u58349-4,#u58344-12
{
	font-family: open-sans-n4, sans-serif;
}

