.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u47092-4
{
	font-family: '__Open Sans_5';
}

#u47077-4
{
	font-family: '__Open Sans_5';
}

#u47117-4
{
	font-family: '__Open Sans_5';
}

#u47047-4
{
	font-family: '__Open Sans_5';
}

#u47084-4
{
	font-family: '__Open Sans_5';
}

#u47105-4
{
	font-family: '__Open Sans_5';
}

#u47056-4
{
	font-family: '__Open Sans_5';
}

#u47112-6
{
	font-family: '__Open Sans_5';
}

#u47098-4
{
	font-family: '__Open Sans_5';
}

#u47070-4
{
	font-family: '__Open Sans_5';
}

#u47063-4
{
	font-family: '__Open Sans_5';
}

#u8392.PamphletThumbSelected #u8393-4 p,#u8381-12,#u8393-4
{
	font-family: open-sans-n8, sans-serif;
}

#u8416-4,#u8406-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8400-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8411-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu8404_input,#widgetu8404_prompt,#widgetu8398_input,#widgetu8398_prompt,#widgetu8408_input,#widgetu8408_prompt
{
	font-family: open-sans, sans-serif;
}

#u55539-4
{
	font-family: open-sans-n7, sans-serif;
}

#u55537-4,#u55538-6,#u55534-8,#u55535-8,#u55536-8
{
	font-family: open-sans-n8, sans-serif;
}

#u8378-12,#u8381-2,#u8381-4,#u8381-6,#u8381-8,#u55534-2,#u55534-4,#u55535-2,#u55535-4,#u55536-2,#u55536-4
{
	font-family: open-sans-n6, sans-serif;
}

#u8417-6,#u8388-4,#u8363-4,#u8358-12
{
	font-family: open-sans-n4, sans-serif;
}

