.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u52132-4
{
	font-family: '__Open Sans_5';
}

#u52117-4
{
	font-family: '__Open Sans_5';
}

#u52157-4
{
	font-family: '__Open Sans_5';
}

#u52087-4
{
	font-family: '__Open Sans_5';
}

#u52124-4
{
	font-family: '__Open Sans_5';
}

#u52145-4
{
	font-family: '__Open Sans_5';
}

#u52096-4
{
	font-family: '__Open Sans_5';
}

#u52152-6
{
	font-family: '__Open Sans_5';
}

#u52138-4
{
	font-family: '__Open Sans_5';
}

#u52110-4
{
	font-family: '__Open Sans_5';
}

#u52103-4
{
	font-family: '__Open Sans_5';
}

#u54806-4,#u54807-6,#u54803-8,#u54804-8,#u54805-8
{
	font-family: open-sans-n8, sans-serif;
}

#u54803-2,#u54803-4,#u54804-2,#u54804-4,#u54805-2,#u54805-4
{
	font-family: open-sans-n6, sans-serif;
}

#u59038,#u59046,#u59051
{
	font-family: '__Proxima Nova_5';
}

#u34104-4
{
	font-family: open-sans-i4, sans-serif;
}

#u54808-4,#u34087-5,#u34241-4,#u34244-4,#u34252-4,#u34168-4,#u34151-4,#u35955-4,#u35975-4,#u35987-4,#u35999-6,#u34238-4,#u58902-2
{
	font-family: open-sans-n7, sans-serif;
}

#u34093-9,#u34101-11,#u34182-4,#u34188-4,#u34194-4,#u34197-4,#u34206-4,#u34209-4,#u34215-4,#u34221-4,#u34230-4,#u35978-4,#u35984-4,#u35996-4,#u34290-4,#u34296-4,#u34302-4,#u34299-4,#u34305-4,#u34308-4,#u34311-4,#u34314-4,#u58902-4,#u58902-6,#u58902-8,#u58902-9,#u58902-11,#u58902-13,#u58146-4,#u58141-12
{
	font-family: open-sans-n4, sans-serif;
}

