.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u53712-4
{
	font-family: '__Open Sans_5';
}

#u53697-4
{
	font-family: '__Open Sans_5';
}

#u53737-4
{
	font-family: '__Open Sans_5';
}

#u53667-4
{
	font-family: '__Open Sans_5';
}

#u53704-4
{
	font-family: '__Open Sans_5';
}

#u53725-4
{
	font-family: '__Open Sans_5';
}

#u53676-4
{
	font-family: '__Open Sans_5';
}

#u53732-6
{
	font-family: '__Open Sans_5';
}

#u53718-4
{
	font-family: '__Open Sans_5';
}

#u53690-4
{
	font-family: '__Open Sans_5';
}

#u53683-4
{
	font-family: '__Open Sans_5';
}

#u55873-4,#u55874-6,#u55870-8,#u55871-8,#u55872-8
{
	font-family: open-sans-n8, sans-serif;
}

#u55870-2,#u55870-4,#u55871-2,#u55871-4,#u55872-2,#u55872-4
{
	font-family: open-sans-n6, sans-serif;
}

#u37772-4
{
	font-family: open-sans-i4, sans-serif;
}

#u55875-4,#u37768-4,#u58027-4,#u58026-4,#u58028-4,#u37783-4,#u37782-4,#u37834-4,#u37841-4,#u37842-4,#u37843-6,#u37806-4,#u58956-2
{
	font-family: open-sans-n7, sans-serif;
}

#u37770-11,#u37771-11,#u37794-4,#u37795-4,#u37796-4,#u37797-4,#u37798-4,#u37799-4,#u37800-4,#u37801-4,#u37802-4,#u37844-4,#u37845-4,#u37846-4,#u37818-4,#u37820-4,#u37822-4,#u37824-4,#u37819-4,#u37821-4,#u37825-4,#u37823-4,#u58956-4,#u58956-6,#u58956-8,#u58956-9,#u58956-11,#u58956-13,#u58291-4,#u58286-12
{
	font-family: open-sans-n4, sans-serif;
}

