.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u49927-4
{
	font-family: '__Open Sans_5';
}

#u49912-4
{
	font-family: '__Open Sans_5';
}

#u49952-4
{
	font-family: '__Open Sans_5';
}

#u49882-4
{
	font-family: '__Open Sans_5';
}

#u49919-4
{
	font-family: '__Open Sans_5';
}

#u49940-4
{
	font-family: '__Open Sans_5';
}

#u49891-4
{
	font-family: '__Open Sans_5';
}

#u49947-6
{
	font-family: '__Open Sans_5';
}

#u49933-4
{
	font-family: '__Open Sans_5';
}

#u49905-4
{
	font-family: '__Open Sans_5';
}

#u49898-4
{
	font-family: '__Open Sans_5';
}

#u56833-4,#u56834-6,#u56830-8,#u56831-8,#u56832-8
{
	font-family: open-sans-n8, sans-serif;
}

#u56835-4,#u27396-4,#u27491-4
{
	font-family: open-sans-n7, sans-serif;
}

#u56830-2,#u56830-4,#u56831-2,#u56831-4,#u56832-2,#u56832-4,#u27517-4
{
	font-family: open-sans-n6, sans-serif;
}

#u27397-2,#u27397-3,#u27397-4,#u27397-6,#u27399-23,#u27505-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27500-4
{
	font-family: open-sans-n4, sans-serif;
}

#u27514-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu27503_input,#widgetu27503_prompt,#widgetu27499_input,#widgetu27499_prompt,#widgetu27512_input,#widgetu27512_prompt
{
	font-family: open-sans, sans-serif;
}

#u27492-10
{
	font-family: open-sans-n3, sans-serif;
}

#u27492-2,#u27492-3,#u27492-7,#u58668-4,#u58663-12
{
	font-family: open-sans-n4, sans-serif;
}

