.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u48352-4
{
	font-family: '__Open Sans_5';
}

#u48337-4
{
	font-family: '__Open Sans_5';
}

#u48377-4
{
	font-family: '__Open Sans_5';
}

#u48307-4
{
	font-family: '__Open Sans_5';
}

#u48344-4
{
	font-family: '__Open Sans_5';
}

#u48365-4
{
	font-family: '__Open Sans_5';
}

#u48316-4
{
	font-family: '__Open Sans_5';
}

#u48372-6
{
	font-family: '__Open Sans_5';
}

#u48358-4
{
	font-family: '__Open Sans_5';
}

#u48330-4
{
	font-family: '__Open Sans_5';
}

#u48323-4
{
	font-family: '__Open Sans_5';
}

#u56415-4,#u11586,#u11588-4,#u11587,#u11589-4
{
	font-family: open-sans-n7, sans-serif;
}

#u56413-4,#u56414-6,#u56410-8,#u56411-8,#u56412-8,#u11639-7
{
	font-family: open-sans-n8, sans-serif;
}

#u56410-2,#u56410-4,#u56411-2,#u56411-4,#u56412-2,#u56412-4,#u11611-10,#u11639-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11586-5,#u11587-5,#u11640-6,#u11636-4
{
	font-family: open-sans-n4, sans-serif;
}

#u11630-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu11635_input,#widgetu11635_prompt,#widgetu11627_input,#widgetu11627_prompt
{
	font-family: open-sans, sans-serif;
}

#u11618-10
{
	font-family: open-sans-n3, sans-serif;
}

#u11618-2,#u11618-3,#u11618-7,#u58523-4,#u58518-12
{
	font-family: open-sans-n4, sans-serif;
}

