.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u50872-4
{
	font-family: '__Open Sans_5';
}

#u50857-4
{
	font-family: '__Open Sans_5';
}

#u50897-4
{
	font-family: '__Open Sans_5';
}

#u50827-4
{
	font-family: '__Open Sans_5';
}

#u50864-4
{
	font-family: '__Open Sans_5';
}

#u50885-4
{
	font-family: '__Open Sans_5';
}

#u50836-4
{
	font-family: '__Open Sans_5';
}

#u50892-6
{
	font-family: '__Open Sans_5';
}

#u50878-4
{
	font-family: '__Open Sans_5';
}

#u50850-4
{
	font-family: '__Open Sans_5';
}

#u50843-4
{
	font-family: '__Open Sans_5';
}

#u57085-4,#u57086-6,#u57082-8,#u57083-8,#u57084-8
{
	font-family: open-sans-n8, sans-serif;
}

#u57087-4,#u28674-4,#u28769-4
{
	font-family: open-sans-n7, sans-serif;
}

#u57082-2,#u57082-4,#u57083-2,#u57083-4,#u57084-2,#u57084-4,#u28795-4
{
	font-family: open-sans-n6, sans-serif;
}

#u28675-8,#u28677-5,#u28788-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28793-4
{
	font-family: open-sans-n4, sans-serif;
}

#u28777-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu28786_input,#widgetu28786_prompt,#widgetu28791_input,#widgetu28791_prompt,#widgetu28776_input,#widgetu28776_prompt
{
	font-family: open-sans, sans-serif;
}

#u28770-10
{
	font-family: open-sans-n3, sans-serif;
}

#u28770-2,#u28770-3,#u28770-7,#u58755-4,#u58750-12
{
	font-family: open-sans-n4, sans-serif;
}

