.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u54027-4
{
	font-family: '__Open Sans_5';
}

#u54012-4
{
	font-family: '__Open Sans_5';
}

#u54052-4
{
	font-family: '__Open Sans_5';
}

#u53982-4
{
	font-family: '__Open Sans_5';
}

#u54019-4
{
	font-family: '__Open Sans_5';
}

#u54040-4
{
	font-family: '__Open Sans_5';
}

#u53991-4
{
	font-family: '__Open Sans_5';
}

#u54047-6
{
	font-family: '__Open Sans_5';
}

#u54033-4
{
	font-family: '__Open Sans_5';
}

#u54005-4
{
	font-family: '__Open Sans_5';
}

#u53998-4
{
	font-family: '__Open Sans_5';
}

#u55957-4,#u55958-6,#u55954-8,#u55955-8,#u55956-8
{
	font-family: open-sans-n8, sans-serif;
}

#u55954-2,#u55954-4,#u55955-2,#u55955-4,#u55956-2,#u55956-4
{
	font-family: open-sans-n6, sans-serif;
}

#u37222-4
{
	font-family: open-sans-i4, sans-serif;
}

#u55959-4,#u37218-4,#u58020-4,#u37258-4,#u37259-4,#u37233-4,#u37284-4,#u37291-4,#u37292-4,#u37293-6,#u37256-4,#u58974-2
{
	font-family: open-sans-n7, sans-serif;
}

#u37220-6,#u37221-12,#u37244-4,#u37245-4,#u37246-4,#u37247-4,#u37248-4,#u37249-4,#u37250-4,#u37251-4,#u37252-4,#u37681-4,#u37294-4,#u37295-4,#u37296-4,#u37268-4,#u37270-4,#u37272-4,#u37274-4,#u37269-4,#u37271-4,#u37275-4,#u37273-4,#u58974-4,#u58974-6,#u58974-8,#u58974-9,#u58974-11,#u58974-13,#u58320-4,#u58315-12
{
	font-family: open-sans-n4, sans-serif;
}

