.H1
{
	font-family: open-sans-n7, sans-serif;
}

#u53397-4
{
	font-family: '__Open Sans_5';
}

#u53382-4
{
	font-family: '__Open Sans_5';
}

#u53422-4
{
	font-family: '__Open Sans_5';
}

#u53352-4
{
	font-family: '__Open Sans_5';
}

#u53389-4
{
	font-family: '__Open Sans_5';
}

#u53410-4
{
	font-family: '__Open Sans_5';
}

#u53361-4
{
	font-family: '__Open Sans_5';
}

#u53417-6
{
	font-family: '__Open Sans_5';
}

#u53403-4
{
	font-family: '__Open Sans_5';
}

#u53375-4
{
	font-family: '__Open Sans_5';
}

#u53368-4
{
	font-family: '__Open Sans_5';
}

#u55789-4,#u55790-6,#u55786-8,#u55787-8,#u55788-8
{
	font-family: open-sans-n8, sans-serif;
}

#u55786-2,#u55786-4,#u55787-2,#u55787-4,#u55788-2,#u55788-4
{
	font-family: open-sans-n6, sans-serif;
}

#u55791-4,#u35704-4,#u35743-4,#u35719-4,#u35718-4,#u36415-4,#u36422-4,#u36423-4,#u36424-6,#u58947-2
{
	font-family: open-sans-n7, sans-serif;
}

#u35706-4,#u35707-11,#u35730-4,#u35731-4,#u35732-4,#u35733-4,#u35734-4,#u35735-4,#u35736-4,#u35737-4,#u35738-4,#u35937-4,#u35934-4,#u36425-4,#u36426-4,#u36427-4,#u58947-4,#u58947-6,#u58947-8,#u58947-9,#u58947-11,#u58947-13,#u58262-4,#u58257-12
{
	font-family: open-sans-n4, sans-serif;
}

