/*

*/

.version.kontakti /* version checker */
{
	color: #00001A;
	background-color: #60F539;
}

#page
{
	z-index: 1;
	min-height: 1304px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#ptop
{
	width: 100%;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u56419
{
	z-index: 221;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#ppu56420
{
	margin-top: -5px;
	width: 100%;
}

#pu56420
{
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u56420
{
	z-index: 222;
	height: 38px;
	position: relative;
	width: 3.44%;
}

#u48296
{
	z-index: 109;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body.initialized
{
	visibility: visible;
}

#u48296-bw
{
	z-index: 109;
	margin-top: 54px;
	height: 58px;
}

#menuu48304
{
	z-index: 110;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	margin-left: 50%;
	left: -476px;
}

#u48347
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u48350
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48350:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u48352-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48350:hover #u48352-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48350.MuseMenuActive #u48352-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u48350:hover #u48352-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48333
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u48334
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48334:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u48337-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48334:hover #u48337-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u48334.MuseMenuActive #u48337-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u48334:hover #u48337-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48375
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u48376
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48376:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u48377-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48376:hover #u48377-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u48376.MuseMenuActive #u48377-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u48376:hover #u48377-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48305
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u48306
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48306:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u48307-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48306:hover #u48307-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u48306.MuseMenuActive #u48307-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u48306:hover #u48307-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48340
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u48343
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48343:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u48344-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48343:hover #u48344-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u48343.MuseMenuActive #u48344-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u48343:hover #u48344-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48361
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u48364
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48364:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u48365-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48364:hover #u48365-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u48364.MuseMenuActive #u48365-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u48364:hover #u48365-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48312
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u48313
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48313:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u48316-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48313:hover #u48316-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u48313.MuseMenuActive #u48316-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u48313:hover #u48316-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48368
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u48369
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u48369:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u48372-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u48369:hover #u48372-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u48369.MuseMenuActive #u48372-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u48369:hover #u48372-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48313.MuseMenuActive #u48316-4 p,#u48369.MuseMenuActive #u48372-6 p
{
	font-size: 12px;
}

#u48354
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u48355
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48355:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u48358-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48355:hover #u48358-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u48355.MuseMenuActive #u48358-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u48355:hover #u48358-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48326
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u48327
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48327:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u48330-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48327:hover #u48330-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u48327:hover #u48330-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48319
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u48322
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u48322.MuseMenuActive
{
	border-color: #F0C330;
	background-color: #29ABE2;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u48323-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u48322:hover #u48323-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u48327.MuseMenuActive #u48330-4,#u48322.MuseMenuActive #u48323-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u48322:hover #u48323-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u48350.MuseMenuActive #u48352-4 p,#u48334.MuseMenuActive #u48337-4 p,#u48376.MuseMenuActive #u48377-4 p,#u48306.MuseMenuActive #u48307-4 p,#u48343.MuseMenuActive #u48344-4 p,#u48364.MuseMenuActive #u48365-4 p,#u48355.MuseMenuActive #u48358-4 p,#u48327.MuseMenuActive #u48330-4 p,#u48322.MuseMenuActive #u48323-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u56409
{
	z-index: 179;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#ppu56416
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
	width: 44.9%;
	margin-left: 5.94%;
}

#pu56416
{
	width: 51.28%;
	margin-left: 48.73%;
}

#u56416
{
	z-index: 218;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	width: 17.2%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#pu56413-4
{
	margin-right: -10000px;
	width: 80.1%;
	margin-left: 19.91%;
}

#u56413-4
{
	z-index: 204;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56415-4
{
	z-index: 214;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#pu56417
{
	margin-top: 3px;
	width: 51.28%;
	margin-left: 48.73%;
}

#u56417
{
	z-index: 219;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 17.2%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#u56414-6
{
	z-index: 208;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	width: 80.1%;
	left: 19.91%;
}

#u11586-5
{
	z-index: 10;
	min-height: 26px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 83px;
	position: relative;
	width: 89.33%;
}

#u11588-4
{
	z-index: 20;
	min-height: 26px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 89.33%;
}

#u11591
{
	z-index: 29;
	min-height: 385px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
	width: 89.33%;
}

#pu56410-8
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 9px;
	width: 40.11%;
	margin-left: 53.96%;
}

#u56410-8
{
	z-index: 180;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 46.5%;
	margin-left: 12.99%;
}

#pu56418
{
	margin-top: -7px;
	width: 58.45%;
	margin-left: 1.04%;
}

#u56418
{
	z-index: 220;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	width: 16.89%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#u56411-8
{
	z-index: 188;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 79.56%;
	left: 20.45%;
}

#u56412-8
{
	z-index: 196;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	width: 46.5%;
	margin-left: 12.99%;
}

#u11587-5
{
	z-index: 15;
	min-height: 26px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 98px;
	position: relative;
	width: 100%;
}

#u11586,#u11587
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u11589-4
{
	z-index: 24;
	min-height: 26px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u11592
{
	z-index: 30;
	min-height: 385px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
	width: 100%;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 766px;
}

#u11590
{
	z-index: 28;
	height: 40px;
	position: relative;
	width: 4.17%;
	margin-left: 47.71%;
}

.ie #u56419,.ie #u56420,.ie #u11590
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11611-10
{
	z-index: 31;
	min-height: 107px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	width: 33.34%;
	margin-left: 33.34%;
}

#u11614
{
	z-index: 41;
	min-height: 362px;
	-pie-box-shadow: none;
	box-shadow: 1px -5px 7px rgba(0,0,0,0.33);
	padding-bottom: 43px;
	background: transparent url("../images/bathtub_1.jpg") no-repeat right center;
	background-size: cover;
}

#u11614_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u11617
{
	z-index: 42;
	width: 370px;
	height: 319px;
	border-color: #000000;
	background-color: #2B3E50;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 295px;
}

#pu11639-7
{
	margin-right: -10000px;
	margin-top: 52px;
	width: 34.59%;
	margin-left: 32.71%;
}

#u11639-7
{
	z-index: 96;
	min-height: 57px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u56410-2,#u56410-4,#u56411-2,#u56411-4,#u56412-2,#u56412-4,#u11639-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u11640-6
{
	z-index: 103;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	width: 100%;
}

#pu11621
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 113px;
	margin-left: 333px;
}

#u11621
{
	z-index: 55;
	width: 293px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu11622
{
	z-index: 56;
	width: 0.01px;
	height: 203px;
	position: relative;
	margin-right: -10000px;
}

#widgetu11635
{
	z-index: 57;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#widgetu11635.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u11636-4
{
	z-index: 58;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#muse_css_mq,#widgetu11635.non-empty-st #u11636-4
{
	background-color: #FFFFFF;
}

#widgetu11635.non-empty-st #u11636-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu11635_input,#widgetu11635_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#u11634-4
{
	z-index: 62;
	width: 289px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu11622.frm-sub-st #u11634-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu11622.frm-sub-st #u11634-4 p
{
	color: #FFFFFF;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u11632-4
{
	z-index: 66;
	width: 289px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu11622.frm-subm-err-st #u11632-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10001px;
	margin-bottom: -1px;
	min-height: 29px;
	width: 288px;
}

#widgetu11622.frm-subm-err-st #u11632-4 p
{
	color: #E74C3C;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u11632-2
{
	padding-top: 16px;
}

#u11631-4
{
	z-index: 70;
	width: 289px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu11622.frm-subm-ok-st #u11631-4
{
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu11622.frm-subm-ok-st #u11631-4 p
{
	color: #ECF0F1;
	padding-top: 0px;
	line-height: 1;
	font-size: 14px;
	padding-left: 0px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u11633-17
{
	z-index: 74;
	min-height: 68px;
	width: 292px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 1px;
	background: transparent url("../images/u11633-17.png") no-repeat 0px 0px;
}

#u11633-17:hover
{
	background: transparent url("../images/u11633-17-r.png") no-repeat 0px 0px;
}

#u11633-17:active
{
	background: transparent url("../images/u11633-17-m.png") no-repeat 0px 0px;
}

#widgetu11622.frm-sub-st #u11633-17
{
	background: transparent url("../images/u11633-17-fs.png") no-repeat 0px 0px;
}

#widgetu11627
{
	z-index: 91;
	width: 293px;
	height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
}

#widgetu11627.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 293px;
	height: 45px;
	min-height: 0px;
	margin: 77px -10000px 0px 0px;
}

#u11630-4
{
	z-index: 92;
	width: 277px;
	min-height: 33px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #212434;
	line-height: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu11627.non-empty-st #u11630-4
{
	background-color: #FFFFFF;
}

#widgetu11635.fld-err-st #u11636-4,#widgetu11627.fld-err-st #u11630-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 33px;
	width: 277px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11627.non-empty-st #u11630-4 *
{
	color: #000000;
	font-style: normal;
}

#widgetu11635.fld-err-st #u11636-4 *,#widgetu11627.fld-err-st #u11630-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu11627_input,#widgetu11627_prompt
{
	width: 277px;
	min-height: 33px;
	color: #212434;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu11635.fld-err-st #widgetu11635_input,#widgetu11635.fld-err-st #widgetu11635_prompt,#widgetu11627.fld-err-st #widgetu11627_input,#widgetu11627.fld-err-st #widgetu11627_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu11635.non-empty-st #widgetu11635_prompt,#widgetu11627.non-empty-st #widgetu11627_prompt
{
	visibility: hidden;
}

#u11618-10
{
	z-index: 43;
	width: 292px;
	min-height: 12px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 1px;
	margin-top: 5px;
	position: relative;
}

#u11618-3
{
	font-family: open-sans, sans-serif;
}

#u11619
{
	margin-top: 2px;
	margin-bottom: -2px;
}

#u11620
{
	z-index: 50;
	width: 22px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-weight: normal;
}

#u11618-2,#u11618-7
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u11614-bw
{
	z-index: 41;
	min-height: 362px;
}

#ppu58517
{
	margin-top: 25px;
	width: 100%;
}

#pu58517
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58517
{
	z-index: 223;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58523-4
{
	z-index: 240;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58519
{
	z-index: 236;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58520
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58520
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58520
{
	z-index: 237;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58521
{
	z-index: 238;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58524
{
	z-index: 244;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58522
{
	z-index: 239;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58518-12
{
	z-index: 224;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58525
{
	z-index: 245;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58525:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 28px -10000px 0px 0%;
	background-size: cover;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

