#u59010,#u59012,#u59011,#u59013,#u59014,#u59015
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u59001
{
	border-width: 0px;
	border-color: transparent;
	background-color: #007DFF;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
}

