/*

*/

.version.nashi_uslugi /* version checker */
{
	color: #000001;
	background-color: #879894;
}

#page
{
	z-index: 1;
	min-height: 1113px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#ptop
{
	width: 100%;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u55287
{
	z-index: 234;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#ppu55288
{
	margin-top: -5px;
	width: 100%;
}

#pu55288
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u55288
{
	z-index: 235;
	height: 38px;
	position: relative;
	width: 3.44%;
}

.ie #u55287,.ie #u55288
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u46091
{
	z-index: 122;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body.initialized
{
	visibility: visible;
}

#u46091-bw
{
	z-index: 122;
	margin-top: 49px;
	height: 58px;
}

#menuu46099
{
	z-index: 123;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	margin-left: 50%;
	left: -474px;
}

#u46142
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u46145
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46145:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u46147-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46145:hover #u46147-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u46145.MuseMenuActive #u46147-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u46145:hover #u46147-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46128
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u46129
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46129:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u46132-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46129:hover #u46132-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u46129.MuseMenuActive #u46132-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u46129:hover #u46132-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46170
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u46171
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46171.MuseMenuActive
{
	border-color: #F0C330;
	background-color: #29ABE2;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u46172-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46171:hover #u46172-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u46171.MuseMenuActive #u46172-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u46171:hover #u46172-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46100
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u46101
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46101:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u46102-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46101:hover #u46102-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u46101.MuseMenuActive #u46102-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u46101:hover #u46102-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46135
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u46138
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46138:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u46139-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46138:hover #u46139-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u46138.MuseMenuActive #u46139-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u46138:hover #u46139-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46156
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u46159
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46159:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u46160-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46159:hover #u46160-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u46159.MuseMenuActive #u46160-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u46159:hover #u46160-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46107
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u46108
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46108:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u46111-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46108:hover #u46111-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u46108.MuseMenuActive #u46111-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u46108:hover #u46111-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46163
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u46164
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u46164:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u46167-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u46164:hover #u46167-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u46164.MuseMenuActive #u46167-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u46164:hover #u46167-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46108.MuseMenuActive #u46111-4 p,#u46164.MuseMenuActive #u46167-6 p
{
	font-size: 12px;
}

#u46149
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u46150
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46150:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u46153-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46150:hover #u46153-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u46150.MuseMenuActive #u46153-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u46150:hover #u46153-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46121
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u46122
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46122:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u46125-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46122:hover #u46125-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u46122:hover #u46125-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46114
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u46117
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46117:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u46118-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46117:hover #u46118-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u46122.MuseMenuActive #u46125-4,#u46117.MuseMenuActive #u46118-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u46117:hover #u46118-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46145.MuseMenuActive #u46147-4 p,#u46129.MuseMenuActive #u46132-4 p,#u46171.MuseMenuActive #u46172-4 p,#u46101.MuseMenuActive #u46102-4 p,#u46138.MuseMenuActive #u46139-4 p,#u46159.MuseMenuActive #u46160-4 p,#u46150.MuseMenuActive #u46153-4 p,#u46122.MuseMenuActive #u46125-4 p,#u46117.MuseMenuActive #u46118-4 p
{
	color: #212434;
	visibility: inherit;
}

#u55277
{
	z-index: 192;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pppu55284
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
	width: 83.34%;
	margin-left: 8.34%;
}

#ppu55284
{
	width: 60%;
	margin-left: 23.38%;
}

#pu55284
{
	margin-right: -10000px;
	width: 7.92%;
}

#u55284
{
	z-index: 231;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u55285
{
	z-index: 232;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu55281-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.17%;
}

#u55281-4
{
	z-index: 217;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55283-4
{
	z-index: 227;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u55282-6
{
	z-index: 221;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u55286
{
	z-index: 233;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.34%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu55278-8
{
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u55278-8
{
	z-index: 193;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55279-8
{
	z-index: 201;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u55280-8
{
	z-index: 209;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55278-2,#u55278-4,#u55279-2,#u55279-4,#u55280-2,#u55280-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u8512-4
{
	z-index: 10;
	min-height: 54px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 77px;
	position: relative;
	width: 100%;
}

#u8515-4
{
	z-index: 14;
	min-height: 53px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 5px;
	position: relative;
	width: 100%;
}

#u8518
{
	z-index: 18;
	height: 150px;
	position: relative;
	margin-right: -10000px;
	width: 20.63%;
	background: transparent url("../images/emalirovka.png") no-repeat center center;
	background-size: cover;
}

#u8527-6
{
	z-index: 21;
	min-height: 150px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 76.88%;
	left: 23.13%;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 766px;
}

#u8521
{
	z-index: 19;
	height: 150px;
	position: relative;
	margin-right: -10000px;
	width: 17.19%;
	left: 8.34%;
	background: transparent url("../images/rest.png") no-repeat center center;
	background-size: cover;
}

#u8530-6
{
	z-index: 27;
	min-height: 150px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 64.07%;
	left: 27.61%;
}

#pu8518,#pu8521,#pu8524
{
	margin-top: 29px;
	width: 100%;
}

#u8524
{
	z-index: 20;
	height: 150px;
	position: relative;
	margin-right: -10000px;
	width: 17.19%;
	left: 8.34%;
	background: transparent url("../images/rest.png") no-repeat center center;
	background-size: cover;
}

#u8533-5
{
	z-index: 33;
	min-height: 150px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 64.07%;
	left: 27.61%;
}

#u8527-2,#u8530-2,#u8533
{
	text-decoration: underline;
}

#u8536-4
{
	z-index: 38;
	min-height: 49px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 24px;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u8539-5
{
	z-index: 42;
	min-height: 43px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 9px;
	position: relative;
	width: 66.67%;
	margin-left: 16.67%;
}

#u8539-2
{
	font-family: open-sans, sans-serif;
	font-weight: 800;
}

#pamphletu8563
{
	z-index: 47;
	width: 0.01px;
	height: 47px;
	margin-left: 335px;
	margin-top: 9px;
	position: relative;
}

#u8570
{
	z-index: 48;
	width: 288px;
	position: relative;
	margin-right: -10000px;
}

#u8571
{
	position: absolute;
	width: 291px;
	border-color: #E29E28;
	background-color: transparent;
}

#u8571:hover
{
	border-color: #999999;
	border-radius: 0px;
	width: 291px;
	min-height: 0px;
	margin: 0px;
}

#u8572-4
{
	z-index: 50;
	width: 288px;
	min-height: 44px;
	border-style: solid;
	border-color: #E0A541;
	background-color: #FCC049;
	border-radius: 5px;
	color: #212434;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 3px;
}

#u8571:hover #u8572-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FCC049;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 288px;
	margin: 0px -10000px 2px 0px;
}

#u8571:active #u8572-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FFB02E;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 288px;
	margin: 0px -10000px 2px 0px;
}

#u8571.PamphletThumbSelected #u8572-4
{
	border-style: solid;
	border-color: #E0A541;
	background-color: #FCC049;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 288px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 3px;
}

#u8571.PamphletThumbSelected #u8572-4 p
{
	line-height: 0;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	font-style: normal;
}

#u8572-2
{
	padding-top: 20px;
}

#u8573
{
	position: absolute;
	width: 614px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 176px;
	left: -450px;
	-pie-background: rgba(0,0,0,0.9);
}

#u8573popup
{
	z-index: 54;
}

#u8574
{
	z-index: 55;
	width: 570px;
	height: 538px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8593
{
	z-index: 56;
	width: 408px;
	border-color: #FCBD49;
	background-color: #DEE1E2;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 69px;
}

#u8595-4
{
	z-index: 106;
	width: 282px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 11px;
	text-align: left;
	color: #7F8C8D;
	line-height: 17px;
	text-indent: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 393px;
	left: 68px;
}

#u8592
{
	z-index: 116;
	width: 26px;
	min-height: 24px;
	border-color: #FFC105;
	background-color: transparent;
	border-radius: 1000px;
	color: #7F8C8D;
	line-height: 15px;
	font-size: 15px;
	text-align: center;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 391px;
	left: 43px;
}

#widgetu8575
{
	z-index: 57;
	width: 0.01px;
	height: 372px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 111px;
}

#widgetu8583
{
	z-index: 58;
	width: 324px;
	height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: -2px;
}

#widgetu8583.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 324px;
	height: 49px;
	min-height: 0px;
	margin: 129px -10000px 0px 0px;
}

#u8585-4
{
	z-index: 59;
	width: 304px;
	min-height: 33px;
	border-style: solid;
	border-width: 2px;
	border-color: #C4C4C4;
	background-color: #F1F1F3;
	color: #000000;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#muse_css_mq,#widgetu8583.non-empty-st #u8585-4
{
	background-color: #FFFFFF;
}

#widgetu8583.non-empty-st #u8585-4 *
{
	font-style: normal;
}

#widgetu8577
{
	z-index: 63;
	width: 324px;
	height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: -2px;
}

#widgetu8577.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 324px;
	height: 49px;
	min-height: 0px;
	margin: 191px -10000px 0px 0px;
}

#u8579-4
{
	z-index: 64;
	width: 304px;
	min-height: 33px;
	border-style: solid;
	border-width: 2px;
	border-color: #C4C4C4;
	background-color: #F1F1F3;
	color: #000000;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu8577.non-empty-st #u8579-4
{
	background-color: #FFFFFF;
}

#widgetu8577.non-empty-st #u8579-4 *
{
	color: #000000;
	font-style: normal;
}

#u8576-4
{
	z-index: 68;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 58px;
}

#widgetu8575.frm-sub-st #u8576-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8591-4
{
	z-index: 72;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 58px;
}

#widgetu8575.frm-subm-err-st #u8591-4 p
{
	color: #FF0000;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8581-4
{
	z-index: 76;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 58px;
}

#widgetu8575.frm-sub-st #u8576-4,#widgetu8575.frm-subm-err-st #u8591-4,#widgetu8575.frm-subm-ok-st #u8581-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu8575.frm-subm-ok-st #u8581-4 p
{
	color: #999999;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8582-17
{
	z-index: 80;
	min-height: 58px;
	width: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	background: transparent url("../images/u8582-17.png") no-repeat 0px 0px;
}

#u8582-17:hover
{
	background: transparent url("../images/u8582-17-r.png") no-repeat 0px 0px;
}

#u8582-17:active
{
	background: transparent url("../images/u8582-17-m.png") no-repeat 0px 0px;
}

#widgetu8575.frm-sub-st #u8582-17
{
	background: transparent url("../images/u8582-17-fs.png") no-repeat 0px 0px;
}

#widgetu8587
{
	z-index: 97;
	width: 324px;
	height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: -2px;
}

#widgetu8587.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 324px;
	height: 49px;
	min-height: 0px;
	margin: 251px -10000px 0px 0px;
}

#u8590-4
{
	z-index: 98;
	width: 304px;
	min-height: 33px;
	border-style: solid;
	border-width: 2px;
	border-color: #C4C4C4;
	background-color: #F1F1F3;
	color: #000000;
	line-height: 33px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 10px;
}

#widgetu8587.non-empty-st #u8590-4
{
	background-color: #FFFFFF;
}

#widgetu8583.fld-err-st #u8585-4,#widgetu8577.fld-err-st #u8579-4,#widgetu8587.fld-err-st #u8590-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 33px;
	width: 304px;
	margin: 0px -10000px 0px 0px;
}

#widgetu8587.non-empty-st #u8590-4 *
{
	font-style: normal;
}

#widgetu8583.fld-err-st #u8585-4 *,#widgetu8577.fld-err-st #u8579-4 *,#widgetu8587.fld-err-st #u8590-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu8583_input,#widgetu8583_prompt,#widgetu8577_input,#widgetu8577_prompt,#widgetu8587_input,#widgetu8587_prompt
{
	width: 304px;
	min-height: 33px;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px 6px 6px 10px;
}

#widgetu8583.fld-err-st #widgetu8583_input,#widgetu8583.fld-err-st #widgetu8583_prompt,#widgetu8577.fld-err-st #widgetu8577_input,#widgetu8577.fld-err-st #widgetu8577_prompt,#widgetu8587.fld-err-st #widgetu8587_input,#widgetu8587.fld-err-st #widgetu8587_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu8583.non-empty-st #widgetu8583_prompt,#widgetu8577.non-empty-st #widgetu8577_prompt,#widgetu8587.non-empty-st #widgetu8587_prompt
{
	visibility: hidden;
}

#u8594-4
{
	z-index: 102;
	width: 408px;
	min-height: 26px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 69px;
}

#u8596-6
{
	z-index: 110;
	width: 340px;
	min-height: 45px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	color: #000000;
	line-height: 23px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 99px;
}

#u8566
{
	position: absolute;
	width: 28px;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	background-color: #000000;
	border-radius: 1000px;
	padding-bottom: 7px;
	top: 213px;
	left: 53px;
}

#u8566:hover
{
	background-color: transparent;
	width: 28px;
	min-height: 0px;
	margin: 0px;
}

#u8567-4
{
	z-index: 118;
	width: 20px;
	min-height: 14px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 4px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#ppu58430
{
	margin-top: 26px;
	width: 100%;
}

#pu58430
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58430
{
	z-index: 236;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58436-4
{
	z-index: 253;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58432
{
	z-index: 249;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58433
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58433
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58433
{
	z-index: 250;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58434
{
	z-index: 251;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58437
{
	z-index: 257;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58435
{
	z-index: 252;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58431-12
{
	z-index: 237;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58438
{
	z-index: 258;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58438:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 29px -10000px 0px 0%;
	background-size: cover;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

