/*

*/

.version.nashi_materialy /* version checker */
{
	color: #000012;
	background-color: #3C7DAB;
}

#page
{
	z-index: 1;
	min-height: 5042px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u31781
{
	z-index: 194;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#pu55063
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u55063
{
	z-index: 818;
	height: 38px;
	position: relative;
	width: 3.44%;
}

#u31699
{
	z-index: 82;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u31699-bw
{
	z-index: 82;
	margin-top: 51px;
	height: 58px;
}

#menuu31707
{
	z-index: 122;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	margin-left: 50%;
	left: -478px;
}

#u31764
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u31765
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u31765:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u31768-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u31765:hover #u31768-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u31765.MuseMenuActive #u31768-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u31765:hover #u31768-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31722
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u31723
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u31723:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u31724-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u31723:hover #u31724-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u31723.MuseMenuActive #u31724-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u31723:hover #u31724-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31757
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u31758
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u31758:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u31760-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u31758:hover #u31760-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u31758.MuseMenuActive #u31760-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u31758:hover #u31760-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31771
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u31772
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u31772:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u31773-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u31772:hover #u31773-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u31772.MuseMenuActive #u31773-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u31772:hover #u31773-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31708
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u31709
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u31709:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u31710-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u31709:hover #u31710-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u31709.MuseMenuActive #u31710-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u31709:hover #u31710-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31715
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u31718
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u31718:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u31719-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u31718:hover #u31719-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u31718.MuseMenuActive #u31719-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u31718:hover #u31719-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31736
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u31739
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u31739.MuseMenuActive
{
	border-color: #F0C330;
	background-color: #29ABE2;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u31742-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u31739:hover #u31742-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u31739.MuseMenuActive #u31742-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u31739:hover #u31742-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u38880
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u38883
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u38883:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u38886-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u38883:hover #u38886-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u38883.MuseMenuActive #u38886-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u38883:hover #u38886-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31739.MuseMenuActive #u31742-4 p,#u38883.MuseMenuActive #u38886-6 p
{
	font-size: 12px;
}

#u31729
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u31730
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u31730:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u31733-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u31730:hover #u31733-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u31730.MuseMenuActive #u31733-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u31730:hover #u31733-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31750
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u31753
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u31753:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u31756-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u31753:hover #u31756-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u31753:hover #u31756-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31743
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u31744
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u31744:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u31745-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u31744:hover #u31745-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u31753.MuseMenuActive #u31756-4,#u31744.MuseMenuActive #u31745-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u31744:hover #u31745-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31765.MuseMenuActive #u31768-4 p,#u31723.MuseMenuActive #u31724-4 p,#u31758.MuseMenuActive #u31760-4 p,#u31772.MuseMenuActive #u31773-4 p,#u31709.MuseMenuActive #u31710-4 p,#u31718.MuseMenuActive #u31719-4 p,#u31730.MuseMenuActive #u31733-4 p,#u31753.MuseMenuActive #u31756-4 p,#u31744.MuseMenuActive #u31745-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u31700
{
	z-index: 83;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u57601
{
	z-index: 15;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 105px;
	position: relative;
	margin-right: -10000px;
	margin-top: 324px;
	width: 29.07%;
	left: 4.17%;
}

#u31783
{
	z-index: 195;
	height: 197px;
	position: relative;
	width: 94.27%;
	margin-left: 2.16%;
	background: transparent url("../images/la-otverd-u31783-fr.png") no-repeat center center;
	background-size: contain;
}

#u31792-4
{
	z-index: 207;
	min-height: 59px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
	width: 94.27%;
	margin-left: 2.16%;
}

#u31815-23
{
	z-index: 329;
	min-height: 182px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	position: relative;
	width: 94.27%;
	margin-left: 2.16%;
}

#u31811-4
{
	z-index: 305;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 3px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
}

#pstacril
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 219px;
	margin-left: 51px;
}

#stacril
{
	margin-left: 10px;
	position: relative;
}

#u32101-4
{
	z-index: 555;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 577px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u32101-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: 575px 0px 2px;
	border-width: 5px 0px 0px;
}

#u32101-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: 575px 0px 2px;
	border-width: 5px 0px 0px;
}

#u59064
{
	z-index: 859;
	width: 259px;
	min-height: 40px;
	background-color: #007DFF;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: '__Proxima Nova_5';
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

.gs
{
	border-width: 0px;
	border-color: #FFD822;
	background-color: #85BB65;
	border-radius: 5px;
}

#ppu31778
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
	width: 83.34%;
	margin-left: 8.13%;
}

#pu31778
{
	width: 27.63%;
	margin-left: 23.5%;
}

#u31778
{
	z-index: 191;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	width: 17.2%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#pu31704-4
{
	margin-right: -10000px;
	width: 80.1%;
	margin-left: 19.91%;
}

#u31704-4
{
	z-index: 108;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u31706-4
{
	z-index: 118;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#pu31779
{
	margin-top: 3px;
	width: 27.63%;
	margin-left: 23.5%;
}

#u31779
{
	z-index: 192;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 17.2%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#u31705-6
{
	z-index: 112;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	width: 80.1%;
	left: 19.91%;
}

#u31693-4
{
	z-index: 54;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 73px;
	position: relative;
	width: 100%;
}

#u31694-4
{
	z-index: 58;
	min-height: 39px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u31801-4
{
	z-index: 255;
	min-height: 64px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u57604
{
	z-index: 18;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 104px;
	margin-top: 2px;
	position: relative;
	width: 34.88%;
	margin-left: 32.75%;
}

#u31785
{
	z-index: 198;
	height: 197px;
	position: relative;
	width: 94.27%;
	margin-left: 2.16%;
	background: transparent url("../images/la-otverd-u31783-fr.png") no-repeat center center;
	background-size: contain;
}

#u31794-4
{
	z-index: 219;
	min-height: 59px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
	width: 94.27%;
	margin-left: 2.16%;
}

#u31817-23
{
	z-index: 399;
	min-height: 182px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	position: relative;
	width: 94.27%;
	margin-left: 2.16%;
}

#u31806-4
{
	z-index: 281;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 3px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
}

#pu32384-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 815px;
	margin-left: 351px;
}

#u32384-4
{
	z-index: 571;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	border-width: 0px 0px 3px;
}

#u32384-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u32384-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u59069
{
	z-index: 860;
	width: 259px;
	min-height: 40px;
	background-color: #007DFF;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: '__Proxima Nova_5';
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#u36519
{
	z-index: 808;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 904px;
	width: 3.55%;
	left: 48.44%;
}

#u31780
{
	z-index: 193;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 3.96%;
	left: 54.38%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu31701-8
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 9px;
	width: 36.78%;
	margin-left: 59.17%;
}

#u31701-8
{
	z-index: 84;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 50.71%;
}

#u31702-8
{
	z-index: 92;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 50.71%;
}

#u31703-8
{
	z-index: 100;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 50.71%;
}

#u57607
{
	z-index: 20;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 104px;
	margin-top: 238px;
	position: relative;
	width: 79.04%;
	margin-left: 20.4%;
}

#u31790
{
	z-index: 204;
	height: 197px;
	position: relative;
	width: 94.27%;
	margin-left: 1.8%;
	background: transparent url("../images/la-otverd-u31783-fr.png") no-repeat center center;
	background-size: contain;
}

#u31799-4
{
	z-index: 243;
	min-height: 59px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
	width: 93.55%;
	margin-left: 2.51%;
}

#u31822-23
{
	z-index: 482;
	min-height: 182px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	position: relative;
	width: 93.55%;
	margin-left: 2.51%;
}

#u31813-4
{
	z-index: 317;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 3px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#pu59001
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 648px;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	margin-left: 118px;
	position: relative;
}

#u32387-4
{
	z-index: 591;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 760px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u32387-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: 758px 0px 2px;
	border-width: 5px 0px 0px;
}

#u32387-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: 758px 0px 2px;
	border-width: 5px 0px 0px;
}

#u59074
{
	z-index: 861;
	width: 259px;
	min-height: 40px;
	background-color: #007DFF;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: '__Proxima Nova_5';
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#s-serebrom
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 57px;
}

#u31695-4
{
	z-index: 62;
	min-height: 39px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 83.34%;
	left: 8.34%;
}

#u31802-4
{
	z-index: 259;
	min-height: 84px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#pu57592
{
	margin-top: 16px;
	width: 100%;
}

#u57592
{
	z-index: 14;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 9px;
	padding-bottom: 102px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 29.07%;
	left: 4.17%;
}

#u31784
{
	z-index: 196;
	height: 177px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
	background: transparent url("../images/jans.png") no-repeat center center;
	background-size: contain;
}

#u31793-4
{
	z-index: 211;
	min-height: 78px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
}

#u31816-23
{
	z-index: 352;
	min-height: 178px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#u31812-4
{
	z-index: 309;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 6px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
}

#pu32396-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 495px;
	margin-left: 49px;
}

#u32396-4
{
	z-index: 559;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	border-width: 0px 0px 3px;
}

#u32396-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u32396-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u36504
{
	z-index: 783;
	width: 261px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u57589
{
	z-index: 17;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 9px;
	padding-bottom: 102px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 29.07%;
	left: 35.42%;
}

#u31786
{
	z-index: 199;
	height: 177px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
	background: transparent url("../images/jans.png") no-repeat center center;
	background-size: contain;
}

#u31795-4
{
	z-index: 223;
	min-height: 78px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#u31818-23
{
	z-index: 422;
	min-height: 178px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#u31807-4
{
	z-index: 285;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 6px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#pu32390-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 496px;
	margin-left: 349px;
}

#u32390-4
{
	z-index: 575;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	border-width: 0px 0px 3px;
}

#u32390-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u32390-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u36499
{
	z-index: 784;
	width: 260px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 6px;
	position: relative;
}

#u57598
{
	z-index: 19;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 9px;
	padding-bottom: 102px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 29.07%;
	left: 66.67%;
}

#u31791
{
	z-index: 205;
	height: 177px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
	background: transparent url("../images/jans.png") no-repeat center center;
	background-size: contain;
}

#u31800-4
{
	z-index: 247;
	min-height: 78px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#u31823-23
{
	z-index: 505;
	min-height: 178px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 94.27%;
	margin-left: 2.16%;
}

#u31814-4
{
	z-index: 321;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 6px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#pu32393-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 495px;
	margin-left: 650px;
}

#u32393-4
{
	z-index: 595;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	border-width: 0px 0px 3px;
}

#u32393-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u32393-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#pu36494
{
	width: 0.01px;
	margin-top: 5px;
}

#u36494
{
	z-index: 791;
	width: 261px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u57584
{
	z-index: 792;
	width: 261px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u38787
{
	z-index: 810;
	height: 30px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	width: 3.55%;
	margin-left: 48.23%;
}

#u38874-4
{
	z-index: 66;
	min-height: 39px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u38877-4
{
	z-index: 814;
	min-height: 81px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#pu57575
{
	margin-top: 8px;
	width: 100%;
}

#u57575
{
	z-index: 13;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 112px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 29.07%;
	left: 4.17%;
}

#u38790
{
	z-index: 197;
	height: 197px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
	background: transparent url("../images/nalivnoy_akril_plastall_super-u38790-fr.png") no-repeat center center;
	background-size: contain;
}

#u38802-4
{
	z-index: 215;
	min-height: 61px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
}

#u38814-24
{
	z-index: 375;
	min-height: 178px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#u38820-4
{
	z-index: 313;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 6px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
}

#pu38832-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 493px;
	margin-left: 48px;
}

#u38832-4
{
	z-index: 563;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	border-width: 0px 0px 3px;
}

#u38832-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u38832-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u58875
{
	z-index: 787;
	width: 261px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u57578
{
	z-index: 16;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 112px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 29.07%;
	left: 35.42%;
}

#u38793
{
	z-index: 200;
	height: 197px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
	background: transparent url("../images/ecolor-u38793-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u38805-4
{
	z-index: 227;
	min-height: 61px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#u38799-24
{
	z-index: 445;
	min-height: 178px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#u38817-4
{
	z-index: 289;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 6px;
	position: relative;
	width: 94.27%;
	margin-left: 2.51%;
}

#pu38829-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 494px;
	margin-left: 348px;
}

#u38829-4
{
	z-index: 579;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	border-width: 0px 0px 3px;
}

#u38829-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u38829-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u58880
{
	z-index: 788;
	width: 261px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 7px;
	position: relative;
}

#u57581
{
	z-index: 21;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 112px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 29.07%;
	left: 66.57%;
}

#u38796
{
	z-index: 206;
	height: 197px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
	background: transparent url("../images/akril_standart-u38796-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u38811-4
{
	z-index: 251;
	min-height: 61px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
}

#u38808-24
{
	z-index: 528;
	min-height: 178px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
}

#u38823-4
{
	z-index: 325;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 6px;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
}

#pu38826-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 493px;
	margin-left: 649px;
}

#u38826-4
{
	z-index: 599;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	border-width: 0px 0px 3px;
}

#u38826-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u38826-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u58885
{
	z-index: 789;
	width: 261px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u36522
{
	z-index: 809;
	height: 30px;
	position: relative;
	width: 3.55%;
	margin-left: 48.23%;
}

#pecoemalka
{
	margin-top: 15px;
	width: 100%;
}

#ecoemalka
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 77px;
}

#u57610
{
	z-index: 10;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 9px;
	padding-bottom: 98px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 29.07%;
	left: 11.46%;
}

#u31696-4
{
	z-index: 70;
	min-height: 45px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 94.27%;
	margin-left: 3.23%;
}

#u31803-8
{
	z-index: 263;
	min-height: 116px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 94.27%;
	margin-left: 3.23%;
}

#u31787
{
	z-index: 201;
	height: 171px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 94.27%;
	margin-left: 3.23%;
	background: transparent url("../images/ee-ka-u31787-fr.png") no-repeat center center;
	background-size: contain;
}

#u31796-4
{
	z-index: 231;
	min-height: 78px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 94.27%;
	margin-left: 3.59%;
}

#u31808-4
{
	z-index: 293;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 4px;
	position: relative;
	width: 94.27%;
	margin-left: 3.23%;
}

#pu32399-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 454px;
	margin-left: 120px;
}

#u32399-4
{
	z-index: 567;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	border-width: 0px 0px 3px;
}

#u32399-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u32399-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u36509
{
	z-index: 785;
	width: 261px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u57613
{
	z-index: 11;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 29.07%;
	left: 57.3%;
}

#u57613_position_content
{
	padding-top: 9px;
	padding-bottom: 98px;
	width: 100%;
}

#u31697-4
{
	z-index: 74;
	min-height: 38px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100.36%;
	left: 0.36%;
}

#u31804-6
{
	z-index: 271;
	min-height: 107px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 94.27%;
	margin-left: 2.87%;
}

#u31788
{
	z-index: 202;
	height: 171px;
	margin-top: 12px;
	position: relative;
	width: 94.27%;
	margin-left: 3.23%;
	background: transparent url("../images/shja2.png") no-repeat center center;
	background-size: contain;
}

#u31797-4
{
	z-index: 235;
	min-height: 78px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 94.27%;
	margin-left: 3.59%;
}

#u31809-4
{
	z-index: 297;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 4px;
	position: relative;
	width: 94.27%;
	margin-left: 3.23%;
}

#pu32402-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 454px;
	margin-left: 560px;
}

#u32402-4
{
	z-index: 583;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	border-width: 0px 0px 3px;
}

#u32402-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u32402-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u36514
{
	z-index: 786;
	width: 261px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u36525
{
	z-index: 811;
	height: 30px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	width: 3.55%;
	margin-left: 27.61%;
}

#ppu55063,#pu57616
{
	margin-top: -5px;
	width: 100%;
}

#u57616
{
	z-index: 12;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(181,181,181,0.5),0px 0px 8px rgba(181,181,181,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: transparent;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	width: 30.63%;
	left: 34.59%;
}

#u57616_position_content
{
	padding-top: 4px;
	padding-bottom: 95px;
	width: 100%;
}

#u31698-4
{
	z-index: 78;
	min-height: 63px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 98.64%;
	margin-left: 1.37%;
}

#u31805-4
{
	z-index: 277;
	min-height: 64px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 94.9%;
	margin-left: 1.71%;
}

#u31789
{
	z-index: 203;
	height: 165px;
	position: relative;
	width: 89.46%;
	margin-left: 4.77%;
	background: transparent url("../images/artek-u31789-fr.png") no-repeat center center;
	background-size: contain;
}

#u31798-4
{
	z-index: 239;
	min-height: 66px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 89.46%;
	margin-left: 5.11%;
}

#u31821-13
{
	z-index: 469;
	min-height: 151px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	position: relative;
	width: 89.46%;
	margin-left: 5.11%;
}

#u31815-4,#u31815-6,#u31815-8,#u31815-10,#u31815-12,#u31815-14,#u31815-16,#u31815-18,#u31815-21,#u31817-4,#u31817-6,#u31817-8,#u31817-10,#u31817-12,#u31817-14,#u31817-16,#u31817-18,#u31817-21,#u31822-4,#u31822-6,#u31822-8,#u31822-10,#u31822-12,#u31822-14,#u31822-16,#u31822-18,#u31822-21,#u31816-4,#u31816-6,#u31816-8,#u31816-10,#u31816-12,#u31816-14,#u31816-16,#u31816-18,#u31816-21,#u31818-4,#u31818-6,#u31818-8,#u31818-10,#u31818-12,#u31818-14,#u31818-16,#u31818-18,#u31818-21,#u31823-4,#u31823-6,#u31823-8,#u31823-10,#u31823-12,#u31823-14,#u31823-16,#u31823-18,#u31823-21,#u38814-4,#u38814-6,#u38814-8,#u38814-10,#u38814-12,#u38814-14,#u38814-16,#u38814-18,#u38814-19,#u38814-22,#u38799-4,#u38799-6,#u38799-8,#u38799-10,#u38799-12,#u38799-14,#u38799-16,#u38799-18,#u38799-19,#u38799-22,#u38808-4,#u38808-6,#u38808-8,#u38808-10,#u38808-12,#u38808-14,#u38808-16,#u38808-18,#u38808-19,#u38808-22,#u31821-4,#u31821-6,#u31821-8,#u31821-9,#u31821-11
{
	font-weight: 400;
}

#u31815-2,#u31815-20,#u31817-2,#u31817-20,#u31822-2,#u31822-20,#u31816-2,#u31816-20,#u31818-2,#u31818-20,#u31823-2,#u31823-20,#u38814-2,#u38814-21,#u38799-2,#u38799-21,#u38808-2,#u38808-21,#u31821-2,#u31821-10
{
	font-weight: 700;
}

#u31810-4
{
	z-index: 301;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 89.46%;
	margin-left: 5.11%;
}

#pu32408-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 544px;
	margin-left: 349px;
}

#u32408-4
{
	z-index: 587;
	width: 261px;
	min-height: 38px;
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #0057FA;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 0px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	border-width: 0px 0px 3px;
}

#u32408-4:hover
{
	background: #007DFF url("../images/u32101-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
	background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u32408-4:active
{
	background: #007DFF url("../images/u32101-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#007DFF),color-stop(100%, #007DFF));
	background: -webkit-linear-gradient(top,#007DFF ,#007DFF 100%);
	background: linear-gradient(to bottom,#007DFF ,#007DFF 100%);
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 261px;
	margin: -2px 0px 2px;
	border-width: 5px 0px 0px;
}

#u32101-2,#u32384-2,#u32387-2,#u32396-2,#u32390-2,#u32393-2,#u38832-2,#u38829-2,#u38826-2,#u32399-2,#u32402-2,#u32408-2
{
	padding-top: 20px;
}

#u38854
{
	z-index: 790;
	width: 261px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u36528
{
	z-index: 812;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 629px;
	width: 3.55%;
	left: 48.23%;
}

#u32104-4
{
	z-index: 603;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 83.34%;
	margin-left: 8.65%;
}

#pu32125-4
{
	margin-top: 12px;
	width: 100%;
}

#u32125-4
{
	z-index: 669;
	min-height: 37px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.92%;
}

#u32127-4
{
	z-index: 677;
	min-height: 37px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 64.69%;
	left: 16.98%;
}

#u32129-4
{
	z-index: 685;
	min-height: 37px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32110-4
{
	z-index: 607;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 64.69%;
	left: 16.98%;
}

#u32146
{
	z-index: 766;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.92%;
	background: transparent url("../images/armk-2.jpg") no-repeat center center;
	background-size: cover;
}

#u32597
{
	z-index: 793;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 412px;
}

#u32131-7
{
	z-index: 693;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32113-4
{
	z-index: 615;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 64.69%;
	left: 16.98%;
}

#u32149
{
	z-index: 768;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.92%;
	background: transparent url("../images/sktr-2.jpg") no-repeat center center;
	background-size: cover;
}

#u36546
{
	z-index: 794;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 412px;
}

#u32134-7
{
	z-index: 704;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32116-4
{
	z-index: 626;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 64.69%;
	left: 16.98%;
}

#u32152
{
	z-index: 770;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.92%;
	background: transparent url("../images/polirk-2.jpg") no-repeat center center;
	background-size: cover;
}

#u36551
{
	z-index: 795;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 412px;
}

#u32137-7
{
	z-index: 715;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32120-5
{
	z-index: 642;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 64.69%;
	left: 16.98%;
}

#u32120-2
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u31701-2,#u31701-4,#u31702-2,#u31702-4,#u31703-2,#u31703-4,#u32120-3
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u32156
{
	z-index: 774;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.92%;
	background: transparent url("../images/remkomchs.jpg") no-repeat center center;
	background-size: cover;
}

#u36531
{
	z-index: 796;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 412px;
}

#u32141-8
{
	z-index: 738;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u36556
{
	z-index: 813;
	height: 30px;
	position: relative;
	width: 3.55%;
	margin-left: 48.23%;
}

#u32161-4
{
	z-index: 779;
	min-height: 39px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#pu32126-4
{
	margin-top: 9px;
	width: 100%;
}

#u32126-4
{
	z-index: 673;
	min-height: 37px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.5%;
}

#u32128-4
{
	z-index: 681;
	min-height: 37px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 65%;
	left: 16.57%;
}

#u32130-4
{
	z-index: 689;
	min-height: 37px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32111-4
{
	z-index: 611;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 65%;
	left: 16.57%;
}

#u32147
{
	z-index: 767;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/reshetka.png") no-repeat center center;
	background-size: cover;
}

#u36559
{
	z-index: 797;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 412px;
}

#u32132-4
{
	z-index: 700;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32114-7
{
	z-index: 619;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 65%;
	left: 16.57%;
}

#u32150
{
	z-index: 769;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/kolerjal.png") no-repeat center center;
	background-size: contain;
}

#u36564
{
	z-index: 798;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 412px;
}

#u32135-4
{
	z-index: 711;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32117-4
{
	z-index: 630;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 65%;
	left: 16.57%;
}

#u32153
{
	z-index: 771;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/ksilol.png") no-repeat center center;
	background-size: contain;
}

#u36569
{
	z-index: 799;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 412px;
}

#u32138-4
{
	z-index: 722;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32121-4
{
	z-index: 647;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 65%;
	left: 16.57%;
}

#u32157
{
	z-index: 775;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/c6255.jpg") no-repeat center center;
	background-size: cover;
}

#u36574
{
	z-index: 800;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 412px;
}

#u32142-8
{
	z-index: 746;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32112-7
{
	z-index: 29;
	min-height: 142px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 65%;
	left: 16.57%;
}

#u32148
{
	z-index: 52;
	height: 142px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/e255.jpg") no-repeat center center;
	background-size: cover;
}

#u38864
{
	z-index: 803;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 412px;
}

#u32133-8
{
	z-index: 36;
	min-height: 142px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32115-7
{
	z-index: 22;
	min-height: 138px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 65%;
	left: 16.57%;
}

#u32151
{
	z-index: 53;
	height: 138px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/em701.jpg") no-repeat center center;
	background-size: cover;
}

#u38869
{
	z-index: 802;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 412px;
}

#u32136-8
{
	z-index: 44;
	min-height: 138px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32118-4
{
	z-index: 634;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 65%;
	left: 16.57%;
}

#u32154
{
	z-index: 772;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/obezhirivatel.jpg") no-repeat center center;
	background-size: contain;
}

#u36579
{
	z-index: 801;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 412px;
}

#u32139-4
{
	z-index: 726;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32122-4
{
	z-index: 651;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 65%;
	left: 16.57%;
}

#u32158
{
	z-index: 776;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/aceton.png") no-repeat center center;
	background-size: contain;
}

#u36584
{
	z-index: 804;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 412px;
}

#u32143-4
{
	z-index: 754;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32119-4
{
	z-index: 638;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 65.11%;
	left: 16.57%;
}

#u32155
{
	z-index: 773;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/ecovanich.jpg") no-repeat center center;
	background-size: contain;
}

#u36589
{
	z-index: 805;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 412px;
}

#u32140-8
{
	z-index: 730;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#pu32120-5,#pu32117-4,#pu32123-7
{
	margin-top: 1px;
	width: 100%;
}

#u32123-7
{
	z-index: 655;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 65%;
	left: 16.57%;
}

#u32159
{
	z-index: 777;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/038708.jpg") no-repeat center center;
	background-size: contain;
}

#u36594
{
	z-index: 806;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 412px;
}

#u32144-4
{
	z-index: 758;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u32124-7
{
	z-index: 662;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 65%;
	left: 16.57%;
}

#u32160
{
	z-index: 778;
	height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 13.96%;
	left: 2.5%;
	background: transparent url("../images/038524.jpg") no-repeat center center;
	background-size: contain;
}

#u36599
{
	z-index: 807;
	width: 135px;
	min-height: 46px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 412px;
}

#u32145-4
{
	z-index: 762;
	min-height: 102px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 13.96%;
	left: 81.78%;
}

#u58899
{
	z-index: 858;
	height: 15px;
	position: relative;
	width: 3.23%;
	margin-left: 48.44%;
}

#u58893-15
{
	z-index: 842;
	min-height: 163px;
	background-color: transparent;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u58893-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u58893-4,#u58893-11
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u31803-3,#u58893-3,#u58893-10
{
	text-decoration: underline;
}

#u58893-6,#u58893-8,#u58893-9,#u58893-13
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#ptop,#ps-serebrom,#pu32110-4,#pu32113-4,#pu32116-4,#pu32111-4,#pu32114-7,#pu32121-4,#pu32112-7,#pu32115-7,#pu32118-4,#pu32122-4,#pu32119-4,#pu32124-7,#ppu58050
{
	width: 100%;
}

#pu58050
{
	margin-right: -10000px;
	margin-top: 30px;
	width: 23.75%;
	margin-left: 4.8%;
}

#u58050
{
	z-index: 819;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58056-4
{
	z-index: 836;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58052
{
	z-index: 832;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	width: 6.25%;
	left: 35.73%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#pu58896
{
	margin-right: -10000px;
	width: 14.59%;
	margin-left: 42.19%;
}

#u58896
{
	z-index: 857;
	height: 39px;
	position: relative;
	width: 22.15%;
	margin-left: 42.86%;
}

.ie #u31781,.ie #u55063,.ie #u36519,.ie #u38787,.ie #u36522,.ie #u36525,.ie #u36528,.ie #u36556,.ie #u58899,.ie #u58896
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu58053
{
	width: 93.58%;
	margin-left: 6.43%;
}

#u58053
{
	z-index: 833;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58054
{
	z-index: 834;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58057
{
	z-index: 840;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
	width: 100%;
}

#u58055
{
	z-index: 835;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58051-12
{
	z-index: 820;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	width: 23.44%;
	left: 67.92%;
}

#u58058
{
	z-index: 841;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	width: 4.8%;
	left: 92.61%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58058:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 58px -10000px 0px 0%;
	background-size: cover;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face
{
	font-family: '__Proxima Nova_5';
	src: url('../fonts/proximanova-regular.eot');
	src: local('☺'), url('../fonts/proximanova-regular.woff') format('woff'), url('../fonts/proximanova-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

