/*

*/

.version.plastall_super /* version checker */
{
	color: #0000EE;
	background-color: #70F1B3;
}

#page
{
	z-index: 1;
	min-height: 1927.9279080291221px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62.072091970877864px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u37766
{
	z-index: 10;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.17%;
}

#u55879
{
	z-index: 293;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	left: 3.23%;
}

#ppu55880
{
	margin-top: -5px;
	width: 100%;
}

#pu55880
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u55880
{
	z-index: 294;
	height: 38px;
	position: relative;
	width: 3.44%;
}

#u53656
{
	z-index: 181;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u53656-bw
{
	z-index: 181;
	margin-top: 46px;
	height: 58px;
}

#menuu53664
{
	z-index: 182;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	margin-left: 50%;
	left: -478px;
}

#u53707
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u53710
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53710:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u53712-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53710:hover #u53712-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u53710.MuseMenuActive #u53712-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u53710:hover #u53712-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53693
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u53694
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53694:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u53697-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53694:hover #u53697-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u53694.MuseMenuActive #u53697-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u53694:hover #u53697-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53735
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u53736
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53736:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u53737-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53736:hover #u53737-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u53736.MuseMenuActive #u53737-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u53736:hover #u53737-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53665
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u53666
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53666:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u53667-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53666:hover #u53667-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u53666.MuseMenuActive #u53667-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u53666:hover #u53667-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53700
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u53703
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53703:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u53704-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53703:hover #u53704-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u53703.MuseMenuActive #u53704-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u53703:hover #u53704-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53721
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u53724
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53724:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u53725-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53724:hover #u53725-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u53724.MuseMenuActive #u53725-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u53724:hover #u53725-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53672
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u53673
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53673:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u53676-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53673:hover #u53676-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u53673.MuseMenuActive #u53676-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u53673:hover #u53676-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53728
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u53729
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u53729:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u53732-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u53729:hover #u53732-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u53729.MuseMenuActive #u53732-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u53729:hover #u53732-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53673.MuseMenuActive #u53676-4 p,#u53729.MuseMenuActive #u53732-6 p
{
	font-size: 12px;
}

#u53714
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u53715
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53715:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u53718-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53715:hover #u53718-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u53715.MuseMenuActive #u53718-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u53715:hover #u53718-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53686
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u53687
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53687:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u53690-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53687:hover #u53690-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u53687:hover #u53690-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53679
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u53682
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53682:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u53683-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53682:hover #u53683-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u53687.MuseMenuActive #u53690-4,#u53682.MuseMenuActive #u53683-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u53682:hover #u53683-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53710.MuseMenuActive #u53712-4 p,#u53694.MuseMenuActive #u53697-4 p,#u53736.MuseMenuActive #u53737-4 p,#u53666.MuseMenuActive #u53667-4 p,#u53703.MuseMenuActive #u53704-4 p,#u53724.MuseMenuActive #u53725-4 p,#u53715.MuseMenuActive #u53718-4 p,#u53687.MuseMenuActive #u53690-4 p,#u53682.MuseMenuActive #u53683-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u55869
{
	z-index: 251;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pppu55876
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
	width: 87.5%;
	margin-left: 5.63%;
}

#ppu55876
{
	width: 57.15%;
	margin-left: 25.36%;
}

#pu55876
{
	margin-right: -10000px;
	width: 7.92%;
}

#u55876
{
	z-index: 290;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u55877
{
	z-index: 291;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu55873-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.38%;
}

#u55873-4
{
	z-index: 276;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55875-4
{
	z-index: 286;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u55874-6
{
	z-index: 280;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u55878
{
	z-index: 292;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.13%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu55870-8
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u55870-8
{
	z-index: 252;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55871-8
{
	z-index: 260;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u55872-8
{
	z-index: 268;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55870-2,#u55870-4,#u55871-2,#u55871-4,#u55872-2,#u55872-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u37768-4
{
	z-index: 11;
	min-height: 54px;
	background-color: transparent;
	text-decoration: none;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 73px;
	position: relative;
	width: 100%;
}

#pu37769
{
	margin-top: 20px;
	width: 100%;
}

#u37769
{
	z-index: 15;
	height: 292px;
	position: relative;
	margin-right: -10000px;
	width: 38.1%;
	background: transparent url("../images/nalivnoy_akril_plastall_super.png") no-repeat center center;
	background-size: contain;
}

#pu37770-11
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 55.12%;
	margin-left: 44.89%;
}

#u37770-11
{
	z-index: 16;
	min-height: 207px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u37770-2,#u37770-4,#u37770-6,#u37770-8
{
	text-align: justify;
}

#u58027-4
{
	z-index: 302;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 43.63%;
}

#u58026-4
{
	z-index: 298;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
	width: 43.63%;
}

#pu59001
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 632px;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	margin-left: 134px;
	position: relative;
}

#u58024
{
	z-index: 296;
	width: 262px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 407px;
	position: relative;
}

#u58023
{
	z-index: 295;
	width: 262px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#pu58028-4
{
	margin-top: 8px;
	width: 100%;
}

#u58028-4
{
	z-index: 306;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 21.05%;
	left: 44.9%;
}

#u58025
{
	z-index: 297;
	width: 262px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 632px;
}

#u37771-11
{
	z-index: 27;
	min-height: 72px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 39px;
	position: relative;
	width: 87.5%;
	margin-left: 6.25%;
}

#u37771,#u37771-4,#u37771-7
{
	font-weight: 700;
}

#u37772-4
{
	z-index: 38;
	min-height: 41px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 7px;
	position: relative;
	width: 87.5%;
	margin-left: 6.25%;
}

#pu37783-4
{
	margin-top: 17px;
	width: 100%;
}

#u37783-4
{
	z-index: 46;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 38.86%;
	left: 9.07%;
}

#u37782-4
{
	z-index: 42;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 38.86%;
	left: 50.73%;
}

#ppu37785
{
	margin-top: 5px;
	width: 100%;
}

#pu37785
{
	margin-right: -10000px;
	margin-top: 13px;
	width: 2.71%;
	margin-left: 9.07%;
}

#u37785
{
	z-index: 51;
	height: 26px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u37786
{
	z-index: 52;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u37787
{
	z-index: 53;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u37788
{
	z-index: 54;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u37789
{
	z-index: 55;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u37790
{
	z-index: 56;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u37791
{
	z-index: 57;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u37792
{
	z-index: 58;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u37793
{
	z-index: 59;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#pu37794-4
{
	margin-right: -10000px;
	margin-top: 13px;
	width: 35.63%;
	margin-left: 12.3%;
}

#u37794-4
{
	z-index: 60;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u37795-4
{
	z-index: 64;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u37796-4
{
	z-index: 68;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u37797-4
{
	z-index: 72;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u37798-4
{
	z-index: 76;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u37799-4
{
	z-index: 80;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u37800-4
{
	z-index: 84;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u37801-4
{
	z-index: 88;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u37802-4
{
	z-index: 92;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u37784
{
	z-index: 50;
	height: 334px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 57.71%;
	background: transparent url("../images/sert-lux2.jpg") no-repeat center center;
	background-size: cover;
}

#u37850
{
	z-index: 179;
	height: 30px;
	position: relative;
	width: 4.17%;
	margin-left: 47.3%;
}

#u37834-4
{
	z-index: 140;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 83.34%;
	margin-left: 7.71%;
}

#pu37835
{
	margin-top: 24px;
	width: 100%;
}

#u37835
{
	z-index: 144;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 4.38%;
}

#u37838
{
	z-index: 147;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/kolerjal2.png") no-repeat center center;
	background-size: contain;
}

#u37841-4
{
	z-index: 150;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u37844-4
{
	z-index: 164;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u37847
{
	z-index: 176;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 55px;
}

#u37836
{
	z-index: 145;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 36.15%;
}

#u37839
{
	z-index: 148;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/aceton2.png") no-repeat center center;
	background-size: contain;
}

#u37842-4
{
	z-index: 154;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u37845-4
{
	z-index: 168;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u37848
{
	z-index: 177;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 360px;
}

#u37837
{
	z-index: 146;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 51.45000000000027px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 67.61%;
}

#u37840
{
	z-index: 149;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/0387082.jpg") no-repeat center center;
	background-size: contain;
}

#u37843-6
{
	z-index: 158;
	min-height: 90px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u37846-4
{
	z-index: 172;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u37849
{
	z-index: 178;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 662px;
}

#u37851
{
	z-index: 180;
	height: 30px;
	margin-top: 2px;
	position: relative;
	width: 4.17%;
	margin-left: 71.67%;
}

#u37806-4
{
	z-index: 96;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 83.34%;
	margin-left: 7.71%;
}

#pu37810
{
	margin-top: 15px;
	width: 100%;
}

#u37810
{
	z-index: 100;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 10px 0px 0px 0px ;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 15.94%;
}

#u37812
{
	z-index: 102;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 32.61%;
}

#u37814
{
	z-index: 104;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 49.28%;
}

#u37816
{
	z-index: 106;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 10px 0px 0px ;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 65.94%;
}

#u37818-4
{
	z-index: 108;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 16.98%;
}

#u37820-4
{
	z-index: 116;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 33.65%;
}

#u37822-4
{
	z-index: 124;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 66.98%;
}

#u37824-4
{
	z-index: 132;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 50.32%;
}

#u37811
{
	z-index: 101;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 15.94%;
}

#u37819-4
{
	z-index: 112;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u37813
{
	z-index: 103;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 32.61%;
}

#u37821-4
{
	z-index: 120;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u37815
{
	z-index: 105;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 49.28%;
}

#u37825-4
{
	z-index: 136;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u37817
{
	z-index: 107;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 0px 10px 0px ;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 65.94%;
}

#u37823-4
{
	z-index: 128;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u58958
{
	z-index: 349;
	height: 15px;
	position: relative;
	width: 3.23%;
	margin-left: 48.44%;
}

#u58956-15
{
	z-index: 333;
	min-height: 163px;
	background-color: transparent;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u58956-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u58956-4,#u58956-11
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u58956-3,#u58956-10
{
	text-decoration: underline;
}

#u58956-6,#u58956-8,#u58956-9,#u58956-13
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#ptop,#pu37811,#ppu58285
{
	width: 100%;
}

#pu58285
{
	margin-right: -10000px;
	margin-top: 29px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58285
{
	z-index: 310;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58291-4
{
	z-index: 327;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58287
{
	z-index: 323;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#pu58957
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 14.59%;
	margin-left: 42.5%;
}

#u58957
{
	z-index: 348;
	height: 39px;
	position: relative;
	width: 22.15%;
	margin-left: 40.72%;
}

.ie #u55879,.ie #u55880,.ie #u37850,.ie #u37851,.ie #u58958,.ie #u58957
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu58288
{
	margin-top: -3px;
	width: 93.58%;
	margin-left: 4.29%;
}

#u58288
{
	z-index: 324;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58289
{
	z-index: 325;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58292
{
	z-index: 331;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u58290
{
	z-index: 326;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58286-12
{
	z-index: 311;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	width: 23.44%;
	left: 68.23%;
}

#u58293
{
	z-index: 332;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58293:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 58px -10000px 0px 0%;
	background-size: cover;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

