/*

*/

.version.shungit /* version checker */
{
	color: #00001B;
	background-color: #C7EA5B;
}

#page
{
	z-index: 1;
	min-height: 1701px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u55711
{
	z-index: 293;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#ppu55712
{
	margin-top: -5px;
	width: 100%;
}

#pu55712
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u55712
{
	z-index: 294;
	height: 38px;
	position: relative;
	width: 3.44%;
}

#u53026
{
	z-index: 181;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u53026-bw
{
	z-index: 181;
	margin-top: 51px;
	height: 58px;
}

#menuu53034
{
	z-index: 182;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	margin-left: 50%;
	left: -478px;
}

#u53077
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u53080
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53080:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u53082-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53080:hover #u53082-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u53080.MuseMenuActive #u53082-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u53080:hover #u53082-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53063
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u53064
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53064:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u53067-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53064:hover #u53067-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u53064.MuseMenuActive #u53067-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u53064:hover #u53067-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53105
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u53106
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53106:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u53107-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53106:hover #u53107-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u53106.MuseMenuActive #u53107-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u53106:hover #u53107-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53035
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u53036
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53036:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u53037-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53036:hover #u53037-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u53036.MuseMenuActive #u53037-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u53036:hover #u53037-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53070
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u53073
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53073:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u53074-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53073:hover #u53074-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u53073.MuseMenuActive #u53074-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u53073:hover #u53074-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53091
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u53094
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53094:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u53095-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53094:hover #u53095-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u53094.MuseMenuActive #u53095-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u53094:hover #u53095-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53042
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u53043
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53043:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u53046-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53043:hover #u53046-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u53043.MuseMenuActive #u53046-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u53043:hover #u53046-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53098
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u53099
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u53099:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u53102-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u53099:hover #u53102-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u53099.MuseMenuActive #u53102-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u53099:hover #u53102-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53043.MuseMenuActive #u53046-4 p,#u53099.MuseMenuActive #u53102-6 p
{
	font-size: 12px;
}

#u53084
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u53085
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53085:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u53088-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53085:hover #u53088-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u53085.MuseMenuActive #u53088-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u53085:hover #u53088-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53056
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u53057
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53057:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u53060-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53057:hover #u53060-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u53057:hover #u53060-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53049
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u53052
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u53052:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u53053-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u53052:hover #u53053-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u53057.MuseMenuActive #u53060-4,#u53052.MuseMenuActive #u53053-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u53052:hover #u53053-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u53080.MuseMenuActive #u53082-4 p,#u53064.MuseMenuActive #u53067-4 p,#u53106.MuseMenuActive #u53107-4 p,#u53036.MuseMenuActive #u53037-4 p,#u53073.MuseMenuActive #u53074-4 p,#u53094.MuseMenuActive #u53095-4 p,#u53085.MuseMenuActive #u53088-4 p,#u53057.MuseMenuActive #u53060-4 p,#u53052.MuseMenuActive #u53053-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u55701
{
	z-index: 251;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pppu55708
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
	width: 87.5%;
	margin-left: 6.15%;
}

#ppu55708
{
	width: 57.15%;
	margin-left: 24.77%;
}

#pu55708
{
	margin-right: -10000px;
	width: 7.92%;
}

#u55708
{
	z-index: 290;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u55709
{
	z-index: 291;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu55705-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.17%;
}

#u55705-4
{
	z-index: 276;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55707-4
{
	z-index: 286;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u55706-6
{
	z-index: 280;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u55710
{
	z-index: 292;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.13%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu55702-8
{
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u55702-8
{
	z-index: 252;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55703-8
{
	z-index: 260;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u55704-8
{
	z-index: 268;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55702-2,#u55702-4,#u55703-2,#u55703-4,#u55704-2,#u55704-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u35438-4
{
	z-index: 10;
	min-height: 54px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 92px;
	position: relative;
	width: 100%;
}

#pu35439
{
	margin-top: 20px;
	width: 100%;
}

#u35439
{
	z-index: 14;
	height: 292px;
	position: relative;
	margin-right: -10000px;
	width: 38.1%;
	background: transparent url("../images/shja2.png") no-repeat center center;
	background-size: contain;
}

#u35440-8
{
	z-index: 15;
	min-height: 298px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 55.12%;
	left: 44.89%;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 766px;
}

#pu35477-4
{
	margin-top: 7px;
	width: 100%;
}

#u35477-4
{
	z-index: 93;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 22.82%;
	left: 45.42%;
}

#u35473
{
	z-index: 88;
	width: 235px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 663px;
}

#u35441-11
{
	z-index: 23;
	min-height: 72px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
	width: 87.5%;
	margin-left: 6.25%;
}

#pu35665
{
	margin-top: 16px;
	width: 100%;
}

#u35665
{
	z-index: 137;
	height: 188px;
	position: relative;
	margin-right: -10000px;
	width: 29.48%;
	left: 3.13%;
	background: transparent url("../images/shja1.jpg") no-repeat center center;
	background-size: contain;
}

#u35676
{
	z-index: 138;
	height: 188px;
	position: relative;
	margin-right: -10000px;
	width: 29.48%;
	left: 35.32%;
	background: transparent url("../images/shja2.jpg") no-repeat center center;
	background-size: contain;
}

#u35679
{
	z-index: 139;
	height: 188px;
	position: relative;
	margin-right: -10000px;
	width: 29.48%;
	left: 67.4%;
	background: transparent url("../images/shja3.jpg") no-repeat center center;
	background-size: contain;
}

#pu35453-4
{
	margin-top: 21px;
	width: 100%;
}

#u35453-4
{
	z-index: 38;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 47.3%;
	left: 3.13%;
}

#u35452-4
{
	z-index: 34;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 38.86%;
	left: 58.03%;
}

#ppu35455
{
	margin-top: -2px;
	width: 100%;
}

#pu35455
{
	margin-right: -10000px;
	margin-top: 19px;
	width: 2.71%;
	margin-left: 3.13%;
}

#u35455
{
	z-index: 43;
	height: 26px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35456
{
	z-index: 44;
	height: 26px;
	margin-top: 18px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35457
{
	z-index: 45;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35458
{
	z-index: 46;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35459
{
	z-index: 47;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35460
{
	z-index: 48;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35461
{
	z-index: 49;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35462
{
	z-index: 50;
	height: 26px;
	margin-top: 7px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u35463
{
	z-index: 51;
	height: 26px;
	margin-top: 6px;
	position: relative;
	width: 100%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#pu35464-4
{
	margin-right: -10000px;
	margin-top: 19px;
	width: 51.78%;
	margin-left: 6.25%;
}

#u35464-4
{
	z-index: 52;
	min-height: 38px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 99.8%;
}

#u35465-4
{
	z-index: 56;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 99.8%;
}

#u35466-4
{
	z-index: 60;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 99.8%;
}

#u35467-4
{
	z-index: 64;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 99.8%;
}

#u35468-4
{
	z-index: 68;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 99.8%;
}

#u35469-4
{
	z-index: 72;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 99.8%;
}

#u35470-4
{
	z-index: 76;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 99.8%;
}

#u35471-4
{
	z-index: 80;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
	width: 99.8%;
}

#u35472-4
{
	z-index: 84;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 99.8%;
}

#u35454
{
	z-index: 42;
	height: 334px;
	position: relative;
	margin-right: -10000px;
	width: 25%;
	left: 64.9%;
	background: transparent url("../images/sert-lux2.jpg") no-repeat center center;
	background-size: cover;
}

#u36371
{
	z-index: 179;
	height: 30px;
	position: relative;
	width: 4.17%;
	margin-left: 47.92%;
}

#u36355-4
{
	z-index: 140;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#pu36356
{
	margin-top: 24px;
	width: 100%;
}

#u36356
{
	z-index: 144;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 5%;
}

#u36359
{
	z-index: 147;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/kolerjal2.png") no-repeat center center;
	background-size: contain;
}

#u36362-4
{
	z-index: 150;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36365-4
{
	z-index: 164;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36368
{
	z-index: 176;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 61px;
}

#u36357
{
	z-index: 145;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 36.78%;
}

#u36360
{
	z-index: 148;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/aceton2.png") no-repeat center center;
	background-size: contain;
}

#u36363-4
{
	z-index: 154;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36366-4
{
	z-index: 168;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36369
{
	z-index: 177;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 366px;
}

#u36358
{
	z-index: 146;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 51.450000000000045px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 68.23%;
}

#u36361
{
	z-index: 149;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/0387082.jpg") no-repeat center center;
	background-size: contain;
}

#u36364-6
{
	z-index: 158;
	min-height: 90px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36367-4
{
	z-index: 172;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u36370
{
	z-index: 178;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 307px;
	left: 668px;
}

#u36372
{
	z-index: 180;
	height: 30px;
	margin-top: 3px;
	position: relative;
	width: 4.17%;
	margin-left: 72.3%;
}

#u35476-4
{
	z-index: 89;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#pu35480
{
	margin-top: 14px;
	width: 100%;
}

#u35480
{
	z-index: 97;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 10px 0px 0px 0px ;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 16.57%;
}

#u35482
{
	z-index: 99;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 33.23%;
}

#u35484
{
	z-index: 101;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 49.9%;
}

#u35486
{
	z-index: 103;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 10px 0px 0px ;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 66.57%;
}

#u35488-4
{
	z-index: 105;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 17.61%;
}

#u35490-4
{
	z-index: 113;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 34.28%;
}

#u35492-4
{
	z-index: 121;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 67.61%;
}

#u35494-4
{
	z-index: 129;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 50.94%;
}

#ptop,#pu35481
{
	width: 100%;
}

#u35481
{
	z-index: 98;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 16.57%;
}

#u35489-4
{
	z-index: 109;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u35483
{
	z-index: 100;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 33.23%;
}

#u35491-4
{
	z-index: 117;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u35485
{
	z-index: 102;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 49.9%;
}

#u35495-4
{
	z-index: 133;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u35487
{
	z-index: 104;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 0px 10px 0px ;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 66.57%;
}

#u35493-4
{
	z-index: 125;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u58940
{
	z-index: 334;
	height: 15px;
	position: relative;
	width: 3.23%;
	margin-left: 48.44%;
}

#u58938-15
{
	z-index: 318;
	min-height: 163px;
	background-color: transparent;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u58938-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u58938-4,#u58938-11
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u58938-3,#u58938-10
{
	text-decoration: underline;
}

#u58938-6,#u58938-8,#u58938-9,#u58938-13
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u58939
{
	z-index: 333;
	height: 39px;
	position: relative;
	width: 3.23%;
	margin-left: 48.44%;
}

.ie #u55711,.ie #u55712,.ie #u36371,.ie #u36372,.ie #u58940,.ie #u58939
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#ppu58227
{
	margin-top: -6px;
	width: 100%;
}

#pu58227
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58227
{
	z-index: 295;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58233-4
{
	z-index: 312;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58229
{
	z-index: 308;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58230
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58230
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58230
{
	z-index: 309;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58231
{
	z-index: 310;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58234
{
	z-index: 316;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58232
{
	z-index: 311;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58228-12
{
	z-index: 296;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58235
{
	z-index: 317;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58235:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 28px -10000px 0px 0%;
	background-size: cover;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

