/*

*/

.version.stacril_ecolor /* version checker */
{
	color: #0000E5;
	background-color: #F36577;
}

#page
{
	z-index: 1;
	min-height: 1904px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u56047
{
	z-index: 301;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	width: 3.23%;
	left: 9.28%;
}

#ppu56048
{
	margin-top: -5px;
	width: 100%;
}

#pu56048
{
	margin-right: -10000px;
	margin-top: 11px;
	width: 100%;
}

#u56048
{
	z-index: 302;
	height: 38px;
	position: relative;
	width: 3.44%;
}

#u54286
{
	z-index: 189;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u54286-bw
{
	z-index: 189;
	margin-top: 54px;
	height: 58px;
}

#menuu54294
{
	z-index: 190;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	margin-left: 50%;
	left: -477px;
}

#u54337
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u54340
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u54340:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u54342-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u54340:hover #u54342-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u54340.MuseMenuActive #u54342-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u54340:hover #u54342-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54323
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u54324
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u54324:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u54327-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u54324:hover #u54327-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u54324.MuseMenuActive #u54327-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u54324:hover #u54327-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54365
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u54366
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u54366:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u54367-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u54366:hover #u54367-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u54366.MuseMenuActive #u54367-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u54366:hover #u54367-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54295
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u54296
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u54296:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u54297-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u54296:hover #u54297-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u54296.MuseMenuActive #u54297-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u54296:hover #u54297-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54330
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u54333
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u54333:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u54334-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u54333:hover #u54334-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u54333.MuseMenuActive #u54334-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u54333:hover #u54334-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54351
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u54354
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u54354:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u54355-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u54354:hover #u54355-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u54354.MuseMenuActive #u54355-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u54354:hover #u54355-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54302
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u54303
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u54303:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u54306-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u54303:hover #u54306-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u54303.MuseMenuActive #u54306-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u54303:hover #u54306-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54358
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u54359
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u54359:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u54362-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u54359:hover #u54362-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u54359.MuseMenuActive #u54362-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u54359:hover #u54362-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54303.MuseMenuActive #u54306-4 p,#u54359.MuseMenuActive #u54362-6 p
{
	font-size: 12px;
}

#u54344
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u54345
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u54345:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u54348-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u54345:hover #u54348-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u54345.MuseMenuActive #u54348-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u54345:hover #u54348-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54316
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u54317
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u54317:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u54320-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u54317:hover #u54320-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u54317:hover #u54320-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54309
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u54312
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u54312:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u54313-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u54312:hover #u54313-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u54317.MuseMenuActive #u54320-4,#u54312.MuseMenuActive #u54313-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u54312:hover #u54313-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u54340.MuseMenuActive #u54342-4 p,#u54324.MuseMenuActive #u54327-4 p,#u54366.MuseMenuActive #u54367-4 p,#u54296.MuseMenuActive #u54297-4 p,#u54333.MuseMenuActive #u54334-4 p,#u54354.MuseMenuActive #u54355-4 p,#u54345.MuseMenuActive #u54348-4 p,#u54317.MuseMenuActive #u54320-4 p,#u54312.MuseMenuActive #u54313-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u56037
{
	z-index: 259;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pppu56044
{
	margin-right: -10000px;
	margin-top: 2px;
	width: 87.5%;
	margin-left: 6.15%;
}

#ppu56044
{
	width: 57.15%;
	margin-left: 24.77%;
}

#pu56044
{
	margin-right: -10000px;
	width: 7.92%;
}

#u56044
{
	z-index: 298;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u56045
{
	z-index: 299;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu56041-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.17%;
}

#u56041-4
{
	z-index: 284;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56043-4
{
	z-index: 294;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u56042-6
{
	z-index: 288;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u56046
{
	z-index: 300;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.13%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu56038-8
{
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u56038-8
{
	z-index: 260;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56039-8
{
	z-index: 268;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u56040-8
{
	z-index: 276;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u56038-2,#u56038-4,#u56039-2,#u56039-4,#u56040-2,#u56040-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u38304-4
{
	z-index: 10;
	min-height: 54px;
	background-color: transparent;
	text-decoration: none;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 73px;
	position: relative;
	width: 100%;
}

#pu38305
{
	margin-top: 20px;
	width: 100%;
}

#u38305
{
	z-index: 14;
	height: 257px;
	position: relative;
	margin-right: -10000px;
	width: 38.1%;
	background: transparent url("../images/ecolor.jpg") no-repeat center center;
	background-size: contain;
}

#pu38306-10
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 55.12%;
	margin-left: 44.89%;
}

#u38306-10
{
	z-index: 15;
	min-height: 239px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u38343-4
{
	z-index: 96;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 43.63%;
}

#pu59001
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 638px;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	margin-left: 129px;
	position: relative;
}

#u38339
{
	z-index: 89;
	width: 263px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 437px;
	position: relative;
}

#u58047-3
{
	z-index: 303;
	min-height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	width: 0.63%;
	left: 106.98%;
}

#pu38344-4
{
	margin-top: 11px;
	width: 100%;
}

#u38344-4
{
	z-index: 100;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 21.05%;
	left: 45.42%;
}

#u38340
{
	z-index: 90;
	width: 263px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 638px;
}

#pu38345-4
{
	margin-top: 8px;
	width: 100%;
}

#u38345-4
{
	z-index: 104;
	min-height: 39px;
	background-color: transparent;
	line-height: 37px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	width: 21.05%;
	left: 45.42%;
}

#u38341
{
	z-index: 91;
	width: 263px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 638px;
}

#u38307-11
{
	z-index: 25;
	min-height: 72px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
	width: 87.5%;
	margin-left: 6.15%;
}

#u38307,#u38307-4,#u38307-7
{
	font-weight: 700;
}

#u38308-4
{
	z-index: 36;
	min-height: 41px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 7px;
	position: relative;
	width: 87.5%;
	margin-left: 6.15%;
}

#u38319-4
{
	z-index: 40;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 15px;
	position: relative;
	width: 38.86%;
	margin-left: 9.59%;
}

#pu38321
{
	margin-top: 18px;
	width: 100%;
}

#u38321
{
	z-index: 44;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	width: 2.71%;
	left: 9.59%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u38330-4
{
	z-index: 53;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 35.63%;
	left: 12.82%;
}

#u38322
{
	z-index: 45;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	width: 2.71%;
	left: 9.69%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u38331-4
{
	z-index: 57;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 35.63%;
	left: 12.82%;
}

#u38323
{
	z-index: 46;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	width: 2.71%;
	left: 9.59%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u38332-4
{
	z-index: 61;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 35.63%;
	left: 12.82%;
}

#u38324
{
	z-index: 47;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	width: 2.71%;
	left: 9.59%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u38333-4
{
	z-index: 65;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 35.63%;
	left: 12.82%;
}

#u38325
{
	z-index: 48;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	width: 2.71%;
	left: 9.69%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u38334-4
{
	z-index: 69;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 35.63%;
	left: 12.82%;
}

#u38326
{
	z-index: 49;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	width: 2.71%;
	left: 9.59%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u38335-4
{
	z-index: 73;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 35.63%;
	left: 12.82%;
}

#u38327
{
	z-index: 50;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	width: 2.71%;
	left: 9.59%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u38336-4
{
	z-index: 77;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 35.63%;
	left: 12.82%;
}

#pu38322,#pu38324,#pu38325,#pu38327,#pu38328
{
	margin-top: 6px;
	width: 100%;
}

#u38328
{
	z-index: 51;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	width: 2.71%;
	left: 9.69%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u38337-4
{
	z-index: 81;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 35.63%;
	left: 12.82%;
}

#pu38323,#pu38326,#pu38329
{
	margin-top: 7px;
	width: 100%;
}

#u38329
{
	z-index: 52;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	width: 2.71%;
	left: 9.69%;
	background: transparent url("../images/check.png") no-repeat center center;
	background-size: contain;
}

#u38338-4
{
	z-index: 85;
	min-height: 26px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 35.63%;
	left: 12.82%;
}

#u38386
{
	z-index: 187;
	height: 30px;
	margin-top: 36px;
	position: relative;
	width: 4.17%;
	margin-left: 47.82%;
}

#u38370-4
{
	z-index: 148;
	min-height: 39px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 83.34%;
	margin-left: 8.23%;
}

#pu38371
{
	margin-top: 24px;
	width: 100%;
}

#u38371
{
	z-index: 152;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 4.9%;
}

#u38374
{
	z-index: 155;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/kolerjal2.png") no-repeat center center;
	background-size: contain;
}

#u38377-4
{
	z-index: 158;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u38380-4
{
	z-index: 172;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u38383
{
	z-index: 184;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 60px;
}

#u38372
{
	z-index: 153;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 59px;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 36.67%;
}

#u38375
{
	z-index: 156;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/aceton2.png") no-repeat center center;
	background-size: contain;
}

#u38378-4
{
	z-index: 162;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u38381-4
{
	z-index: 176;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u38384
{
	z-index: 185;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 365px;
}

#u38373
{
	z-index: 154;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(127,127,127,0.65),0px 0px 8px rgba(127,127,127,0.65);
	border-style: solid;
	border-width: 1px;
	border-color: #BCBCBC;
	background-color: transparent;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 51.45000000000027px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 26.57%;
	left: 68.13%;
}

#u38376
{
	z-index: 157;
	height: 155px;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A69F;
	position: relative;
	width: 89.02%;
	margin-left: 4.71%;
	background: transparent url("../images/0387082.jpg") no-repeat center center;
	background-size: contain;
}

#u38379-6
{
	z-index: 166;
	min-height: 90px;
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u38382-4
{
	z-index: 180;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
	width: 89.42%;
	margin-left: 4.71%;
}

#u38385
{
	z-index: 186;
	width: 228px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 667px;
}

#u38387
{
	z-index: 188;
	height: 30px;
	margin-top: 2px;
	position: relative;
	width: 4.17%;
	margin-left: 72.19%;
}

#u38342-4
{
	z-index: 92;
	min-height: 42px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 83.34%;
	margin-left: 8.23%;
}

#pu38346
{
	margin-top: 15px;
	width: 100%;
}

#u38346
{
	z-index: 108;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 10px 0px 0px 0px ;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 16.46%;
}

#u38348
{
	z-index: 110;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 33.13%;
}

#u38350
{
	z-index: 112;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 49.8%;
}

#u38352
{
	z-index: 114;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 10px 0px 0px ;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 66.46%;
}

#u38354-4
{
	z-index: 116;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 17.5%;
}

#u38356-4
{
	z-index: 124;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 34.17%;
}

#u38358-4
{
	z-index: 132;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 67.5%;
}

#u38360-4
{
	z-index: 140;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 14.8%;
	left: 50.84%;
}

#ptop,#pu38347
{
	width: 100%;
}

#u38347
{
	z-index: 109;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 0px 0px 10px ;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 16.46%;
}

#u38355-4
{
	z-index: 120;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u38349
{
	z-index: 111;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 33.13%;
}

#u38357-4
{
	z-index: 128;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u38351
{
	z-index: 113;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 49.8%;
}

#u38361-4
{
	z-index: 144;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u38353
{
	z-index: 115;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 0px 0px 10px 0px ;
	padding-bottom: 31px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 16.46%;
	left: 66.46%;
}

#u38359-4
{
	z-index: 136;
	min-height: 37px;
	background-color: transparent;
	line-height: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 89.88%;
	left: 5.07%;
}

#u58985
{
	z-index: 345;
	height: 15px;
	position: relative;
	width: 3.23%;
	margin-left: 48.44%;
}

#u58983-15
{
	z-index: 329;
	min-height: 163px;
	background-color: transparent;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u58983-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u58983-4,#u58983-11
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u58983-3,#u58983-10
{
	text-decoration: underline;
}

#u58983-6,#u58983-8,#u58983-9,#u58983-13
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u58984
{
	z-index: 344;
	height: 39px;
	position: relative;
	width: 3.23%;
	margin-left: 48.44%;
}

.ie #u56047,.ie #u56048,.ie #u38386,.ie #u38387,.ie #u58985,.ie #u58984
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#ppu58111
{
	margin-top: -6px;
	width: 100%;
}

#pu58111
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58111
{
	z-index: 306;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58117-4
{
	z-index: 323;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58113
{
	z-index: 319;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58114
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58114
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58114
{
	z-index: 320;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58115
{
	z-index: 321;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58118
{
	z-index: 327;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58116
{
	z-index: 322;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58112-12
{
	z-index: 307;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58119
{
	z-index: 328;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58119:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 28px -10000px 0px 0%;
	background-size: cover;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

