.roistat-promo{
    display:none;
}
body{
margin: 0px;
font-family: open-sans, sans-serif;
}
div{
display:block;
}
h1{
    margin: 50px 0px 0px 0px;
    background-color: transparent;
    line-height: 40px;
    font-size: 34px;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    text-align:center;
}
table{
    text-align:center;
    width:100%;
}
td{
    text-align:center; 
    padding: 5px 5px 15px 5px;
}
tr:nth-child(1){
    background-color: #cceeff;
}
tr:nth-child(2n){
    background-color: #d7eeff;
}
.container
{
width: 100%;    
padding-top: 10px;    
}
#header{
    width:960px;
    margin: 0 auto;
    display: table;
    height:120px;
}
#top_nav{
   top: 120px;
   position: fixed;
   z-index: 1000;
}
#top_navphone{
   top: 290px;
   position: fixed;
   z-index: 1000;
}

.logo{
    text-align: center;
    float: left;
    width: 33%;
}
.timejob{
    font-size: 14px;
    line-height: 17px;
    float: left;
    width: 33%;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.phone{
    float: left;
    width: 33%;
    margin: 15px 0px;
}
.phone p{
     font-family: open-sans, sans-serif;
     font-weight: 800;    
     line-height: 24px;
     margin: 0px; 
     font-size: 19px;
}
.menu {
    height: 58px;
    background-color: #439de0;
    width: 100%;
}
.menu ul{
    text-transform: uppercase;
    margin: 0 auto;
    width: 960px;
    text-align: center;
    padding: 0px;
    }
.menu ul li{
    list-style: none;
    display: inline-block;
    height: 38px;
    margin-left: -2px;
    padding: 20px 5px 0px 5px;
    background-color: #057CD6;
    opacity: 0.8;
}
.menu ul li:hover{
	background-color: #3F3F3F;
}
.menu ul li a{
    font-family: open-sans, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    font-weight: 800;
}  
.hidden{
    display: none;
    visibility: hidden;
}
.menuphone {
    display:none;
    width: 100%;
}
.menuphone ul li{
    display:block;
}
#ulnavphone{
    position: fixed;
    top: 40px;
    width: 100%;
    background: #efeee4;
    z-index: 1;
}
#vanna{
    min-height: 621px;
    -pie-box-shadow: none;
    box-shadow: 1px 4px 11px rgba(0,0,0,0.5);
    background: transparent url(../images/p1.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 48px;
}
#vanna h1{
    margin: 0px;
    line-height: 46px;
    font-size: 38px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.vannaform{
    margin: 0 auto;
    width: 370px;
    height: 330px;
    border-color: #000000;
    background-color: rgba(43, 62, 80, 0.7);
    border-radius: 5px;
    text-align:center;
    
}
.vannaform p{
        color: #FFFFFF;
    line-height: 20px;
    font-size: 17px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    
}
.vannaform span{
    color: #FFFFFF;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}
.vannaform input{
    width: 277px;
    min-height: 33px;
    border-color: #ffffff;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #212434;
    line-height: 33px;
    font-size: 14px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    padding: 6px 6px 6px 10px;
    margin: 5px auto; 
}
.vannaform .button{
    border-radius: 5px;    
    width: 280px;
    color: #212434;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 33px;
    background: #fcc049;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    padding: 10px;
    margin: 8px auto;
    display: block;
}
.vannaform .button:hover{
        background: #dea93f;
        cursor:pointer;
}
.preim{
    width:100%;
    height: 86px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top:10px;
    padding-top: 10px;
    text-align:center;
}
.blockpreim{
    width:960px;
    margin:0 auto;
}
.blockpre{
    display: inline-table;
    width: 24%;
    text-align: left;
}
.blockpre img{
    float:left;
    margin-right: 10px;
}
.blockpre span{
    color: #FFFFFF;
    line-height: 19px;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
.uslugi{
 width:960px; 
 margin: 0 auto;
 min-height: 960px;
}
.uslugi h2{
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
.content-main{
    padding: 10px;
    text-align: justify;
}
.uslob{
     width:25%;
    float:left;  
    text-align:center;
}
.uslblock{
    box-shadow: 0px 0px 15px rgba(127,127,127,0.7),0px 0px 15px rgba(127,127,127,0.7);
    border-style: solid;
    border-width: 1px;
    border-color: #7F7F7F;
    background-color: transparent;
    border-radius: 5px;
    text-align:center;
    width: 90%;
    height: 820px;
    margin: 0 auto;
}
.uslblock h3{
    color: #212434;
    line-height: 22px;
    font-size: 18px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    margin: 0px 0px 4px 0px;
}
.uslblock .price{
    background-color: #b9d8f4;
    padding: 5px 0px 10px 0px;
    width: 100%;
    color: #587ea5;
    font-size: 28px;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    line-height: 34px;
    display: block;
}
.usldesc{
    min-height: 110px;
    margin: 10px;
    text-align: justify;
}

.uslblock ul{
    margin: 0px;
    padding: 0px;
}
.uslblock ul li {
    list-style: none;
    height: 44px;
    text-align: center;
    margin: 10px;
}
.uslblock ul li img{
    float: left;
    margin-right: 10px;
}
.uslend{
    font-weight: 600;
    line-height: 18px;
    font-size: 15px;
}
.uslend span{
    font-weight: 800;
    
}
.uslblock button{
    width: 165px;
    min-height: 44px;
    border-style: solid;
    border-color: #E0A541;
    background-color: #FCC049;
    border-radius: 5px;
    color: #212434;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 0px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.uslblock button:hover{
        background: #dea93f;
        cursor:pointer;
}
.skidka{
    min-height: 47px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.restavr{
    position: relative;
    display:block;
    width: 100%;
    padding-top: 10px;
    min-height: 40px;
    background-color: #057CD6;
    padding-bottom: 12px;
    color: #FFFFFF;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
.restavrimg{
    width:960px;
    height: 320px;
    margin:0 auto;
}
.restavrimg img{
margin: 0 auto;
display: block;
}
.blockrestavr{
    width:25%;
    display:block;
    text-align:center;
    float:left;
}
.blockrestavr img{
    height:180px;
    width:200px;
}
.blockrestavr h4{
    margin: 5px 0px;
    min-height: 26px;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
.blockrestavr button{
    width: 165px;
    min-height: 44px;
    border-style: solid;
    border-color: #E0A541;
    background-color: #FCC049;
    border-radius: 5px;
    color: #212434;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 0px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    
}
.blockrestavr button:hover{
        background: #dea93f;
        cursor:pointer;
}
.otz{
text-align:center;
width:960px;
margin:0 auto;
}
.otz h2{
    min-height: 40px;
    background-color: transparent;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    margin-top: 20px;
}
.otz iframe{
    margin:5px;
}
.actasdiv{
    width: 300px;
    height: 200px;
}
.doiposle{
    width:960px;
    margin:0 auto;
}
#do{
    width: 50%;
    float:left;
    text-align:center;
}
#do h3{
    min-height: 41px;
    background-color: transparent;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.doimg{
    width: 84%;
    margin-bottom: 30px;
    height: 240px;
    border-style: solid;
    border-width: 1px;
    border-color: #7F7F7F;
    border-radius: 5px;
}
.doiposle button {
    border-radius: 5px;
    width: 360px;
    color: #212434;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    background: #fcc049;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    padding: 10px;
    margin: 30px auto;
    display: block;
}
.doiposle button:hover{
        background: #dea93f;
        cursor:pointer;
}
.zag{
    margin: 0px;
    min-height: 42px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.podzag{
        color: #FFFFFF;
    line-height: 26px;
    font-size: 22px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    margin: 0px;
}
.mater{
    width: 264px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #74757e;
}
.materimg img{
    max-width: 260px;
}
.materzag{
    min-height: 59px;
    background-color: transparent;
    line-height: 16px;
    font-size: 13px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    margin-top: 8px;
}
.materdesc{
    text-align:left;
    min-height: 180px;
    background-color: transparent;
    line-height: 14px;
    font-size: 12px;
}
.materbut{
    width: 96%;
    min-height: 38px;
    background: #007DFF url(../images/u32101-grad.png) repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(#52A8FF),color-stop(100%, #007DFF));
    background: -webkit-linear-gradient(top,#52A8FF ,#007DFF 100%);
    background: linear-gradient(to bottom,#52A8FF ,#007DFF 100%);
    border-style: solid;
    border-color: #0057FA;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 32px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    position: relative;
    border-width: 0px 0px 3px;
    margin: 10px 0px;
}
.materbut:hover{
    border-width: 0px 0px 0px;
}
.calc{
    width:960px;
    margin:0 auto;
    text-align:center;
}
.calcform{
    width: 90%;
    padding: 40px 10px 20px 10px;
    margin: 20px auto;
    border-color: #000000;
    background-color: #2B3E50;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    border-radius: 5px;
}
.blockform{
    width:33%;
    float: left;
    min-height: 20px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 14px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}
.blockform1{
    width:33%;
    float: left;
    min-height: 20px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 14px;
    text-align: left;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}
.blockform input{
    width: 228px;
    color: #212434;
    margin: 5px 0px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    padding: 6px 6px 6px 10px;
    min-height: 33px;
    border-color: #C4C4C4;
    background-color: #FFFFFF;
    border-radius: 5px;
    line-height: 33px;
}
.blockform1 input{  
    margin: 10px;
}
.calc .button{
    min-height: 60px;
    width: 290px;
    border-style: solid;
    border-color: #E0A541;
    background-color: #FCC049;
    border-radius: 5px;
    color: #212434;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 0px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 600;
}
.calc .button:hover{
        background: #dea93f;
        cursor:pointer;
}
.blockform2{
    display: inline-block;
    text-align:center;
    width:100%;
    margin-top: 10px;
}
.sertif{
    width:960px;
    margin:0 auto;
    text-align: center;
    padding-bottom: 20px;
    height: 520px;
}
.blockcontact{
    width: 50%;
    text-align: left;
    float: left;
    line-height: 24px;
}
.blockcontactmobi{
display: none;
}
.answer{
    height: 472px;
    background: transparent url(../images/bathtub_f.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 15px;
}
.answerform{
    width: 370px;
    height: 440px;
    border-color: #000000;
    background-color: #2B3E50;
    background-color: rgba(43, 62, 80, 0.8);
    border-radius: 5px;
    text-align:center;
    margin: 0 auto;
}
.answer h4{
        min-height: 40px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    margin: 0px;
}
.answer p{
    color: #FFFFFF;
    text-align: center;
    font-family: open-sans, sans-serif;
    margin: 5px 0px;
    
}
.answerform span{
    color: #FFFFFF;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}
.answerform input{
    width: 277px;
    min-height: 33px;
    border-color: #ffffff;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #212434;
    line-height: 33px;
    font-size: 14px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    padding: 6px 6px 6px 10px;
    margin: 5px auto; 
}
.answerform textarea{
    width: 277px;
    min-height: 80px;
    border-color: #ffffff;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #212434;
    line-height: 33px;
    font-size: 14px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    padding: 6px 6px 6px 10px;
    margin: 5px auto; 
}
.answerform .button{
    border-radius: 5px;    
    width: 280px;
    color: #212434;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 33px;
    background: #fcc049;
    font-size: 20px;
    font-family: open-sans, sans-serif;
    padding: 10px;
    margin: 8px auto;
    display: block;
}
.answerform .button:hover{
        background: #dea93f;
        cursor:pointer;
}
.footer{
    width:960px;
    margin: 0 auto;
    padding: 20px 0px;
}
.footbl{
    width:33%;
    float:left;
}
.footbl p{
    text-align: left;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    line-height: 0px;
    font-size: 14px;
    margin-top: 5px;
    line-height: 5px;
}
.content{
min-height:400px;
padding: 20px;
width:960px;
margin:0 auto;
}
.content p{
    line-height: 19px;
    font-size: 16px;
    text-align: justify;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}
.perezvon{
  min-height: 40px;
    width: 374px;
    border-style: solid;
    border-color: #E0A541;
    background-color: #FCC049;
    border-radius: 5px;
    color: #212434;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 0px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
}
.hachi{
    display: inline-block;
    vertical-align: top;
    width: 160px;
    margin: 20px 10px 10px 10px;
}
.ekran{
    height: 93px; -pie-box-shadow: none; 
    box-shadow: 4px 10px 10px rgba(33,36,52,0.5),0px 0px 8px rgba(33,36,52,0.5); 
    position: relative;
}
.ekran img{
    border-radius:3px;
}
.zaghachi{
    height: 40px;
    text-align: center;
    font-weight: 600;
}
.polotz{
    width:50%;
    float:left; 
    margin-bottom:20px;
    text-align:center;
}
.downn{
    width: 100%;
    height: 40px;
    line-height: 36px;
    font-size: 22px;
    text-align: center;
    display: block;
    text-decoration: none;
    background: #057cd6;
    color: #fff;
}
.cartfoto{
    width: 50%;
    float: left;
    height: 260px;
    text-align: center;
}
.cartdesc{
    line-height: 18px;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    text-align:justify;
}
.navannu{
        width: 50%;
    float: left;
    line-height: 26px;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
.fasovka{
    width: 100%;
    float: left;
}
.ppp{
    text-align: center;
    float: left;
    font-style:italic;
}
.cartpreim{
    float: left;
    width: 50%;
}
.cartsertif{
    float: left;
    width: 50%;
    text-align: center;
}
.setim{
    float: left;
    width: 100%;
    text-align: center;
}
.cartpokup{
    float: left;
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 680px) {
    h1{
    margin: 30px 0px 0px 0px;
    background-color: transparent;
    line-height: 40px;
    font-size: 34px;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    text-align:center;
}
#header{
    width:100%;
    margin: 0 auto;
    display: table;
    height: 290px;
}
.menu {
    display:none;
}
.menuphone {
    display:block;
    
}
.menuphonelist {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.menuphonelist li{
    margin: 2px 0px;
    border-top: 1px solid #057cd6;
    border-bottom: 1px solid #057cd6;
    list-style-type: none;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
    background: rgba(7, 91, 154, 0.78);
}
.menuphonelist li a{
    color:#fff;
    text-decoration:none;
    display:block;
}
.content{
min-height:400px;
padding: 10px 10px;
width:90%;
margin:0 auto;
    
}
.polotz{
    width:100%;
}
.logo{
    text-align: center;
    float: left;
    width: 100%;
}
.timejob{
    font-size: 14px;
    line-height: 17px;
    float: none;
    margin: 0 auto;
    width: 80%;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.phone{
float: none;
    width: 80%;
    margin: 15px auto;
}
.phone p{
     font-family: open-sans, sans-serif;
     font-weight: 800;    
     line-height: 24px;
     margin: 0px; 
     font-size: 19px;
}
.menu {
    height: 58px;
    background-color: #439de0;
}
.menu ul{
    text-transform: uppercase;
    margin: 0 auto;
    width:100%;
    text-align: center;
    }
.menu ul li{
    list-style: none;
    display: inline-block;
    height: 38px;
    margin-left: -2px;
    padding: 20px 5px 0px 5px;
    background-color: #057CD6;
    opacity: 0.8;
}
.menu ul li a{
    font-family: open-sans, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    font-weight: 800;
}  
#vanna{
    min-height: 621px;
    -pie-box-shadow: none;
    box-shadow: 1px 4px 11px rgba(0,0,0,0.5);
    background: transparent url(../images/p1.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 30px;
}
#vanna h1{
    margin: 0px;
    line-height: 46px;
    font-size: 38px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.vannaform{
    margin: 0 auto;
    width: 90%;
    height: 340px;
    border-color: #000000;
    background-color: rgba(43, 62, 80, 0.7);
    border-radius: 5px;
    text-align:center;
    
}
.vannaform p{
        color: #FFFFFF;
    line-height: 20px;
    font-size: 17px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    
}
.vannaform span{
    color: #FFFFFF;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}
.vannaform input{
    width: 80%;
    min-height: 33px;
    border-color: #ffffff;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #212434;
    line-height: 33px;
    font-size: 14px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    padding: 6px 6px 6px 10px;
    margin: 5px auto; 
}
.vannaform button{
    border-radius: 5px;    
    width: 96%;
    color: #212434;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 33px;
    background: #fcc049;
    font-size: 20px;
    font-family: open-sans, sans-serif;
    padding: 10px;
    margin: 8px auto;
    display: block;
}
.vannaform button:hover{
        background: #dea93f;
        cursor:pointer;
}
.cartfoto{
    width: 100%;
    float: left;
    height: 260px;
    text-align: center;
}
.cartfoto img{
    max-width: 260px;
}
.cartdesc{
    line-height: 18px;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    text-align:justify;
}
.navannu{
    width: 100%;
    float: left;
    line-height: 26px;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
.fasovka{
    width: 100%;
    float: left;
}
.ppp{
    text-align: center;
    float: left;
    font-style:italic;
}
.cartpreim{
    float: left;
    width: 100%;
}
.cartsertif{
    float: left;
    width: 100%;
    text-align: center;
}
.setim{
    float: left;
    width: 100%;
    text-align: center;
}
.cartpokup{
    float: left;
    width: 100%;
    text-align: center;
}
.preim{
    width:100%;
    height: 340px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top:10px;
    padding-top: 10px;
    text-align:center;
}
.blockpreim{
    width: 90%;
    margin:0 auto;
}
.blockpre{
    display: inline-table;
    width: 80%;
    float: none;
    margin-bottom: 20px;
}
.blockpre img{
    float:left;
    margin-right: 10px;
}
.blockpre span{
    color: #FFFFFF;
    line-height: 19px;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
.uslugi{
 width:100%; 
 margin: 0 auto;
}
.uslugi h2{
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
.uslob{
    width:100%;
    float:left;  
    text-align:center;
}
.uslblock{
    box-shadow: 0px 0px 15px rgba(127,127,127,0.7),0px 0px 15px rgba(127,127,127,0.7);
    border-style: solid;
    border-width: 1px;
    border-color: #7F7F7F;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding-bottom: 10px;
}
.uslblock h3{
    color: #212434;
    line-height: 22px;
    font-size: 18px;
    min-height: 70px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    margin: 0px 0px 4px 0px;
}
.uslblock .price{
    background-color: #b9d8f4;
    padding: 5px 0px 10px 0px;
    width: 100%;
    color: #587ea5;
    font-size: 28px;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    line-height: 34px;
    display: block;
}
.usldesc{
    min-height: 80px;
    margin: 10px;
    text-align: justify;
}

.uslblock ul{
    margin: 0px 0px;
    padding: 0px;
    min-height: 180px;
    display: block;
}
.uslblock ul li {
    list-style: none;
    height: 44px;
    text-align: center;
    margin: 10px;
}
.uslblock ul li img{
    float: left;
    margin-right: 10px;
}
.uslend{
    font-weight: 600;
    line-height: 18px;
    font-size: 15px;
}
.uslend span{
    font-weight: 800;
    
}
.uslblock button{
    width: 90%;
    min-height: 44px;
    border-style: solid;
    border-color: #E0A541;
    background-color: #FCC049;
    border-radius: 5px;
    color: #212434;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 0px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.uslblock button:hover{
        background: #dea93f;
        cursor:pointer;
}
.restavr{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    min-height: 40px;
    background-color: #057CD6;
    padding-bottom: 12px;
    color: #FFFFFF;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
.restavrimg{
    width:100%;
    height: 320px;
    margin:0 auto;
}
.restavrimg img{
margin: 0 auto;
display: block;
}
.blockrestavr{
    width: 100%;
    display: block;
    text-align: center;
    float: left;
    margin-bottom: 20px;
}
.blockrestavr img{
    height:180px;
    width:200px;
}
.blockrestavr h4{
    margin: 5px 0px;
    min-height: 26px;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
.blockrestavr button{
    width: 165px;
    min-height: 44px;
    border-style: solid;
    border-color: #E0A541;
    background-color: #FCC049;
    border-radius: 5px;
    color: #212434;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 0px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    
}
.blockrestavr button:hover{
        background: #dea93f;
        cursor:pointer;
}
.otz{
text-align:center;
width:100%;
margin:0 auto;
}
.otz h2{
    min-height: 40px;
    background-color: transparent;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
    margin-top: 20px;
}
.otz iframe{
    margin:5px;
}
.actasdiv{
    width: 300px;
    height: 200px;
}
.doiposle{
    width:100%;
    margin:0 auto;
}
#do{
    width: 50%;
    float:left;
    text-align:center;
}
#do h3{
    width: 86%;
    margin: 0 auto;
    min-height: 40px;
    background-color: transparent;
    line-height: 36px;
    font-size: 32px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.doimg{
    width: 90%;
    margin-bottom: 30px;
    height: auto;;
    border-style: solid;
    border-width: 1px;
    border-color: #7F7F7F;
    border-radius: 5px;
}
.doiposle button {
    border-radius: 5px;
    width: 96%;
    color: #212434;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    background: #fcc049;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    padding: 10px;
    margin: 30px auto;
    display: block;
}
.doiposle button:hover{
        background: #dea93f;
        cursor:pointer;
}
.zag{
    margin: 0px;
    min-height: 42px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.podzag{
        color: #FFFFFF;
    line-height: 26px;
    font-size: 22px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    margin: 0px;
}
.calc{
    width:100%;
    margin:0 auto;
    text-align:center;
}
.calcform{
    width: 90%;
    padding: 40px 10px 20px 10px;
    margin: 20px auto;
    border-color: #000000;
    background-color: #2B3E50;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    border-radius: 5px;
}
.blockform{
    width: 100%;
    float: left;
    min-height: 20px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 14px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}
.blockform1{
    width: 100%;
    float: left;
    min-height: 20px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 14px;
    text-align: left;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}
.blockform input{
    width: 90%;
    color: #212434;
    margin: 5px 0px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    padding: 6px 6px 6px 10px;
    min-height: 33px;
    border-color: #C4C4C4;
    background-color: #FFFFFF;
    border-radius: 5px;
    line-height: 33px;
}
.blockform1 input{  
    margin: 10px;
}
.calc button{
    min-height: 48px;
    width: 100%;
    border-style: solid;
    border-color: #E0A541;
    background-color: #FCC049;
    border-radius: 5px;
    color: #212434;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 0px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 800;
}
.calc button:hover{
        background: #dea93f;
        cursor:pointer;
}
.blockform2{
    display: inline-block;
    text-align:center;
    width:100%;
    margin-top: 10px;
}
.sertif{
    width:100%;
    margin:0 auto;
    text-align: center;
    padding-bottom: 20px;
    display: inline-block;
    height:auto;
}
.blockcontact{
display:none;
}
.blockcontactmobi{
    display: block;
    margin: 0 auto;
}
.answer{
    height: 500px;
    background: transparent url(../images/bathtub_f.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 15px;
}
.answerform{
    width: 90%;
    height: auto;
    border-color: #000000;
    background-color: #2B3E50;
    background-color: rgba(43, 62, 80, 0.8);
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.answer h4{
        min-height: 40px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    margin: 0px;
}
.answer p{
    color: #FFFFFF;
    text-align: center;
    font-family: open-sans, sans-serif;
    margin: 5px 0px;
    
}
.answerform span{
    color: #FFFFFF;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}
.answerform input{
    width: 86%;
    min-height: 33px;
    border-color: #ffffff;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #212434;
    line-height: 33px;
    font-size: 14px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    padding: 6px 6px 6px 10px;
    margin: 5px auto; 
}
.answerform textarea{
    width: 86%;
    min-height: 80px;
    border-color: #ffffff;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #212434;
    line-height: 33px;
    font-size: 14px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    padding: 6px 6px 6px 10px;
    margin: 5px auto; 
}
.answerform button{
    border-radius: 5px;    
    width: 86%;
    color: #212434;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 33px;
    background: #fcc049;
    font-size: 20px;
    font-family: open-sans, sans-serif;
    padding: 10px;
    margin: 8px auto;
    display: block;
}
.answerform button:hover{
        background: #dea93f;
        cursor:pointer;
}
.skidka{
    line-height: 18px;
    font-size: 18px;
}
.footer{
    width:100%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.footbl{
    width:100%;
    float:left;
}
.footbl p{
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    line-height: 0px;
    font-size: 14px;
    margin-top: 5px;
    line-height: 5px;
}
}