/*

*/

.version.tseny_na_uslugi /* version checker */
{
	color: #000018;
	background-color: #81F486;
}

#page
{
	z-index: 1;
	min-height: 718px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 19px;
}

#u55459
{
	z-index: 287;
	height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 3.23%;
	left: 9.28%;
}

#ppu55460
{
	margin-top: -4px;
	width: 100%;
}

#pu55460
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	width: 100%;
}

#u55460
{
	z-index: 288;
	height: 38px;
	position: relative;
	width: 3.44%;
}

.ie #u55459,.ie #u55460
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u46721
{
	z-index: 175;
	height: 58px;
	background-color: #057CD6;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u46721-bw
{
	z-index: 175;
	margin-top: 51px;
	height: 58px;
}

#menuu46729
{
	z-index: 176;
	width: 954px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	margin-left: 50%;
	left: -478px;
}

#u46772
{
	width: 86px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u46775
{
	width: 86px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46775:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u46777-4
{
	width: 67px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46775:hover #u46777-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u46775.MuseMenuActive #u46777-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u46775:hover #u46777-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46758
{
	width: 64px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u46759
{
	width: 64px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46759:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u46762-4
{
	width: 45px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46759:hover #u46762-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u46759.MuseMenuActive #u46762-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u46759:hover #u46762-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46800
{
	width: 76px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u46801
{
	width: 76px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46801:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u46802-4
{
	width: 57px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46801:hover #u46802-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u46801.MuseMenuActive #u46802-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u46801:hover #u46802-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46730
{
	width: 78px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u46731
{
	width: 78px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46731:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u46732-4
{
	width: 59px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46731:hover #u46732-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u46731.MuseMenuActive #u46732-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u46731:hover #u46732-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46765
{
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u46768
{
	width: 61px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46768.MuseMenuActive
{
	border-color: #F0C330;
	background-color: #29ABE2;
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u46769-4
{
	width: 42px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46768:hover #u46769-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u46768.MuseMenuActive #u46769-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u46768:hover #u46769-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46786
{
	width: 72px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u46789
{
	width: 72px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46789:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u46790-4
{
	width: 53px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46789:hover #u46790-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u46789.MuseMenuActive #u46790-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u46789:hover #u46790-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46737
{
	width: 111px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u46738
{
	width: 111px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46738:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u46741-4
{
	width: 92px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46738:hover #u46741-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u46738.MuseMenuActive #u46741-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u46738:hover #u46741-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46793
{
	width: 112px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u46794
{
	width: 112px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 33px;
	position: relative;
}

#u46794:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u46797-6
{
	width: 93px;
	min-height: 24px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u46794:hover #u46797-6
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u46794.MuseMenuActive #u46797-6
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u46794:hover #u46797-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46738.MuseMenuActive #u46741-4 p,#u46794.MuseMenuActive #u46797-6 p
{
	font-size: 12px;
}

#u46779
{
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u46780
{
	width: 81px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46780:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u46783-4
{
	width: 62px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46780:hover #u46783-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u46780.MuseMenuActive #u46783-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u46780:hover #u46783-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46751
{
	width: 97px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u46752
{
	width: 97px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46752:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u46755-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46752:hover #u46755-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u46752:hover #u46755-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46744
{
	width: 96px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 858px;
}

#u46747
{
	width: 96px;
	border-color: #FFFFFF;
	background-color: #057CD6;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-bottom: 45px;
	position: relative;
}

#u46747:hover
{
	border-color: #4D547A;
	background-color: #3F3F3F;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u46748-4
{
	width: 78px;
	min-height: 12px;
	border-color: #000000;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 12px;
	text-align: right;
	font-family: '__Open Sans_5';
	font-weight: 800;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	left: 9px;
}

#u46747:hover #u46748-4
{
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u46752.MuseMenuActive #u46755-4,#u46747.MuseMenuActive #u46748-4
{
	border-color: #E74C3C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u46747:hover #u46748-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u46775.MuseMenuActive #u46777-4 p,#u46759.MuseMenuActive #u46762-4 p,#u46801.MuseMenuActive #u46802-4 p,#u46731.MuseMenuActive #u46732-4 p,#u46768.MuseMenuActive #u46769-4 p,#u46789.MuseMenuActive #u46790-4 p,#u46780.MuseMenuActive #u46783-4 p,#u46752.MuseMenuActive #u46755-4 p,#u46747.MuseMenuActive #u46748-4 p
{
	color: #212434;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u55449
{
	z-index: 245;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	width: 23.75%;
	left: 3.44%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u59010
{
	z-index: 4;
	width: 185px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 30px;
}

#u59012
{
	z-index: 7;
	width: 185px;
	min-height: 73px;
	position: relative;
}

#u59011
{
	z-index: 9;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59013
{
	z-index: 6;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u59014
{
	z-index: 5;
	width: 185px;
	min-height: 73px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u59015
{
	z-index: 8;
	width: 185px;
	min-height: 73px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pppu55456
{
	margin-right: -10000px;
	margin-top: 2px;
	width: 87.5%;
	margin-left: 6.25%;
}

#ppu55456
{
	width: 57.15%;
	margin-left: 24.65%;
}

#pu55456
{
	margin-right: -10000px;
	width: 7.92%;
}

#u55456
{
	z-index: 284;
	height: 38px;
	position: relative;
	width: 100%;
	background: transparent url("../images/wall-clock.png") no-repeat center center;
	background-size: cover;
}

#u55457
{
	z-index: 285;
	height: 38px;
	margin-top: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/location-pin.png") no-repeat center center;
	background-size: cover;
}

#pu55453-4
{
	margin-right: -10000px;
	width: 36.88%;
	margin-left: 9.17%;
}

#u55453-4
{
	z-index: 270;
	min-height: 19px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55455-4
{
	z-index: 280;
	min-height: 19px;
	background-color: transparent;
	color: #333333;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	width: 100%;
}

#u55454-6
{
	z-index: 274;
	min-height: 58px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#u55458
{
	z-index: 286;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 7.92%;
	left: 53.13%;
	background: transparent url("../images/call-answer.png") no-repeat center center;
	background-size: cover;
}

#pu55450-8
{
	margin-right: -10000px;
	margin-top: 7px;
	width: 37.3%;
	margin-left: 62.71%;
}

#u55450-8
{
	z-index: 246;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55451-8
{
	z-index: 254;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 100%;
}

#u55452-8
{
	z-index: 262;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	position: relative;
	width: 100%;
}

#u55450-2,#u55450-4,#u55451-2,#u55451-4,#u55452-2,#u55452-4
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u10817-4
{
	z-index: 10;
	min-height: 50px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-top: 75px;
	position: relative;
	width: 95.24%;
	margin-left: 2.39%;
}

#u10823-6
{
	z-index: 14;
	width: 800px;
	min-height: 49px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-left: 2.39%;
}

#u10829-4
{
	z-index: 20;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 28.46%;
}

#u10832-4
{
	z-index: 56;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 23.7%;
	left: 28.58%;
}

#u10838-4
{
	z-index: 92;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 23.7%;
	left: 52.39%;
}

#u10841-4
{
	z-index: 120;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 23.7%;
	left: 76.2%;
}

#u10844-4
{
	z-index: 36;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 28.46%;
}

#u10847-4
{
	z-index: 72;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 23.7%;
	left: 28.58%;
}

#u10850-4
{
	z-index: 108;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 23.7%;
	left: 52.39%;
}

#u10853-4
{
	z-index: 136;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 23.7%;
	left: 76.2%;
}

#u10871-4
{
	z-index: 28;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 28.46%;
}

#u10868-4
{
	z-index: 64;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 23.7%;
	left: 28.58%;
}

#u10874-4
{
	z-index: 100;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 23.7%;
	left: 52.39%;
}

#u10877-4
{
	z-index: 128;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 23.7%;
	left: 76.2%;
}

#u59001
{
	z-index: 3;
	width: 140px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 766px;
}

#u10856-4
{
	z-index: 44;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 24.9%;
	left: 6.25%;
}

#u10859-4
{
	z-index: 80;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 31.25%;
}

#u10862-4
{
	z-index: 116;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 52.09%;
}

#u10865-4
{
	z-index: 144;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 72.92%;
}

#u10904-4
{
	z-index: 24;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 24.9%;
	left: 6.25%;
}

#u10901-4
{
	z-index: 60;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 31.25%;
}

#u10898-4
{
	z-index: 96;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 52.09%;
}

#u10925-4
{
	z-index: 124;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 72.92%;
}

#u10886-4
{
	z-index: 40;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 24.9%;
	left: 6.25%;
}

#u10892-4
{
	z-index: 76;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 31.25%;
}

#u10907-4
{
	z-index: 112;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 52.09%;
}

#u10916-4
{
	z-index: 140;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 72.92%;
}

#u10883-4
{
	z-index: 32;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 24.9%;
	left: 6.25%;
}

#u10895-4
{
	z-index: 68;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 31.25%;
}

#u10913-4
{
	z-index: 104;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 52.09%;
}

#u10922-4
{
	z-index: 132;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 20.73%;
	left: 72.92%;
}

#u10880-4
{
	z-index: 48;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 24.9%;
	left: 6.25%;
}

#u10889-4
{
	z-index: 84;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 62.4%;
	left: 31.25%;
}

#ptop,#pu10844-4,#pu10871-4,#pu10856-4,#pu10904-4,#pu10886-4,#pu10883-4,#pu10880-4,#pu10934-4
{
	width: 100%;
}

#u10934-4
{
	z-index: 52;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 24.9%;
	left: 6.25%;
}

#u10931-4
{
	z-index: 88;
	min-height: 52px;
	border-style: solid;
	border-width: 1px;
	border-color: #212434;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 62.4%;
	left: 31.25%;
}

#u10940-4
{
	z-index: 148;
	min-height: 35px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u10943-13
{
	z-index: 152;
	min-height: 188px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u10946-10
{
	z-index: 165;
	min-height: 106px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#pu10829-4,#ppu58488
{
	margin-top: 26px;
	width: 100%;
}

#pu58488
{
	margin-right: -10000px;
	width: 23.75%;
	margin-left: 4.17%;
}

#u58488
{
	z-index: 289;
	height: 79px;
	position: relative;
	width: 100%;
	background: transparent url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

#u58494-4
{
	z-index: 306;
	min-height: 20px;
	background-color: transparent;
	color: #212434;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	width: 100%;
}

#u58490
{
	z-index: 302;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 35.84%;
	background: transparent url("../images/odnoklassniki-logo.png") no-repeat center center;
	background-size: cover;
}

#ppu58491
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 14.59%;
	margin-left: 42.5%;
}

#pu58491
{
	width: 93.58%;
	margin-left: 4.29%;
}

#u58491
{
	z-index: 303;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	background: transparent url("../images/vk-social-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58492
{
	z-index: 304;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	width: 45.81%;
	left: 54.2%;
	background: transparent url("../images/instagram-social-network-logo-of-photo-camera.png") no-repeat center center;
	background-size: cover;
}

#u58495
{
	z-index: 310;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u58493
{
	z-index: 305;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 6.25%;
	left: 58.03%;
	background: transparent url("../images/youtube-logotype.png") no-repeat center center;
	background-size: cover;
}

#u58489-12
{
	z-index: 290;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 68.23%;
}

#u58496
{
	z-index: 311;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 4.8%;
	left: 92.92%;
	background: transparent url("../images/upload.png") no-repeat center center;
	background-size: cover;
}

#u58496:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	height: 46px;
	min-height: 0px;
	width: 4.8%;
	margin: 28px -10000px 0px 0%;
	background-size: cover;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-extrabold.eot');
	src: local('☺'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

