.blog {
    .h3 {
        padding-left: 7px;
        font-size: 33px;
        span {
            font-weight: 300;
        }
    }

    .row {
        padding-top: 27px;
        padding-left: 10px;
        & > div {
            padding-bottom: 30px;
        }

        .image {
            margin: -2px -2px 0 -2px;
            min-height: 230px;
        }

        .item {
            height: 100%;
            position: relative;
            border-width: 2px;
            border-radius: 10px;
            border: #dfdfdf solid;

            .blog-item-link {
                position: absolute;
                top: 0;
                bottom: 30px;
                left: 0;
                right: 0;
                display: block;
                z-index: 1;
            }

            .title {
                padding-right: 28px;
                font-weight: bold;
                font-size: 18px;
                min-height: 77px;
            }
            .date {
                color: #757575;
                position: relative;
                margin-top: 8px;
                padding-bottom: 22px;
                padding-left: 31px;
                font-size: 18px;
                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    background-image: url(/assets/theme/images/blog-calendar.png);
                    width: 17px;
                    height: 17px;
                    left: 3px;
                }
            }
            .read a {
                opacity: 0;
                transition: opacity 300ms ease;
                color: #ffc938;
                font-size: 18px;
                position: absolute;
                right: 48px;
                bottom: 24px;
            }
            &:hover {
                .read a {
                    opacity: 1;
                }
            }
        }
        .item-footer {
            padding-top: 24px;
            padding-left: 28px;
        }
    }
}

@include media-breakpoint-only(lg) {
    .blog .row .item .title {
        min-height: 84px;
    }
}

@include media-breakpoint-down(sm) {
    .blog .row .item .title {
        min-height: auto;
    }
    .blog .h3 {
        font-size: 24px;
        text-align: center;
    }
    .blog .row .item-footer {
        padding-top: 24px;
        padding-left: 38px;
        border: #dfdfdf solid;
        border-width: 0 1px 1px 1px;
        border-radius: 0 0 5px 5px;
    }
}

@include media-breakpoint-down(sm) {
    .blog .row .item .title {
        min-height: auto;
    }
    .blog .h3 {
        padding-top: 35px;
        font-size: 20px;
        text-align: left;
    }
}

@include media-breakpoint-only(sm) {
    .blog .row .item {
        width: 370px;
        margin: 0 auto;
    }
    .blog .h3 {
        font-size: 24px;
        text-align: center;
    }
}

@include media-breakpoint-down(xs) {
    .blog .row .item .image img {
        width: 100%;
    }
}
