.ekrany-varianty {
    background: #f9f9f9;
    .title-bold {
        padding-top: 20px;
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
    }
    .title-cursive {
        padding-top: 20px;
        display: inline-block;
        font-size: 18px;
        font-style: italic;
    }
}
.ekrany-slider {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;

    .slick-next,
    .slick-prev {
        display: block;
        position: absolute;
        top: 50%;
        z-index: 2;
        height: 33px;
        width: 33px;
        margin-top: -17px;
        border-radius: 50%;
        background: #ffb03e;
        background-image: url(/assets/theme/images/products-arrow-s.png);
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -9999px;
        border: none;
        cursor: pointer;
    }
    .slick-next {
        right: 0;
        margin-right: -5px;
    }
    .slick-prev {
        left: 0;
        transform: scale(-1);
        margin-left: -5px;
    }

    .item {
        height: 140px;
        border: #e4e4e4 solid 1px;
        border-radius: 10px;
        margin-left: 11px;
        margin-right: 11px;

        .title {
            font-size: 12px;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}
.ekrany {
    .ekrany-title {
        .container {
            h3 {
                text-align: left;
                font-size: 33px;
            }
        }
    }
    .row {
        padding-bottom: 0px;
        .text-right-1 {
            font-size: 18px;
            padding: 45px 0 20px 5px;
            line-height: 22px;
        }
        .text-right-2 {
            font-weight: normal;
            font-size: 18px;
            padding: 0px 0 30px 5px;
            line-height: 22px;
        }
        .ekran-pic {
            padding-top: 70px;
        }
    }
    .callback-form {
        margin-top: 40px;
        margin-bottom: 50px;
    }
}
.ekrany-text-1 {
    font-size: 18px;
    padding-bottom: 25px;
}
.ekrany-text-2 {
    font-size: 18px;
    padding-bottom: 10px;
}

@include media-breakpoint-down(lg) {
    .ekrany-slider {
        .item {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

@include media-breakpoint-down(md) {
    .ekrany {
        .ekrany-title {
            .container {
                h3 {
                    padding-top: 34px;
                    padding-right: 50px;
                    text-align: left;
                    font-size: 20px;
                }
            }
        }
        .row {
            padding-bottom: 0px;
            .text-right-1 {
                font-size: 14px;
                padding: 24px 0 20px 0px;
                line-height: 17px;
            }
            .text-right-2 {
                font-weight: normal;
                font-size: 14px;
                padding: 0px 0 30px 0px;
                line-height: 17px;
            }
            .ekran-pic {
                padding-top: 30px;
            }
        }
    }
    .ekrany-varianty {
        .container {
            .title-bold {
                padding-top: 30px;
                font-size: 15px;
            }
            .title-cursive {
                position: absolute;
                left: 35px;
                bottom: -50px;
                font-size: 15px;
                //margin-bottom: 20px;
            }
        }
    }
    .ekrany-slider {
        padding-bottom: 45px;
        .item {
            margin-left: 10px;
            margin-right: 10px;
            height: 110px;
            .title {
                font-size: 10px;
                padding-left: 5px;
            }
        }
        .slick-next,
        .slick-prev {
            display: block;
            position: absolute;
            top: 50%;
            z-index: 2;
            height: 28px;
            width: 28px;
            margin-top: -25px;
            border-radius: 50%;
            background: #ffb03e;
            background-image: url(/assets/theme/images/products-arrow-s.png);
            background-repeat: no-repeat;
            background-position: center center;
            text-indent: -9999px;
            border: none;
            cursor: pointer;
        }
        .slick-next {
            right: 0;
            margin-right: -5px;
        }
        .slick-prev {
            left: 0;
            transform: scale(-1);
            margin-left: -5px;
        }
    }
    .ekrany-text-1 {
        font-size: 14px;
        padding-bottom: 25px;
    }
    .ekrany-text-2 {
        font-size: 14px;
        padding-bottom: 40px;
    }
}
