.index-header {
    background-image: url(/assets/theme/images/index-header-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.index-header-top {
    position: relative;
}

.inder-header-title {
    font-size: 31px;
    letter-spacing: 0.02em;
    font-weight: bold;
    padding-top: 81px;
}

.inder-header-subtitle {
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 0.02em;
    padding-top: 29px;
    font-weight: 300;
}

.index-header-btns {
    margin-top: 125px;
    .btn {
        margin-right: 5px;
    }
}

.index-header-list {
    display: flex;
    justify-content: space-between;
    margin-right: -12px;
    margin-left: -12px;
    font-size: 14px;
    .item {
        background: #fff;
        min-height: 111px;
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 12px;
        margin-left: 12px;
        border-radius: 10px;
        padding: 21px;
    }
    .image {
        margin-right: 15px;
        min-width: 45px;
    }
}

@include media-breakpoint-up(lg) {
    .inder-header-image {
        position: absolute;
        right: 4px;
        top: 45px;
    }
}

@include media-breakpoint-up(xl) {
    .index-header-top {
        min-height: 550px;
    }
    .index-header {
        min-height: 800px;
    }
}

@include media-breakpoint-down(lg) {
    .inder-header-image {
        transform: scale(0.85);
        top: 0;
        right: -86px;
    }
    .index-header-btns {
        margin-top: 85px;
    }
    .index-header-list {
        margin-top: 40px;
        padding-bottom: 30px;
    }
    .index-header-list .item {
        margin-right: 6px;
        margin-left: 6px;
        padding: 16px;
    }
}

@include media-breakpoint-down(md) {
    .index-header {
        background-image: none;
    }
    .index-header-list {
        flex-wrap: wrap;
        .item {
            width: 50%;
            margin: 0;
            &:last-child {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .inder-header-title {
        padding-top: 31px;
    }
    .inder-header-subtitle {
        padding-top: 15px;
    }
    .inder-header-image {
        margin-top: 20px;
    }
    .index-header-btns {
        margin-top: 0;
    }
    .index-header-list {
        padding: 0 25px;
        margin-top: 17px;
        font-size: 11px;
        .item {
            min-height: auto;
        }
        .image {
            margin-right: 7px;
            transform: scale(0.8);
        }
    }
}

@include media-breakpoint-down(xs) {
    .inder-header-title {
        font-size: 20px;
        padding-left: 18px;
    }
    .inder-header-subtitle {
        font-size: 14px;
        padding-left: 18px;
    }
    .index-header-btns {
        padding-left: 18px;
    }
}
