.map-form {
    display: flex;
    .map {
        width: 50%;
    }
    .form-container {
        width: 50%;
        background-image: url(/assets/theme/images/map-form-bg.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        .form {
            background: #fff;
            width: 420px;
            margin-left: 100px;
            margin-top: 80px;
            text-align: center;
            border-radius: 5px;
            padding-top: 45px;
            padding-bottom: 35px;
        }
    }
    .title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .subtitle {
        font-weight: bold;
        font-size: 24px;
        color: #fec340;
        margin-bottom: 13px;
    }
    .caption {
        padding: 0 50px;
        margin-bottom: 33px;
    }
    .input-group {
        input {
            background: #f7f7f7;
            margin-bottom: 20px;
            height: 40px;
            border-radius: 3px;
            width: 290px;
            padding: 0 25px;
        }
    }
    .form-btn {
        padding-top: 8px;
        .btn {
            border: none;
            padding-top: 15px;
            padding-bottom: 18px;
        }
    }
    .subtext {
        color: #959595;
        font-size: 12px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 35px;
    }
}

@include media-breakpoint-down(md) {
    .map-form .form-container {
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 50px;
        background: #fff;
        .form {
            width: 100%;
            max-width: 340px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            border-radius: 5px;
            padding-top: 40px;
            box-shadow: 0px 36px 95px 0px rgba(0, 110, 117, 0.3);
        }
        .title {
            font-size: 26px;
        }
        .subtitle {
            font-size: 20px;
        }
        .caption {
            font-size: 12px;
            margin-bottom: 27px;
        }
        .form-btn .btn {
            font-weight: normal;
            font-size: 14px;
            padding-top: 14px;
            padding-bottom: 14px;
        }
        .subtext {
            font-size: 10px;
            padding-top: 30px;
        }
    }
    .map-form .input-group input {
        max-width: 100%;
        height: 33px;
        margin-bottom: 16px;
        width: 250px;
    }
}
