.products {
    margin-top: 5px;
    padding-top: 90px;
    padding-bottom: 126px;
    font-size: 18px;
    overflow: hidden;
    .h3 {
        font-size: 35px;
        letter-spacing: 0.02em;
        margin-bottom: 40px;
    }
    .row > div {
        position: relative;
    }
    .product {
        padding-left: 10px;
        padding-right: 10px;
        .item {
            border: #dfdfdf solid 2px;
            padding: 30px;
            border-radius: 8px;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 30px 40px;
        }
        &.hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            box-shadow: 0px 29px 57px 0px rgba(33, 110, 115, 0.8);
        }
        .image {
            margin-top: 10px;
            text-align: center;
            padding-bottom: 30px;
            img {
                display: inline-block;
                max-height: 180px;
            }
        }
        .title {
            font-weight: bold;
            padding-bottom: 10px;
            font-size: 20px;
        }
        .fitter-info {
            list-style: none;
            padding: 0;
            padding-right: 15px;
            margin-top: 5px;
            margin-bottom: 27px;
            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 9px;
                border-bottom: 2px dotted #000;
                span {
                    background: #fff;
                    position: relative;
                    bottom: -6px;
                    padding: 0 2px;
                }
            }
        }
        .price {
            font-size: 30px;
            font-weight: bold;
            color: #ffc938;
            padding-bottom: 23px;
            text-align: center;
            margin-top: auto;
        }
        .product-buy-btn {
            text-align: center;
            .btn {
                border: none;
                padding-top: 13px;
                padding-bottom: 15px;
                position: relative;
                padding-left: 75px;
                padding-right: 35px;

                span {
                    &:before,
                    &:after {
                        display: block;
                        position: absolute;
                        content: "";
                        background-image: url(/assets/theme/images/btn-cart.png);
                        height: 18px;
                        width: 22px;
                        left: 32px;
                        top: 50%;
                        margin-top: -9px;
                        transition: opacity 300ms ease;
                    }

                    &:before {
                        opacity: 0;
                    }

                    &:after {
                        background-position-x: -26px;
                        opacity: 1;
                    }
                }

                &:hover {
                    span {
                        &:before {
                            opacity: 1;
                        }

                        &:after {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        .product-more {
            text-align: center;
            margin-top: 22px;
            a {
                color: #ffb03e;
                display: inline-block;
                margin-right: 10px;
                font-size: 18px;
                font-weight: 300;
                position: relative;
                &:after {
                    display: block;
                    position: absolute;
                    content: "";
                    height: 1px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #ffb03e;
                    opacity: 1;
                    transition: opacity 300ms ease;
                }
                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    background-image: url(/assets/theme/images/products-more-arr.png);
                    width: 5px;
                    height: 9px;
                    right: -15px;
                    top: 7px;
                }
                &:hover {
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }
        .caption {
            padding-bottom: 9px;
        }
        .circs {
            padding-bottom: 22px;
            & > div {
                position: relative;
                padding-left: 44px;
                padding-top: 12px;
                padding-bottom: 6px;
                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 13px;
                }
            }
            .volume {
                &:before {
                    background-image: url(/assets/theme/images/product-fill.png);
                    width: 22px;
                    height: 23px;
                    left: 1px;
                    top: 12px;
                }
            }
            .dry-time {
                &:before {
                    background-image: url(/assets/theme/images/product-time.png);
                    width: 20px;
                    height: 21px;
                    left: 0px;
                    top: 14px;
                }
            }
            .warranty {
                &:before {
                    background-image: url(/assets/theme/images/product-watch.png);
                    width: 14px;
                    height: 19px;
                    left: 3px;
                    top: 14px;
                }
            }
        }
        .features {
            list-style: none;
            padding-left: 0;
            margin-bottom: 26px;
            li {
                margin-bottom: 9px;
                &:before {
                    display: inline;
                    content: "- ";
                }
            }
        }
    }
}

.products-slider-btns {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    .slick-arrow {
        text-indent: -9999px;
        width: 48px;
        height: 48px;
        background: #ffb03e;
        border: none;
        border-radius: 50%;
        margin: 0 7px;
        padding: 0;
        background-image: url(/assets/theme/images/products-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .slick-prev {
        margin-left: 20px;
    }
    .slick-next {
        transform: scale(-1);
    }
}

.products-slider-more {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    float: right;
    padding-top: 15px;
    a {
        color: #ffb03e;
        display: inline-block;
        margin-right: 10px;
        position: relative;
        &:after {
            display: block;
            position: absolute;
            content: "";
            height: 1px;
            left: 0;
            right: 0;
            bottom: 0;
            background: #ffb03e;
            opacity: 1;
            transition: opacity 300ms ease;
        }
        &:before {
            display: block;
            position: absolute;
            content: "";
            background-image: url(/assets/theme/images/products-more-arr.png);
            width: 5px;
            height: 9px;
            right: -15px;
            top: 7px;
        }
        &:hover {
            &:after {
                opacity: 0;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .products {
        .product .item {
            background: #fff;
            border: none;
            border-radius: 10px;
        }
        .h3 {
            font-size: 34px;
        }
    }
    .products-slider-btns .slick-prev {
        margin-left: 15px;
    }
    .products .product .item {
        padding: 20px;
    }
}

@include media-breakpoint-down(md) {
    .products-slider {
        .slick-next,
        .slick-prev {
            display: block;
            position: absolute;
            top: 50%;
            z-index: 2;
            height: 33px;
            width: 33px;
            margin-top: -17px;
            border-radius: 50%;
            background: #ffb03e;
            background-image: url(/assets/theme/images/products-arrow-s.png);
            background-repeat: no-repeat;
            background-position: center center;
            text-indent: -9999px;
            border: none;
            cursor: pointer;
        }
        .slick-next {
            right: 0;
            margin-right: -26px;
        }
        .slick-prev {
            margin-left: -26px;
            left: 0;
            transform: scale(-1);
        }
    }
    .products {
        .product {
            .item {
                padding: 17px;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 16px;
            }
            .image {
                padding-bottom: 0;
                height: 116px;
                margin-bottom: 18px;
                img {
                    max-height: 100%;
                }
            }
            .title {
                font-size: 16px;
                padding-bottom: 20px;
            }
            .circs {
                display: none;
            }
            .features {
                margin-bottom: 17px;
                li {
                    margin-bottom: 3px;
                }
            }
            .price {
                font-size: 17px;
                padding-bottom: 11px;
            }
            .product-buy-btn {
                .btn {
                    padding-top: 12px;
                    padding-bottom: 10px;
                }
            }
            .product-more {
                margin-top: 11px;
                a {
                    font-size: 10px;
                    text-decoration: none;
                    &:before {
                        top: 2px;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .products-slider {
        margin-left: -2px;
        margin-right: -2px;
    }
    .products {
        padding-top: 33px;
        padding-bottom: 40px;
        .h3 {
            font-size: 19px;
            margin-bottom: 12px;
        }
        .product {
            padding-left: 3px;
            padding-right: 4px;
            .item {
                font-size: 10px;
            }
            .title {
                font-size: 10px;
            }
            .image {
                margin-top: 0;
            }
            .product-buy-btn {
                .btn {
                    padding-top: 8px;
                    padding-bottom: 6px;
                    font-size: 10px;
                    padding-left: 33px;
                    padding-right: 23px;
                    span:before,
                    span:after {
                        transform: scale(0.6);
                        left: 10px;
                    }
                }
            }
        }
    }
}
