.questions {
    padding-top: 85px;
    padding-bottom: 70px;
    //@include opensans();
    .h3 {
        padding-bottom: 50px;
    }
}

.questions-list ul.r-tabs-nav {
    padding-right: 50px;
    li {
        float: none;
        display: block;
        width: 100%;
        font-size: 22px;
        font-weight: normal;
        transition: all 300ms ease;
        &.r-tabs-state-active {
            background-repeat: no-repeat;
            border-radius: 5px;
            color: #fff;
            font-weight: bold;
            background: #37cfd8;
            a {
                color: #fff;
                background-color: #37cfd8;
                border-top-color: #fff;
                box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1);
                &:before {
                    border-left-color: #37cfd8;
                }
            }
            & + li > a {
                border-top-color: #fff;
            }
        }
        &:first-child a {
            border-top-color: #fff;
        }
    }
    a {
        display: block;
        color: #2a2a2a;
        font-weight: normal;
        font-size: 22px;
        padding: 30px 40px;
        border-top: 2px solid #efefef;
        transition: all 300ms ease;
        border-radius: 5px;
        position: relative;
        background-image: url(/assets/theme/images/question-active.png);
        background-repeat: no-repeat;
        background-position-x: 30px;
        background-position-y: 15px;
        &:before {
            position: absolute;
            display: block;
            content: "";
            border-width: 14px 0 14px 24px;
            border-color: transparent;
            border-left-color: #fff;
            border-style: solid;
            transition: border-left-color 300ms ease;
            left: 100%;
            top: 50%;
            margin-top: -14px;
        }
    }
}
.r-tabs .r-tabs-panel {
    padding: 0;
}

.questions-texts {
    font-size: 18px;
    color: #606060;
    .item {
        display: none;
        &.active {
            display: block;
        }
    }
}

@include media-breakpoint-down(lg) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}

.questions .r-tabs-accordion-title {
    a {
        background: #fff;
        color: #000;
        font-weight: bold;
        font-size: 17px;
        border-radius: 5px;
        padding: 27px 33px;
        padding-right: 80px;
        display: block;
        position: relative;
        margin-bottom: 22px;
        letter-spacing: 0.001em;
        &:after {
            display: block;
            position: absolute;
            content: "";
            right: 26px;
            top: 50%;
            background-image: url(/assets/theme/images/accordion-arrow.png);
            width: 22px;
            height: 12px;
            margin-top: -7px;
            background-size: contain;
            transform: rotate(90deg);
            transition: transform 300ms ease;
        }
    }
    &.r-tabs-state-active {
        a:after {
            transform: none;
        }
    }
}

@include media-breakpoint-down(xs) {
    .questions {
        padding-top: 40px;
        padding-bottom: 20px;
        .h3 {
            font-weight: normal;
            font-size: 18px;
            text-align: left;
            padding-bottom: 25px;
            margin-bottom: 0;
        }

        .r-tabs-panel {
            font-size: 15px;
            color: #000;
            padding-left: 2px;
            padding-right: 2px;
        }
    }
}
