.reviews {
    padding-top: 53px;
    .h3 {
        margin-bottom: 20px;
    }
    a.review {
        display: block;
        margin-bottom: 16px;
        img {
            max-width: 100%;
        }
    }
    .col-md-4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.reviews-row {
    margin: 0 auto;
    margin-top: 50px;
    width: 900px;
}

.reviews-more {
    margin-top: 30px;
    margin-bottom: 50px;
    .btn.btn-lg {
        padding-top: 14px;
        padding-bottom: 16px;
        padding-left: 35px;
        padding-right: 35px;
        &:after {
            content: "";
            display: inline-block;
            position: relative;
            background-image: url(/assets/theme/images/more-arrow.png);
            width: 5px;
            height: 9px;
            margin-left: 20px;
        }
    }
}

@include media-breakpoint-down(md) {
    .reviews {
        padding-top: 24px;
        padding-bottom: 30px;
        a.review {
            width: 360px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .reviews-row {
        margin-top: 23px;
        width: 100%;
    }
    .reviews-more {
        margin-top: 10px;
        margin-bottom: 0;
        .btn.btn-lg {
            display: block;
            width: 360px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@include media-breakpoint-down(sm) {
    .reviews-row {
        width: 100%;
    }
}

@include media-breakpoint-down(xs) {
    .reviews {
        a.review {
            width: 100%;
        }
    }
    .reviews-row {
        margin-top: 33px;
    }
    .reviews-more {
        .btn.btn-lg {
            width: 100%;
        }
    }
}
