.steps {
    padding-top: 60px;
    padding-bottom: 40px;
    .h3 {
        margin-bottom: 70px;
    }
}

.steps-list {
    background-image: url(/assets/theme/images/steps-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: calc(50% + 30px);
    display: flex;
    justify-content: space-between;
    min-height: 263px;
    margin: 60px 0 0 auto;

    .item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        position: relative;
        &:first-child {
            width: 140px;
            .image {
                width: 140px;
                height: 140px;
            }
            .caption {
                margin-bottom: -2em;
                margin-left: 10px;
            }
        }
        &:nth-child(3) {
            .caption {
                margin-bottom: -1.8em;
            }
        }
        &:nth-child(odd) {
            .caption {
                bottom: 0;
            }
        }
        &:nth-child(even) {
            .caption {
                top: 0;
            }
        }

        &:nth-child(2) {
            .caption {
                margin-left: 10px;
                margin-top: -7px;
            }
        }

        &:nth-child(4) {
            .caption {
                margin-left: 10px;
                margin-top: -7px;
            }
        }

        &:nth-child(5) {
            .caption {
                margin-left: 35px;
                margin-bottom: -7px;
            }
        }
    }

    .image {
        background: #fff;
        border-radius: 50%;
        display: inline-block;
        width: 105px;
        height: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 22px 46px 0px rgba(43, 188, 188, 0.17);

        img {
            display: block;
        }
    }
    .caption {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        font-size: 18px;
        line-height: 1.3;
    }
}

.steps-subtext {
    color: #ffffff;
    font-size: 110px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: -0px;
    position: relative;
    bottom: -70px;
    left: 10px;
}

@include media-breakpoint-down(lg) {
    .steps-list {
        background-image: none;
    }
    .steps-list .item:nth-child(even) .caption {
        top: auto;
        bottom: -11px;
    }
    .steps .h3 {
        margin-bottom: 0;
    }
    .steps-list {
        margin-top: 0;
    }
    .steps-subtext {
        font-size: 100px;
    }
}
